.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
README.md export-ignore
composer.lock export-ignore
esbuild.js export-ignore
package.json export-ignore
package-lock.json export-ignore
phpstan.neon export-ignore
rector.php export-ignore
tests/ export-ignore