@use "sass:string";

$encoding-reference: (('<', '%3C'), ('>', '%3E'), ('"', '\''), ('#', '%23'), ('&', '%26'));

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}

@function svg-url($svg) {
  @return 'url("' + svg-encode($svg) + '")';
}