@use "sass:map";
@use "sass:list";

$breakpoints: (
        xs: 26rem, // 416px
        sm: 48rem, // 768px
        md: 64rem, // 1024px
        lg: 80rem, // 1280px
        xl: 90rem // 1440px
) !default;

@function breakpoint-next($name) {
  $breakpoint-names: map.keys($breakpoints);
  $n: list.index($breakpoint-names, $name);
  @return if($n < list.length($breakpoint-names), list.nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $next: breakpoint-next($name);
  @if $next {
    @media (width < $next) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-infix($name) {
  @return if(breakpoint-min($name) == null, "", "-#{$name}");
}