//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";

.form-check {
  display: inline-flex;
  margin-right:  1rem;
  gap: .75rem;
}

.form-check-input {
  display: block;
  flex-shrink: 0;
  width: 1.25rem;
  aspect-ratio: 1;
  appearance: none;
  background-size: contain;
  border: 1px solid var(--input-border-color);
  print-color-adjust: exact; // Keep themed appearance for print

  &[type="checkbox"] {
    background: var(--checkbox-bg);
    border-radius: .25rem;
  }

  &[type="radio"] {
    background: var(--radio-bg);
    border-radius: 50%;
  }

  &:not(.is-invalid,:user-invalid,:disabled):hover,
  &:not(.is-invalid,:user-invalid):focus {
    border-color: var(--checkbox-input-focus-border, var(--input-focus-border));
  }

  &:checked {
    &[type="checkbox"] {
      --input-border-color: var(--checkbox-checked-border);
      --checkbox-bg: var(--checkbox-checked-bg);
    }

    &[type="radio"] {
      --input-border-color: var(--radio-checked-border);
      --radio-bg: var(--radio-checked-bg);
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: .5;
    }
  }
}

.form-check-label {
  color: var(--checkbox-label-color);
}

.d-block-checked {

}

:has(input[data-check]:checked) .d-block-checked {
  display: block !important;
}