//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";

.form-check {
  display: inline-flex;
  margin-right: $checkbox-inline-margin-end;
  gap: $checkbox-gap;
}

.form-check-input {
  flex-shrink: 0;
  width: $checkbox-input-width;
  aspect-ratio: 1;
  appearance: none;
  background-size: contain;
  border: $checkbox-border-width solid var(--input-border-color);
  print-color-adjust: exact; // Keep themed appearance for print
  transition: $checkbox-transition;

  &[type="checkbox"] {
    background: var(--checkbox-bg);
    border-radius: $checkbox-input-border-radius;
  }

  &[type="radio"] {
    background: var(--radio-bg);
    border-radius: $checkbox-radio-border-radius;
  }

  &:not(.is-invalid,:user-invalid,:disabled):hover,
  &:not(.is-invalid,:user-invalid):focus {
    border-color: var(--checkbox-input-focus-border, var(--input-focus-border));
    outline: $checkbox-input-focus-outline;
  }

  &:checked {
    &[type="checkbox"] {
      --input-border-color: var(--checkbox-checked-border, inherit);
      --checkbox-bg: var(--checkbox-checked-bg);
    }

    &[type="radio"] {
      --input-border-color: var(--radio-checked-border, inherit);
      --radio-bg: var(--radio-checked-bg);
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: $checkbox-input-disabled-opacity;
  }

  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: $checkbox-label-disabled-opacity;
    }
  }
}

.form-check-label {
  font-size: $checkbox-label-font-size;
  line-height: $checkbox-label-line-height;
  color: var(--checkbox-label-color, inherit);
  cursor: $checkbox-label-cursor;
}

.d-block-checked {

}

:has(input[data-check]:checked) .d-block-checked {
  display: block !important;
}