.form-select {
  display: block;
  width: 100%;
  padding: $select-padding-y $select-indicator-padding $select-padding-y $select-padding-x;
  font-family: $select-font-family;
  font-size:$select-font-size;
  font-weight: $select-font-weight;
  line-height: $select-line-height;
  color: var(--input-color);
  appearance: none;
  background-color: var(--input-bg-color);
  background-image: var(--select-bg);
  background-repeat: no-repeat;
  background-position: $select-bg-position;
  background-size: $select-bg-size;
  border: $select-border-width solid var(--input-border-color);
  @include border-radius($select-border-radius, 0);
  @include box-shadow($select-box-shadow);
  @include transition($select-transition);

  &:not(.is-invalid,:user-invalid,:disabled):hover,
  &:not(.is-invalid,:user-invalid):focus {
    --input-bg-color: var(--input-focus-bg-color);
    --input-border-color: var(--input-focus-border-color);
    --input-color: var(--input-focus-color);
    --select-bg: var(--select-hover-bg);
    outline: 0;

    @if $enable-shadows {
      @include box-shadow($select-box-shadow, $select-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $select-focus-box-shadow;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: $select-padding-x;
    background-image: none;
  }

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-bg-color);
    border-color: var(--input-disabled-border-color);
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--input-color);
  }
}