//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";

.form-check {
  display: inline-flex;
  margin-right: $checkbox-inline-margin-end;
  gap: $checkbox-gap;
}

.form-check-input {
  flex-shrink: 0;
  width: $checkbox-input-width;
  height: $checkbox-input-height;
  appearance: none;
  background-color: $checkbox-input-bg;
  background-image: var(--#{$prefix}form-check-bg-image, transparent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: $checkbox-input-border;
  print-color-adjust: exact; // Keep themed appearance for print
  @include transition($checkbox-transition);

  &[type="checkbox"] {
    @include border-radius($checkbox-input-border-radius);
  }

  &[type="radio"] {
    border-radius: $checkbox-radio-border-radius;
  }

  &:focus,
  &:hover {
    border-color: $checkbox-input-focus-border;
    outline: 0;
    box-shadow: $checkbox-input-focus-box-shadow;
  }

  &:checked {
    background-color: $checkbox-input-checked-bg-color;
    border-color: $checkbox-input-checked-border-color;

    &[type="checkbox"] {
      --#{$prefix}form-check-bg-image: #{escape-svg($checkbox-input-checked-bg-image)};
    }

    &[type="radio"] {
      --#{$prefix}form-check-bg-image: #{escape-svg($checkbox-radio-checked-bg-image)};
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: $checkbox-input-disabled-opacity;
  }

  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: $checkbox-label-disabled-opacity;
    }
  }
}

.form-check-label {
  font-size: $checkbox-label-font-size;
  line-height: $checkbox-label-line-height;
  color: $checkbox-label-color;
  cursor: $checkbox-label-cursor;
}