.form-select {
  display: block;
  width: 100%;
  padding: 0.5625rem 2.5rem 0.5625rem 1rem;
  color: var(--input-color);
  appearance: none;
  background-color: var(--input-bg-color);
  background-image: var(--input-caret);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px;
  border: 1px solid var(--input-border-color);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, color .15s ease-in-out;

  &:not(.is-invalid,:user-invalid,:disabled):hover,
  &:not(.is-invalid,:user-invalid):focus {
    --input-bg-color: var(--input-focus-bg-color);
    --input-border-color: var(--input-focus-border-color);
    --input-color: var(--input-focus-color);
    --input-caret: var(--caret-down);
    outline: 0;
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: 2.5rem;
    background-image: none;
  }

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-bg-color);
    border-color: var(--input-disabled-border-color);
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--input-color);
  }
}