//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";


.form-label {
  @include font-size($form-label-font-size);
  font-style: $form-label-font-style;
  font-weight: $form-label-font-weight;
  color: $form-label-color;
}

.col-form-label {
  padding-bottom: $form-label-padding-bottom;
  margin: 0;
  @include font-size(inherit);
  font-style: $form-label-font-style;
  font-weight: $form-label-font-weight;
  line-height: $input-line-height;
  color: $form-label-color;

  .required &:after {
    content: " *";
  }

  @include media-breakpoint-up(md) {
    padding: calc(($input-padding-y + $form-group-spacer) / 2 + $input-border-width) $form-group-spacer 0 0;
    text-align: right;

    @include media-breakpoint-up(md) {
      flex: 0 0 auto;
      width: 30%;
    }
  }
}

.col-form-content {
  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    width: 70%;
    margin-left: auto;

    > * {
      max-width: 60rem;
    }
  }
}