//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";

.form-group {
  display: grid;
  gap: .5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.form-group-horizontal {
  @include media-breakpoint-up(md) {
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
    max-width: 76rem;
    width: 100%;
  }
}

.form-group-sticky {
  position: sticky;
  margin-top: 1rem;
  padding-inline: 1rem;
  bottom: 0;
  border-top: 1px solid var(--form-sticky-border-color);
  background: var(--card-bg);
  z-index: 2;
}

.form-footer {
  font-size: .75rem;
  line-height: 1.125rem;
  color: var(--muted-color);

  a:not(:hover) {
    color: currentColor;
  }
}

.form-label {
  font-weight: 500;
  color: var(--color-black);

  .required &:after {
    content: " *";
  }
}

.col-form-label {
  @include media-breakpoint-up(md) {
    padding: 1px 0;
    align-self: flex-start;
    text-align: right;

    .form-label {
      padding: 0.5625rem 1px;
    }
  }
}

.col-form-content {
  @include media-breakpoint-up(md) {
    grid-column-start: 2;
  }
}