//@import "../../../../../../../node_modules/bootstrap/scss/forms/labels";

.form-group {
  display: grid;
  max-width: $form-group-max-width;
  margin: 0 auto;
  gap: $form-group-gap-xs;

  &:not(:last-child) {
    margin-bottom: $form-group-spacer;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: $form-group-template-columns;

    @if ($form-group-gap-md != $form-group-gap-xs) {
      gap: $form-group-gap-md;
    }
  }
}

.form-group-sticky {
  position: $form-sticky-position;
  margin-top: $form-group-spacer;
  padding: $form-group-spacer 0;
  bottom: 0;
  border-top: $form-sticky-border;
  background: var(--card-bg);
  z-index: 2;
}

.form-label {
  @include font-size($form-label-font-size);
  font-style: $form-label-font-style;
  line-height: $form-label-line-height;
  font-weight: $form-label-font-weight;
  color: $form-label-color;

  .required &:after {
    content: " *";
  }
}

.col-form-label {
  @include media-breakpoint-up(md) {
    padding: $border-width 0;
    align-self: flex-start;
    text-align: right;

    .form-label {
      padding: $form-label-padding-y $form-label-padding-x;
    }
  }
}

.col-form-content {
  @include media-breakpoint-up(md) {
    grid-column-start: 2;
  }
}