//@import "../../../../../node_modules/bootstrap/scss/forms/validation";

.is-invalid,
.form-group:has(.is-invalid,:user-invalid), {
  --input-bg-color: #{$form-invalid-bg};
  --input-border-color: #{$form-invalid-border-color};
  --input-color: #{$form-invalid-color};
}

.invalid-feedback {
  font-size: $font-size-sm;
  color: $form-invalid-color;
}