//@import "../../../../../node_modules/bootstrap/scss/forms/validation";

.is-invalid,
.form-group:has(.is-invalid,:user-invalid), {
  --input-bg-color: var(--form-invalid-bg);
  --input-border-color: var(--form-invalid-border);
  --input-color: var(--form-invalid-color);
}

.invalid-feedback {
  font-size: .875rem;
  color: var(--form-invalid-color);
}