@import "../../../../../node_modules/bootstrap/scss/card";

.card {
  margin-bottom: $app-card-margin-bottom;
}

.card-danger {
  --#{$prefix}card-border-color: #{$app-card-danger-border-color};
  --#{$prefix}card-cap-bg: #{$app-card-danger-bg};
  --#{$prefix}card-cap-color: #{$app-card-danger-color};
}

.card-title {

  &:last-child {
    margin-bottom: 0;
  }
}

.centered {
  margin: 0 auto;
  max-width: 400px;
}