@import "../../../../../node_modules/bootstrap/scss/dropdown";

.dropdown, .dropup {

  .grid-view-header & {
    width: 100%;
  }
}

.dropdown-toggle {
  --#{$prefix}btn-bg: #{$app-dropdown-button-bg};
  --#{$prefix}btn-border-color: #{$app-dropdown-button-border-color};
  --#{$prefix}btn-active-bg: #{$app-dropdown-button-active-bg};
  --#{$prefix}btn-active-border-color: #{$app-dropdown-button-active-border-color};
  --#{$prefix}btn-hover-bg: #{$app-dropdown-button-hover-bg};
  --#{$prefix}btn-hover-border-color: #{$app-dropdown-button-hover-border-color};

  width: 100%;
  @extend .text-truncate;

  &.active {
    font-weight: $app-dropdown-button-active-font-weight;
  }
}

.dropdown-menu {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;

  & > a {
    @extend .text-truncate;
  }
}

.dropdown-header {
  padding: $app-dropdown-header-padding-y $app-dropdown-header-padding-x;
  font-size: inherit;
  font-weight: normal;
  cursor: default;
}