@import "../../../../../node_modules/bootstrap/scss/dropdown";

.dropdown, .dropup {

  &.is-active > .btn {
    //background-color: $app-dropdown-button-active-bg;
    //color: $app-dropdown-button-active-color;
    //border-color: $app-dropdown-button-active-border-color;
  }

  //& > .btn-submit {
  //  background-color: $btn-primary-bg;
  //  color: color-contrast($btn-primary-bg);
  //  border-color: $btn-primary-border-color;
  //}

  .grid-view-header & {
    width: 100%;
  }
}

.dropdown-toggle {
  --#{$prefix}btn-border-color: #{$app-dropdown-button-border-color};
  --#{$prefix}btn-hover-border-color: #{$app-dropdown-button-hover-border-color};

  width: 100%;
  @extend .text-truncate;
}

.dropdown-menu {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;

  & > a {
    @extend .text-truncate;
  }
}

.dropdown-header {
  padding: $app-dropdown-header-padding-y $app-dropdown-header-padding-x;
  font-size: inherit;
  font-weight: normal;
  cursor: default;
}