@import "./forms/labels";
//@import "../../../../../node_modules/bootstrap/scss/forms/form-text";
@import "./forms/form-control";
@import "./forms/form-select";
@import "./forms/form-check";
//@import "../../../../../node_modules/bootstrap/scss/forms/form-range";
//@import "../../../../../node_modules/bootstrap/scss/forms/floating-labels";
@import "./forms/input-group";
@import "../../../../../node_modules/bootstrap/scss/forms/validation";

.form-group{
    padding-bottom: $app-form-group-padding-bottom;
}

.form-group-buttons {
  margin-top: $app-form-group-buttons-margin-top;
}

.form-group-sticky {
  position: $app-form-sticky-position;

  @if ($app-grid-view-footer-position == 'sticky') {
    margin-top: $app-form-group-buttons-margin-top;
    bottom: 0;
    border-top: $app-form-sticky-border;
    background-color: $card-bg;
    z-index: 2;
  }
}
