@import "../../../../../node_modules/bootstrap/scss/grid";

.grid-view-header {
  margin-bottom: $app-grid-view-header-spacer-y;
  border-bottom: $app-grid-view-header-border;

  [class*="col"] {
    padding-bottom: $app-spacer-y;
  }

  &:empty {
    display: none;
  }
}

.grid-view-buttons {
  margin-top: $app-grid-view-buttons-top;
}

.grid-view-footer {
  position: $app-grid-view-footer-position;
  margin-top: $app-grid-view-footer-spacer-y;
  border-top: $app-grid-view-footer-border;

  @if ($app-grid-view-footer-position == 'sticky') {
    bottom: 0;
    background-color: $card-bg;
    padding-bottom: $app-grid-view-footer-spacer-y;
    z-index: 1000;
  }

  [class*="col"] {
    padding-top: $app-spacer-y;
  }
}