//@import "../../../../../node_modules/bootstrap/scss/nav";

.nav {
  --#{$prefix}nav-link-bg: #{$app-navbar-light-bg};
  --#{$prefix}nav-link-hover-bg: #{$app-navbar-light-hover-bg};
  --#{$prefix}nav-link-color: #{$nav-link-color};
  --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
  --#{$prefix}nav-link-active-bg: #{$nav-pills-link-active-color};
  --#{$prefix}nav-link-active-color: #{$nav-pills-link-active-color};

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: $nav-link-padding-y $nav-link-padding-x;
  @include font-size($nav-link-font-size);
  font-weight: $nav-link-font-weight;
  color: var(--#{$prefix}nav-link-color);
  height: $nav-link-height;
  text-decoration: none;
  background: none;
  border: 0;
  @include transition($nav-link-transition);

  &:hover,
  &:focus {
    background: var(--#{$prefix}nav-link-hover-bg);
    color: var(--#{$prefix}nav-link-hover-color);
  }

  &.active,
  &.show {
    background: var(--#{$prefix}nav-link-active-bg);
    color: var(--#{$prefix}nav-link-active-color);
  }

  &:focus-visible {
    outline: 0;
    box-shadow: $nav-link-focus-box-shadow;
  }

  // Disabled state lightens text
  &.disabled,
  &:disabled {
    color: var(--#{$prefix}nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}

.nav-pills {
  --#{$prefix}nav-link-hover-bg: #{$app-nav-pills-link-hover-bg};
  --#{$prefix}nav-link-hover-color: #{$app-nav-pills-link-hover-color};
  --#{$prefix}nav-link-active-color: #{$nav-pills-link-active-color};
  --#{$prefix}nav-link-active-bg: #{$nav-pills-link-active-bg};

  gap: $app-nav-pills-gap;

  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}