//@import "../../../../../node_modules/bootstrap/scss/navbar";

.navbar {
  --#{$prefix}bg: #{$app-navbar-light-bg};
  --#{$prefix}toggler-border-color: #{$navbar-light-toggler-border-color};
  --#{$prefix}toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: $navbar-padding-y $navbar-padding-x;
  background: var(--#{$prefix}bg);

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    display: flex;
    align-items: center;
  }
}

.navbar-nav {
  --#{$prefix}nav-link-color: #{$navbar-light-color};
  --#{$prefix}nav-link-hover-bg: #{$app-navbar-light-hover-bg};
  --#{$prefix}nav-link-hover-color: #{$navbar-light-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$navbar-light-disabled-color};
  --#{$prefix}nav-link-active-color: #{$navbar-light-active-color};
  --#{$prefix}nav-link-active-bg: #{$app-navbar-light-active-bg};

  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;

  .dropdown-menu {
    position: static;
  }

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    flex-direction: row;

    .dropdown-menu {
      position: absolute;
    }
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.navbar-toggler {
  margin: $app-navbar-toggler-margin-y 0;
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  background-color: transparent;
  border: $border-width solid var(--#{$prefix}toggler-border-color);
  @include border-radius($navbar-toggler-border-radius);

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    display: none;
  }
}

.navbar-toggler-icon {
  display: block;
  width: 1em;
  height: 1em;
  background: var(--#{$prefix}toggler-icon-bg) no-repeat center;
}

.navbar-account-nav {
  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    flex-wrap: nowrap;
  }
}

.navbar-i18n-dropdown {
  display: none;

  @include media-breakpoint-up($app-navbar-expand-breakpoint) {
    display: block;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.navbar-logout{
  --#{$prefix}nav-link-hover-bg: #{$app-btn-danger-bg};
}

//noinspection ALL
.i18n-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat;
  background-size: contain;
  vertical-align: middle;

  &.de {
    background-image: url(../images/flags/de.png);
  }

  &.en-US {
    background-image: url(../images/flags/en-US.png);
  }

  &.fr {
    background-image: url(../images/flags/fr.png);
  }

  &.pt {
    background-image: url(../images/flags/pt.png);
  }

  &.zh-CN {
    background-image: url(../images/flags/zh-CN.png);
  }

  &.zh-TW {
    background-image: url(../images/flags/zh-TW.png);
  }
}

.i18n-label {
  margin-left: .5em;
}