//@import "../../../../../node_modules/bootstrap/scss/tables";

.table {
  --#{$prefix}table-color: #{$table-color};
  --#{$prefix}table-bg: #{$table-bg};
  --#{$prefix}table-border-color: #{$table-border-color};
  --#{$prefix}table-accent-bg: #{$table-accent-bg};
  --#{$prefix}table-striped-color: #{$table-striped-color};
  --#{$prefix}table-striped-bg: #{$table-striped-bg};
  --#{$prefix}table-active-color: #{$table-active-color};
  --#{$prefix}table-active-bg: #{$table-active-bg};
  --#{$prefix}table-hover-color: #{$table-hover-color};
  --#{$prefix}table-hover-bg: #{$table-hover-bg};

  width: 100%;
  margin-bottom: $spacer;
  vertical-align: $table-cell-vertical-align;
  border-color: var(--#{$prefix}table-border-color);

  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x;
    // Following the precept of cascades: https://codepen.io/miriamsuzanne/full/vYNgodb
    color: var(--#{$prefix}table-color);
    background-color: var(--#{$prefix}table-bg);
    border-bottom-width: $table-border-width;
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

.caption-top {
  caption-side: top;
}

.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
    --#{$prefix}table-color: var(--#{$prefix}table-striped-color);
    --#{$prefix}table-bg: var(--#{$prefix}table-striped-bg);
  }
}

.table-active {
  --#{$prefix}table-color: var(--#{$prefix}table-active-color);
  --#{$prefix}table-bg: var(--#{$prefix}table-active-bg);
}

.table-hover {
  > tbody > tr:hover > * {
    --#{$prefix}table-color: var(--#{$prefix}table-hover-color);
    --#{$prefix}table-bg: var(--#{$prefix}table-hover-bg);
  }
}

tr.is-selected {
  --#{$prefix}table-color: #{$app-table-selected-color};
  --#{$prefix}table-bg: #{$app-table-selected-bg};
  --#{$prefix}table-hover-color: #{$app-table-selected-hover-color};
  --#{$prefix}table-hover-bg: #{$app-table-selected-hover-bg};
  --#{$prefix}table-striped-color: #{$app-table-selected-color};
  --#{$prefix}table-striped-bg: #{$app-table-selected-bg};
}


th > a, th > a:hover {
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

th > a.asc, th > a.desc {
  position: relative;
  font-style: $app-table-th-active-font-style;
  text-decoration: $app-table-th-active-text-decoration;
}

.is-selected .is-selected-hidden, tr:not(.is-selected) .is-selected-block {
  display: none;
}

tr.disabled {
  opacity: .3;
}

tr.invalid {
  text-decoration: line-through;
}

a.asc:after, a.desc:after {
  display: inline-block;
  margin: 0 0 0.2em 0.5em;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid #000;
  content: "";
}

a.desc:after {
  border-top: 0.4em solid #000;
  border-bottom: 0;
}