@import "../../../../../node_modules/bootstrap/scss/type";

.icon-text {
  display: inline-flex;
  align-items: center;
  gap: $app-icon-gap-x;
}

.list-unstyled:last-child {
  margin-bottom: 0;
}

.strong {
  font-weight: bold;
}