$prefix: '';

// Color system
$white: #fff !default;
$gray-100: #f9f9f9 !default;
$gray-200: #f5f5f5 !default;
$gray-300: #eee !default;
$gray-400: #ddd !default;
$gray-500: #ccc !default;
$gray-600: #9d9d9d !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #da8888 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #a3cba3 !default;
$teal: #20c997 !default;
$cyan: #d9edf7 !default;

$primary: $gray-900 !default;
$secondary: $gray-400 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $primary !default;

//$app-info-text: #31708f !default;

// Body
$body-color: $gray-900 !default;
$body-bg: $gray-100 !default;

$body-secondary-color: rgba($body-color, .75) !default;
$body-secondary-bg: $gray-200 !default;
$body-tertiary-color: rgba($body-color, .5) !default;
$body-tertiary-bg: $gray-100 !default;
$body-emphasis-color: $black !default;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-size-base: .875rem !default;
$font-size-sm: 0.75rem !default;
$font-size-lg: 1rem !default;

$h1-font-size: 2.25em !default;
$h2-font-size: 1.125em !default;

$small-font-size: $font-size-sm;

$link-color: $body-color !default;
$link-hover-color: $primary !default;
$link-decoration: none !default;

$mark-bg: $success !default;
$mark-padding: 0 !default;
$caret-width: 0.25rem !default;
$caret-spacing: 0.5rem !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 36rem,
        md: 48rem,
        lg: 64rem,
        xl: 80rem
) !default;

// Grid containers
$container-max-widths: (
        xs: 100rem
) !default;

$container-padding-x: .5rem !default;

$border-width: 1px !default;
$border-radius: 0.1875rem !default;
$border-color: $gray-400 !default;

$app-margin-y: 2rem !default;
$app-padding-y: 1rem !default;
$app-padding-x: 1rem !default;

// Layout
$app-html-scroll-padding: 5rem !default;
$app-body-padding: $app-html-scroll-padding 0 1rem !default;

$component-active-bg: $gray-400 !default;
$component-active-color: $white !default;

// Nav
$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 0.75rem !default;
$nav-link-height: 3rem !default;

$app-nav-pills-gap: .5rem !default;
$app-nav-pills-link-hover-bg: $gray-300 !default;
$app-nav-pills-link-hover-color: $dark !default;
$nav-pills-link-active-color: $white !default;
$nav-pills-link-active-bg: $dark !default;
$nav-pills-border-radius: $border-radius !default;

// Navbar
$app-navbar-expand-breakpoint: md !default;
$app-navbar-light-bg: $dark !default;

$app-navbar-light-hover-bg: #090909 !default;
$app-navbar-light-active-bg: $app-navbar-light-hover-bg !default;

$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-light-color: $gray-400 !default;
$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $body-tertiary-bg !default;
$navbar-light-disabled-color: $gray-600 !default;

$navbar-border: 1px solid $app-navbar-light-active-bg !default;

$app-navbar-toggler-margin-y: .75rem !default;
$navbar-toggler-padding-y: .25rem !default;
$navbar-toggler-padding-x: .5rem !default;
$navbar-light-toggler-border-color: $white !default;
$navbar-light-icon-color: $white;

// Breadcrumbs
$breadcrumb-padding-y: $app-padding-y !default;
$breadcrumb-padding-x: $app-padding-x !default;
$breadcrumb-margin-bottom: $app-margin-y !default;
$breadcrumb-item-padding: 5px !default;
$breadcrumb-bg: $gray-200 !default;
$breadcrumb-divider-color: $gray-400 !default;

// Header
$app-header-margin: ($app-margin-y * 2) 0 $app-margin-y !default;
$app-header-padding-bottom: $app-padding-y !default;
$app-header-text-align: center !default;
$app-header-border-bottom: 1px solid $gray-300 !default;
$app-header-line-height: 1.5 !default;

$app-submenu-link-margin: 0 0.125rem $app-padding-x !default;
$app-submenu-margin: 0 0 $app-margin-y !default;
$app-submenu-justify-content: center !default;

///*
//Alert.
// */
//$alert-padding-y: $app-padding-y !default;
//$alert-padding-x: $app-padding-x !default;
//$alert-margin-bottom: $app-margin-y !default;

// Card
$card-bg: $white !default;
$card-color: $body-color !default;
$card-spacer-y: $app-padding-y !default;
$card-spacer-x: $app-padding-x !default;
$card-cap-padding-y: $app-padding-y !default;
$card-cap-color: null !default;
$card-cap-bg: $gray-200 !default;
$card-border-width: 0 !default;
$card-border-color: $border-color !default;
$card-inner-border-radius: 0 !default;
$app-card-margin-bottom: $app-margin-y !default;

$app-card-danger-bg: $danger !default;
$app-card-danger-border-color: $danger !default;
$app-card-danger-color: $white !default;

// Grid
$grid-gutter-width: 1rem !default;

$app-grid-view-footer-position: sticky !default;
$app-grid-view-margin-y: $app-padding-y !default;
$app-grid-view-border: 1px solid $border-color !default;
$app-grid-view-buttons-top: 0.5rem !default;

// Buttons
$app-btn-primary-color: $white !default;
$app-btn-primary-bg: $primary !default;
$app-btn-primary-border-color: $primary !default;
$app-btn-primary-hover-bg: $black !default;
$app-btn-primary-hover-color: $white !default;
$app-btn-primary-hover-border-color: $app-btn-primary-border-color !default;

$app-btn-secondary-bg: $gray-100 !default;
$app-btn-secondary-color: $body-color !default;
$app-btn-secondary-border-color: $border-color !default;
$app-btn-secondary-hover-bg: $white !default;
$app-btn-secondary-hover-color: $body-color !default;
$app-btn-secondary-hover-border-color: $primary !default;

$app-btn-danger-bg: $danger !default;
$app-btn-danger-color: $white !default;
$app-btn-danger-border-color: $app-btn-danger-bg !default;
$app-btn-danger-hover-bg: darken($danger, 10%) !default;
$app-btn-danger-hover-color: $white !default;
$app-btn-danger-hover-border-color: $app-btn-danger-hover-bg !default;


$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.375rem !default;

$app-btn-min-width: 2.625rem !default;

// Forms
$app-form-group-padding-bottom: $card-spacer-y !default;
$app-form-group-buttons-margin-top: $card-spacer-y !default;

$app-form-sticky-position: sticky !default;
$app-form-sticky-border-width: $border-width !default;

//$form-text-margin-top: 6px !default;
//
//$form-check-inline-margin-x: 20px !default;
//$form-check-inline-input-margin-x: 10px !default;
//
$input-font-size: 1rem !default;
$input-line-height: 1.5 !default;
$input-padding-y: 0.5rem !default;
$input-padding-x: 0.75rem !default;

//$input-height: 38px !default;
//
$input-btn-padding-y: 0.59375rem !default;
$input-btn-padding-x: .75rem !default;
$input-bg: $white !default;
$input-focus-color: $body-color;
$input-focus-bg: $white !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow: none !default;
$form-select-focus-box-shadow: none !default;
$form-label-font-weight: bold !default;

$hr-opacity: 1;
//
///*
//List group.
// */
//$list-group-border-color: $border-color !default;
//$list-group-item-padding-y: $app-padding-y !default;
//$list-group-item-padding-x: $app-padding-x !default;
//

// Tables
$table-bg: $white !default;
$table-color: $body-color !default;
$table-border-width: 1px !default;
$table-border-color: transparent !default;
$table-accent-bg: $white !default;
$table-hover-bg: $gray-300 !default;
$table-striped-bg: $gray-100 !default;
$table-striped-bg: $white !default;
$table-striped-color: $body-color !default;
$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;

$app-table-margin-bottom: 0 !default;
$app-table-th-active-font-style: normal !default;
$app-table-th-active-text-decoration: underline !default;
$app-table-th-border-width: 1px !default;
$app-table-th-border-color: $table-border-color !default;

$app-table-selected-color: $body-color !default;
$app-table-selected-bg: $info !default;
$app-table-selected-border-color: $white !default;
$app-table-selected-hover-color: $body-color !default;
$app-table-selected-hover-bg: darken($info, 10%) !default;
$app-table-selected-hover-border-color: $white !default;

//
///*
//Pagination.
// */
//$app-pagination-justify-content: center !default;
//$app-pagination-margin: 30px 0 0 !default;
//$app-pagination-padding: 20px 0 10px !default;
//$app-pagination-border-top: 1px solid $border-color !default;
//
//$pagination-padding-y: $input-btn-padding-y !default;
//$pagination-padding-x: $input-btn-padding-x !default;
//$pagination-line-height: $line-height-base !default;
//
//$pagination-border-color: $border-color !default;
//$pagination-hover-border-color: $border-color !default;
//
//$pagination-focus-box-shadow: none !default;
//


// Dropdown
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: 0 !default;
$dropdown-spacer: 2px !default;
$dropdown-bg: $white !default;
$dropdown-border-color: $border-color !default;
$dropdown-divider-bg: $border-color !default;
$dropdown-divider-margin-y: 0 !default;
$dropdown-item-padding-y: .6563rem !default;
$dropdown-link-hover-bg: $body-tertiary-bg !default;
$dropdown-link-active-bg: $body-tertiary-bg !default;

$app-dropdown-button-bg: $body-tertiary-bg !default;
$app-dropdown-button-border-color: $border-color !default;
$app-dropdown-button-active-bg: $app-dropdown-button-bg !default;
$app-dropdown-button-active-border-color: $dark !default;
$app-dropdown-button-hover-bg: $gray-200 !default;
$app-dropdown-button-hover-border-color: $dark !default;

$dropdown-item-padding-y: $input-btn-padding-y !default;
$dropdown-item-padding-x: $input-btn-padding-x !default;
$dropdown-link-color: $link-color !default;
$dropdown-link-hover-color: $link-color !default;
$dropdown-link-active-color: inherit !default;
$dropdown-link-active-bg: $body-tertiary-bg !default;

$app-dropdown-header-padding-y: $dropdown-item-padding-y !default;
$app-dropdown-header-padding-x: $dropdown-item-padding-x !default;

// Badge
$badge-font-size: 0.75rem !default;
$badge-color: $white !important !default;
$app-badge-bg: $gray-600 !default;
$app-badge-active-bg: $white !default;
$app-badge-active-color: $dark !important !default;
$badge-font-weight: normal !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.5rem !default;
$badge-border-radius: 0.5rem !default;
//
///*
//Toolbar.
// */
//$app-toolbar-padding-y: $app-padding-y !default;
//$app-toolbar-padding-x: $app-padding-x !default;
//$app-toolbar-background: $body-bg !default;
//$app-toolbar-border: 1px solid $border-color !default;
//
//
///*
//Tooltip.
// */
//$tooltip-max-width: 200px !default;
//$tooltip-min-width: 80px !default;
//
///**
//Thumbnail.
// */
//$thumbnail-padding: $app-padding-y !default;
//$thumbnail-caption-padding: $app-padding-x !default;
//

// Icon
$app-icon-gap-x: .5rem !default;
//
///*
//Upload.
// */
//$app-upload-progress-top: 51px !default;
//$app-upload-progress-height: 10px !default;
//$app-upload-progress-bg: $success !default;
//
///*
//Datepicker.
// */
//$datepicker-spacer-y: $card-spacer-y !default;
//$datepicker-spacer-x: $card-spacer-x !default;
//$datepicker-spacer: $datepicker-spacer-y $datepicker-spacer-x !default;
//$datepicker-bg: $card-bg !default;
//$datepicker-color: $card-color !default;
//$datepicker-header-margin: -10px -15px 10px !default;
//$datepicker-header-padding: $datepicker-spacer !default;
//$datepicker-border: $card-border-width solid $card-border-color !default;
//$datepicker-header-bg: $card-cap-bg !default;
//$datepicker-header-color: $card-cap-color !default;
//$datepicker-td-padding: 0 !default;
//$datepicker-td-border: $card-border-width solid $card-border-color !default;
//$datepicker-link-padding: 6px !default;
//$datepicker-link-bg: $gray-200 !default;
//$datepicker-link-color: $input-color !default;
//$datepicker-link-hover-bg: $gray-400 !default;
//$datepicker-link-hover-color: $datepicker-link-color !default;
//$datepicker-link-current-bg: $gray-900 !default;
//$datepicker-link-current-color: $white !default;
//$datepicker-link-today-bg: $gray-500 !important !default;
//$datepicker-link-today-color: $datepicker-link-color !default;
//


// Trail
$trail-del-bg: $danger !default;
$trail-ins-bg: $success !default;
$trail-cell-padding: 0.5rem !default;

@import "../../../../../node_modules/bootstrap/scss/variables";
//@import "../../../../../node_modules/bootstrap/scss/variables-dark";