@use "../node_modules/tinymce/skins/ui/oxide/skin.min.css";

div.tox-tinymce {
  border: 1px solid var(--input-border-color);
  border-radius: .25rem;
  transition: background-color .2s, border-color .2s;

  &:hover,
  &.tox-edit-focus {
    --input-border-color: var(--input-focus-border-color);
  }
}

.tox-edit-focus .tox-edit-area__iframe {
  background-color: var(--input-focus-bg-color);
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none;
  padding: 0;
  background: var(--input-group-bg);
  border-bottom: 1px solid var(--input-border-color);
}

.tox .tox-toolbar__group {
  border: 0;
  padding: 0.375rem;
  gap: 0.25rem;
}

.tox .tox-tbtn {
  background: none;
  margin: 0;
}

.tox .tox-tbtn:active,
.tox .tox-tbtn--active,
.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:focus,
.tox .tox-tbtn--enabled:hover {
  background-color: var(--btn-secondary-bg);
}

.tox-toolbar,
.tox-toolbar__overflow,
.tox-toolbar-overlord,
.tox-toolbar__primary {
  background: none !important;
}

.tox .tox-edit-area::before {
  border: 0;
}

.form-row:has(tinymce-editor) .label {
  padding: .5rem 0;
}