.flashes {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 4rem;
  width: min(32rem, 100%);
  z-index: 1000;

  .alert {
    pointer-events: all;
    transition-behavior: allow-discrete;
    transition: opacity .3s ease, translate .3s ease;

    @starting-style {
      opacity: 0;
      translate: 1rem;
    }

    &.dismissed {
      opacity: 0;
      translate: 100%;
    }
  }
}

.alert {
  --link-color: var(--alert-link-color);
  --link-hover-color: var(--alert-link-hover-color);

  align-items: flex-start;
  border-radius: .25rem;
  background: var(--alert-bg);
  border: 1px solid var(--alert-border-color);
  color: var(--alert-color);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  position: relative;

  a {
    text-decoration: underline
  }

  ul {
    padding-left: 1rem;
    list-style-type: square;
  }

  li {
    padding-top: .25rem;
    font-weight: normal;
  }
}

.alert-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: flex-end;
}

.alert-heading {
  margin-bottom: .5rem;
  font-weight: 700;
}

[data-alert="success"] {
  --alert-bg: var(--alert-success-bg);
  --alert-border-color: var(--alert-success-border-color);
  --alert-color: var(--alert-success-color);
  --alert-link-color: var(--alert-success-link-color);
  --alert-link-hover-color: var(--alert-success-link-hover-color);
}

[data-alert="info"] {
  --alert-bg: var(--alert-info-bg);
  --alert-border-color: var(--alert-info-border-color);
  --alert-color: var(--alert-info-color);
  --alert-link-color: var(--alert-info-link-color);
  --alert-link-hover-color: var(--alert-info-link-hover-color);
}

[data-alert="warning"] {
  --alert-bg: var(--alert-warning-bg);
  --alert-border-color: var(--alert-warning-border-color);
  --alert-color: var(--alert-warning-color);
  --alert-link-color: var(--alert-warning-link-color);
  --alert-link-hover-color: var(--alert-warning-link-hover-color);
}

[data-alert="danger"],
[data-alert="error"] {
  --alert-bg: var(--alert-danger-bg);
  --alert-border-color: var(--alert-danger-border-color);
  --alert-color: var(--alert-danger-color);
  --alert-link-color: var(--alert-danger-link-color);
  --alert-link-hover-color: var(--alert-danger-link-hover-color);
}