.btn {
  background: var(--btn-bg, transparent);
  border-radius: .25rem;
  border: 1px solid var(--btn-border, transparent);
  color: var(--btn-color, var(--color-black));
  cursor: pointer;
  display: block;
  font-size: .875rem;
  font-weight: 500;
  min-width: 2.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    color: var(--btn-hover-color);
  }

  .btn-check:focus-visible + & {
    border-color: var(--btn-hover-border-color);
    outline: 0;
  }

  &.active, .active > & {
    background-color: var(--btn-active-bg, transparent);
    border-color: var(--btn-active-border-color, transparent);
    color: var(--btn-active-color);
  }

  &:focus-visible {
    border-color: var(--btn-focus-border-color);
    outline: 0;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: .5;
  }

  &:has(i:only-child) {
    padding-inline: 0;
  }
}

.btn-primary {
  --btn-bg: var(--btn-primary-bg);
  --btn-border: var(--btn-primary-border-color);
  --btn-color: var(--btn-primary-color);
  --btn-hover-bg: var(--btn-primary-hover-bg);
  --btn-hover-border-color: var(--btn-primary-hover-border-color);
  --btn-hover-color: var(--btn-primary-hover-color);
}

.btn-secondary {
  --btn-bg: var(--btn-secondary-bg);
  --btn-border: var(--btn-secondary-border-color);
  --btn-color: var(--btn-secondary-color);
  --btn-hover-bg: var(--btn-secondary-hover-bg);
  --btn-hover-border-color: var(--btn-secondary-hover-border-color);
  --btn-hover-color: var(--btn-secondary-hover-color);
}

.btn-danger {
  --btn-bg: var(--btn-danger-bg);
  --btn-border: var(--btn-danger-border-color);
  --btn-color: var(--btn-danger-color);
  --btn-hover-bg: var(--btn-danger-hover-bg);
  --btn-hover-border-color: var(--btn-danger-hover-border-color);
  --btn-hover-color: var(--btn-danger-hover-color);
}

// Todo
.btn-link {
  background: transparent !important;
  margin: 0;
  padding: 0;
  border: 0 !important;
  min-width: auto;
  line-height: inherit;
  font-weight: inherit;
  vertical-align: inherit;

  &:focus-visible {
    color: var(--btn-color);
  }

  &:hover {
    color: var(--btn-hover-color);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

// todo
.btn-icon {
  background: var(--btn-icon-bg, transparent);
  border: 0;
  color: inherit;
  border-radius: .25rem;
  @extend .icon;

  &:hover {
    background: var(--btn-icon-hover-bg);
  }

  &:focus-visible {
    background: var(--btn-icon-focus-bg);
    outline: 0;
  }
}

.btn-collapse {
  transition: rotate 0.2s;

  .collapsed & {
    rotate: -90deg;
  }
}

.btn-sm {
  border-radius: .25rem;
  font-size: .75rem;
  line-height: 1.125rem;
  padding: 0.25rem .375rem;
}

.btn-group {
  display: flex;
  gap: .5rem;

  &:not(:first-child) {
    margin-top: .5rem;
  }

  .text-end > & {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}