@use "sass:math";

@import "forms/labels";
//@import "../../../../node_modules/bootstrap/scss/forms/form-text";
@import "forms/form-control";
@import "forms/form-select";
@import "forms/form-check";
//@import "../../../../node_modules/bootstrap/scss/forms/form-range";
//@import "../../../../node_modules/bootstrap/scss/forms/floating-labels";
@import "forms/input-group";
@import "forms/validation";

.form-group {
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: $grid-gutter-width;
  }
}

.form-group-sticky {
  position: $app-form-sticky-position;

  @if ($app-grid-view-footer-position == 'sticky') {
    margin-top: $grid-gutter-width;
    bottom: 0;
    border-top: $app-form-sticky-border;
    background-color: $card-bg;
    z-index: 2;
  }

  .row {
    padding-top: $grid-gutter-width;
  }
}
