.grid {
  display: grid;
  gap: 1rem;
}

.grid-header {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1rem;

  @include media-breakpoint-up(sm) {
    --cols: 2;
  }

  @include media-breakpoint-up(md) {
    --cols: 3;
  }

  @include media-breakpoint-up(lg) {
    --cols: 4;
  }

  @include media-breakpoint-up(xl) {
    --cols: 5;
  }
}

.grid-search {
  grid-column-start: var(--cols);
}

.grid-footer {
  position: sticky;
  display: flex;
  gap: .5rem;
  bottom: 0;
  margin-top: calc(-1rem - 1px);
  background: var(--card-bg);
  border-top: 1px solid var(--table-th-border-color);
  padding-block: 1rem;
  z-index: 100;
}