//@import "../../../../node_modules/bootstrap/scss/grid";

.row {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-.5 * $grid-gutter-width);

  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: calc(.5 * $grid-gutter-width);
  }
}

.grid-view-header {
  margin-bottom: $app-grid-view-header-spacer-y;
  border-bottom: $app-grid-view-header-border;

  .row {
    padding-bottom: $app-spacer-y;

    & > * {

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 auto;
        max-width: 25%;
      }
    }
  }

  &:empty {
    display: none;
  }
}

.grid-view-buttons {
  margin-top: $app-grid-view-buttons-top;
}

.grid-view-footer {
  position: $app-grid-view-footer-position;
  margin-top: $app-grid-view-footer-spacer-y;
  border-top: $app-grid-view-footer-border;

  @if ($app-grid-view-footer-position == 'sticky') {
    bottom: 0;
    background-color: $card-bg;
    padding-bottom: $app-grid-view-footer-spacer-y;
    z-index: 1000;
  }

  .row {
    padding-top: $app-spacer-y;
    justify-content: space-between;

    & > * {
      width: auto;
    }
  }
}