.page-header {
  margin: $app-header-margin;
  padding-bottom: $app-header-padding-bottom;
  text-align: $app-header-text-align;
  border-bottom: $app-header-border-bottom;
  line-height: $app-header-line-height;
}

.submenu {
  margin: $app-submenu-margin;
  justify-content: $app-submenu-justify-content;
}