.input {
  appearance: none;
  background-clip: padding-box;
  background-color: var(--input-bg-color);
  border-radius: .25rem;
  border: 1px solid var(--input-border-color);
  color: var(--input-color);
  display: block;
  outline: 0;
  padding: 0.5rem 1rem;
  width: 100%;

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-bg-color);
    border-color: var(--input-disabled-border-color);
    opacity: 1;
  }

  &:not(.is-invalid, :user-invalid, :disabled):hover,
  &:not(.is-invalid, :user-invalid):focus {
    --input-bg-color: var(--input-focus-bg-color);
    --input-border-color: var(--input-focus-border-color);
    --input-color: var(--input-focus-color);
  }

  &[type="checkbox"],
  &[type="color"],
  &[type="radio"] {
    aspect-ratio: 1;
    height: 1.25rem;
    flex-shrink: 0;
    padding: 0;
    width: auto;
  }

  &[type="checkbox"],
  &[type="radio"] {
    background-size: contain;

    &:disabled {
      pointer-events: none;
      opacity: .5;
    }
  }

  &[type="checkbox"] {
    background: var(--checkbox-bg);

    &:checked {
      background: var(--checkbox-checked-bg);
    }
  }

  &[type="radio"] {
    background: var(--radio-bg);
    border-radius: 50%;

    &:checked {
      background: var(--radio-checked-bg);
    }
  }

  &[type="color"] {

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  //&::-webkit-date-and-time-value {
  //  min-width: 85px; // Seems to be a good minimum safe width
  //}
}

//.input-plaintext {
//  display: block;
//  width: 100%;
//  padding: 0.5625rem 0;
//  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
//  background-color: transparent;
//  border: solid transparent;
//  border-width: 1px 0;
//
//  &:focus {
//    outline: 0;
//  }
//}
