.input {
  appearance: none;
  border-radius: .25rem;
  border: 1px solid var(--input-border-color);
  color: var(--input-color);
  display: block;
  outline: 0;
  padding: 0.5rem 1rem;
  width: 100%;

  &:is(input,select,textarea) {
    background-color: var(--input-bg-color);

    &:not([aria-invalid], :user-invalid, :disabled):hover,
    &:not([aria-invalid], :user-invalid):focus {
      --input-bg-color: var(--input-focus-bg-color);
      --input-border-color: var(--input-focus-border-color);
      --input-caret: var(--caret-down);
      --input-color: var(--input-focus-color);
    }
  }

  &:is(select) {
    background-image: var(--input-caret);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 0.875rem;
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: 2.5rem;
    background-image: none;
  }

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-bg-color);
    border-color: var(--input-disabled-border-color);
    opacity: 1;
  }

  &[type="checkbox"],
  &[type="color"],
  &[type="radio"] {
    aspect-ratio: 1;
    height: 1.25rem;
    flex-shrink: 0;
    padding: 0;
    width: auto;
  }

  &[type="checkbox"],
  &[type="radio"] {
    background-size: contain;

    &:disabled {
      pointer-events: none;
      opacity: .5;
    }
  }

  &[type="checkbox"] {
    background: var(--checkbox-bg);

    &:checked {
      --checkbox-bg: var(--checkbox-checked-bg);
    }
  }

  &[type="radio"] {
    background: var(--radio-bg);
    border-radius: 50%;

    &:checked {
      --radio-bg: var(--radio-checked-bg);
    }
  }

  &[type="color"] {

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  //&::-webkit-date-and-time-value {
  //  min-width: 85px; // Seems to be a good minimum safe width
  //}
}

.input-group {
  align-items: stretch;
  background: var(--input-group-bg);
  border-radius: .25rem;
  border: 1px solid var(--input-border-color);
  color: var(--input-color);
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  .btn,
  .input,
  .select {
    border: 0;
    border-radius: 0;
  }

  > .input,
  > .select {
    flex: 1 1 auto;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    position: relative; // For focus state's z-index
    width: 1%;
  }


  &:not(:has([aria-invalid],:user-invalid)):focus-within,
  &:not(:has([aria-invalid],:user-invalid)):hover {
    --input-bg-color: var(--input-focus-bg-color);
    --input-border-color: var(--input-focus-border-color);
    --input-color: var(--input-focus-color);
  }

  //&:not(.has-validation) {
  //  > :not(:last-child):not(.dropdown-btn):not(.dropdown-menu),
  //  > .dropdown-btn:nth-last-child(n + 3) {
  //    border-bottom-right-radius: 0;
  //    border-top-right-radius: 0;
  //  }
  //}
  //
  //&.has-validation {
  //  > :nth-last-child(n + 3):not(.dropdown-btn):not(.dropdown-menu),
  //  > .dropdown-btn:nth-last-child(n + 4) {
  //    border-bottom-right-radius: 0;
  //    border-top-right-radius: 0;
  //  }
  //}

  > :not(:first-child):not(.dropdown-menu) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
