//@import "../../../../node_modules/bootstrap/scss/tooltip";

.tooltip {
  --#{$prefix}tooltip-color: #{$tooltip-color};
  --#{$prefix}tooltip-bg: #{$tooltip-bg};

  width: max-content;
  position: absolute;
  word-wrap: break-word;
  //opacity: 0;
  z-index: $zindex-tooltip;
  margin: $tooltip-margin;
  @include reset-text();
  @include font-size($tooltip-font-size);

  &.show {
    opacity: $tooltip-opacity;
  }
}

.tooltip-arrow {
  position: absolute;
  width: $tooltip-arrow-width;
  height: $tooltip-arrow-height;
  background-color: var(--#{$prefix}tooltip-bg);
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.tooltip-inner {
  position: relative;
  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  background-color: var(--#{$prefix}tooltip-bg);
  color: var(--#{$prefix}tooltip-color);
  text-align: center;
  @include border-radius($tooltip-border-radius);
}
