//@import "../../../../node_modules/bootstrap/scss/type";

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

.small {
  @extend small;
}

.strong {
  @extend strong;
}

.mark {
  @extend mark;
}

.list-unstyled {
  @include list-unstyled();

  &:last-child {
    margin-bottom: 0;
  }
}

.list-inline {
  @include list-unstyled();
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

.icon-text {
  display: inline-flex;
  align-items: center;
  vertical-align: top; // Fixes 0.5px margin issue in links
  gap: $app-icon-gap-x;
}

.text-muted {
  color: $text-muted !important;

  a:not(:hover) {
    color: inherit;
  }
}

.text-invalid {
  text-decoration: line-through;
}

// Deprecated, use .text-end instead
.text-right {
  text-align: right;
}