.hidden,
.hidden-empty:empty {
  display: none;
}

:has(:checked) .block-has-checked {
  display: block;
}

@include media-breakpoint-up(md) {
  .md\:block {
    display: block;
  }

  .md\:table-cell {
    display: table-cell;
  }
}

@include media-breakpoint-up(lg) {
  .lg\:table-cell {
    display: table-cell;
  }
}