@use "../shared/breakpoints" as *;
@use "../shared/svg" as *;

.aside {
  background-color: var(--aside-bg);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100dvh;
  justify-content: space-between;
  overflow-y: auto;
  position: sticky;
  scrollbar-width: none;
  top: 0;
  width: 14rem;

  @include media-breakpoint-down(sm) {
    left: -14rem;
    position: fixed;
    top: 0;
    z-index: 40;
  }

  @include media-breakpoint-up(lg) {
    width: 16rem;
  }

  .nav-link {
    border: 0;
  }

  .nav-link-icon {
    min-width: 1rem;
  }
}

.aside-nav {
  --nav-link-active-border-color: var(--aside-link-active-border-color);
  --nav-link-active-bg: var(--aside-link-active-bg);
  --nav-link-active-color: var(--aside-link-active-color);
  --nav-link-bg: var(--aside-link-bg);
  --nav-link-border-color: var(--aside-link-border-color);
  --nav-link-color: var(--aside-link-color);
  --nav-link-hover-bg: var(--aside-link-hover-bg);
  --nav-link-hover-border-color: var(--aside-link-hover-border-color);
  --nav-link-hover-color: var(--aside-link-hover-color);

  flex-flow: column;
  padding-block: 1rem;

  &:not(:first-child) {
    border-top: 1px solid var(--border-color);
  }

  & > .nav-item {
    padding-inline: 1rem;
  }

  .nav-link:has(~ .subnav .active):after {
    position: absolute;
    top: 0;
    left: .5rem;
    height: 100%;
    aspect-ratio: 3 / 4;
    content: #{svg-url('<svg viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg"><path d="M9 24.75C9 24.3358 9.33579 24 9.75 24V24C10.1642 24 10.5 24.3358 10.5 24.75V28H9V24.75Z"/></svg>')};
  }
}

.subnav {
  display: none;
  gap: 0;

  &.active, .nav-item:has(.active) > & {
    display: flex;
    flex-flow: column;
    padding-bottom: .5rem;
  }

  .nav-link {
    padding-left: 2.5rem;
    --after: '';
    --before: '';

    @media (hover: hover) {
      &:hover {
        --before: #{svg-url('<svg viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg"><path d="M9 7.75C9 7.33579 9.33579 7 9.75 7V7C10.1642 7 10.5 7.33579 10.5 7.75V9.95C10.5 10.8025 10.5006 11.3967 10.5384 11.8593C10.5755 12.3132 10.6446 12.574 10.7452 12.7715C10.961 13.1948 11.3052 13.539 11.7285 13.7548C11.926 13.8554 12.1868 13.9245 12.6407 13.9616C13.1033 13.9994 13.6975 14 14.55 14H17.9393L16.2197 12.2803C15.9268 11.9874 15.9268 11.5126 16.2197 11.2197C16.5126 10.9268 16.9874 10.9268 17.2803 11.2197L20.2803 14.2197C20.5732 14.5126 20.5732 14.9874 20.2803 15.2803L17.2803 18.2803C16.9874 18.5732 16.5126 18.5732 16.2197 18.2803C15.9268 17.9874 15.9268 17.5126 16.2197 17.2197L17.9393 15.5H14.5179C13.705 15.5 13.0494 15.5 12.5185 15.4566C11.9719 15.412 11.4918 15.3176 11.0475 15.0913C10.3419 14.7317 9.76825 14.1581 9.40873 13.4525C9.18239 13.0082 9.08803 12.5281 9.04336 11.9815C8.99999 11.4506 8.99999 10.795 9 9.98212V7.75Z" fill="#ebe6e7"/></svg>')};
      }
    }

    &.active {
      --before: #{svg-url('<svg viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg"><path d="M19 14.25H19.75V15.75H19V14.25ZM10.077 13.362L10.7452 13.0215V13.0215L10.077 13.362ZM11.388 14.673L11.7285 14.0048H11.7285L11.388 14.673ZM10.5 0V10.2H9V0H10.5ZM14.55 14.25H19V15.75H14.55V14.25ZM10.5 10.2C10.5 11.0525 10.5006 11.6467 10.5384 12.1093C10.5755 12.5632 10.6446 12.824 10.7452 13.0215L9.40873 13.7025C9.18239 13.2582 9.08803 12.7781 9.04336 12.2315C8.99942 11.6936 9 11.0277 9 10.2H10.5ZM14.55 15.75C13.7223 15.75 13.0564 15.7506 12.5185 15.7066C11.9719 15.662 11.4918 15.5676 11.0475 15.3413L11.7285 14.0048C11.926 14.1054 12.1868 14.1745 12.6407 14.2116C13.1033 14.2494 13.6975 14.25 14.55 14.25V15.75ZM10.7452 13.0215C10.9609 13.4448 11.3052 13.7891 11.7285 14.0048L11.0475 15.3413C10.3419 14.9817 9.76825 14.4081 9.40873 13.7025L10.7452 13.0215Z"/><path d="M17 12L20 15L17 18" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')};
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;
      left: .5rem;
      height: 100%;
      aspect-ratio: 3 / 4;
    }

    &:after {
      content: var(--after);
    }

    &:before {
      content: var(--before);
    }
  }

  & > li:has(~ li .active) .nav-link {
    --before: #{svg-url('<svg viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg"><rect x="9" width="1.5" height="28"/></svg>')};

    @media (hover: hover) {
      &:hover {
        --after: #{svg-url('<svg viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg"><path d="M11.5 15.2751C11.8158 15.3745 12.1522 15.4267 12.5185 15.4566C13.0494 15.5 13.705 15.5 14.5179 15.5H17.9393L16.2197 17.2197C15.9268 17.5126 15.9268 17.9874 16.2197 18.2803C16.5126 18.5732 16.9874 18.5732 17.2803 18.2803L20.2803 15.2803C20.5732 14.9874 20.5732 14.5126 20.2803 14.2197L17.2803 11.2197C16.9874 10.9268 16.5126 10.9268 16.2197 11.2197C15.9268 11.5126 15.9268 11.9874 16.2197 12.2803L17.9393 14H14.55C13.6975 14 13.1033 13.9994 12.6407 13.9616C12.1868 13.9245 11.926 13.8554 11.7285 13.7548C11.6495 13.7145 11.5732 13.6697 11.5 13.6208V15.2751Z" fill="#CCCCCC"/></svg>')};
      }
    }
  }
}


.aside-close {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background: rgba(0, 0, 0, .3);

  @include media-breakpoint-down(sm) {
    .has-aside & {
      display: block;
    }
  }
}

.aside-toggle {

  @include media-breakpoint-up(md) {
    display: none;
  }
}


.aside-badge {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    margin-left: auto;
  }
}