.badge {
  background: var(--badge-bg);
  border-radius: .25rem;
  color: var(--badge-color);
  display: inline-block;
  font-family: Bebas Neue, sans-serif;
  font-size: .75rem ;
  font-weight: 700;
  letter-spacing: .0625em;
  line-height: 1;
  padding: 0.25rem .5rem;
  text-align: center;
  text-decoration: none !important;
  transition: background .2s, color .2s;
  vertical-align: baseline;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}

a.badge:hover {
  --badge-bg: var(--badge-active-bg);
  --link-hover-color: var(--badge-active-color);
}

.badge-info {
  --badge-bg: var(--badge-info-bg);
  --badge-color: var(--badge-info-color);
}

.badge-error {
  --badge-bg: var(--badge-error-bg);
  --badge-color: var(--badge-error-color);
}

.badge-warning {
  --badge-bg: var(--badge-warning-bg);
  --badge-color: var(--badge-warning-color);
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
