@use "../shared/breakpoints" as *;


.breadcrumbs-list {
  display: flex;
  background-color: var(--breadcrumb-bg);
  gap: .5rem;
  overflow-x: auto;
  padding: 0.5rem 1rem;

  @include media-breakpoint-down(sm) {
    margin-right: 5rem;
    position: relative;

    &::after {
      background: linear-gradient(to right, transparent, var(--body-bg));
      bottom: 0;
      content: "";
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
    }
  }
}

.breadcrumbs-item {
  display: flex;
  gap: .5rem;
  max-width: 10em;

  &:last-child {
    max-width: 30em;
  }

  &:not(:first-child)::before {
    color: var(--breadcrumb-divider-color);
    content: "/"
  }
}

.breadcrumbs-link {
  --link-color: var(--breadcrumb-link-color);
  --link-hover-color: var(--breadcrumb-link-hover-color);
  display: block;
  overflow: hidden;
  padding: 0.0625rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}