.card {
  --stack-link-bg: var(--card-stack-link-bg);
  --stack-link-hover-bg: var(--card-stack-link-hover-bg);
  background: var(--card-bg);
  border-radius: .25rem;
  border: 1px solid var(--card-border-color);
  color: var(--card-color);
  position: relative;
  word-wrap: break-word;
}

[data-card="danger"] {
  --card-header-bg: var(--card-danger-header-bg);
  --card-header-color: var(--card-danger-header-color);
}

.card-header {
  --btn-color: var(--card-header-color);
  padding: 0.8125rem 1rem;
  color: var(--card-header-color);
  background: var(--card-header-bg);
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}


.card-body {
  padding: 1rem;

  &:last-child {
    border-radius: 0 0 .25rem .25rem;
  }

  &:has(.sticky:last-child) {
    padding-bottom: 0;
  }

  .collapsed > & {
    display: none;
  }
}

.card-header, .card-body {
  &:first-child {
    border-radius: .25rem .25rem 0 0;
  }
}

.card.collapsed {
  .card-header {
    border-radius: .25rem;
  }
}

.card-title {
  &:last-child {
    margin-bottom: 0;
  }
}