.card {
  background: var(--card-bg);
  border-radius: .25rem;
  border: 1px solid var(--card-border-color);
  color: var(--card-color);
  position: relative;
  word-wrap: break-word;

  .container-centered & {
    --card-border-color: var(--card-centered-border-color);
  }
}

[data-card="danger"] {
  --card-header-bg: var(--card-danger-header-bg);
  --card-header-color: var(--card-danger-header-color);
}

.card-header {
  --btn-color: var(--card-header-color);
  background: var(--card-header-bg);
  border-bottom: 1px solid var(--card-border-color);
  color: var(--card-header-color);
  padding: 0.8125rem 1rem;
}

.card-title {
  align-items: center;
  display: flex;
  font-family: Bebas Neue, sans-serif;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: .0625em;
}


.card-body {
  padding: 1rem;

  &:last-child {
    border-radius: 0 0 .25rem .25rem;
  }

  &:has(.sticky:last-child) {
    padding-bottom: 0;
  }

  .collapsed > & {
    display: none;
  }
}

.card-header, .card-body {
  &:first-child {
    border-radius: .25rem .25rem 0 0;
  }
}

.card.collapsed {
  .card-header {
    border-radius: .25rem;
  }
}

.card-title {
  &:last-child {
    margin-bottom: 0;
  }
}