@use "../shared/breakpoints" as *;

.dashboard {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  padding: 1rem;
  gap: 1rem;

  @include media-breakpoint-up(sm) {
    --cols: 2;
  }

  @include media-breakpoint-up(md) {
    --cols: 3;
  }
}

.dashboard-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.25rem;
}