@use "../shared/breakpoints" as *;

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.dashboard-item {
  width: 100%;

  @include media-breakpoint-up(sm) {
    max-width: min(24rem, 100%);
  }

  .card {
    height: 100%;
  }
}