.dropdown {
  position: relative;
}

.dropdown-btn {
  background: var(--dropdown-btn-bg-color) var(--caret-down) no-repeat right 1rem center;
  background-size: 0.875rem;
  border-radius: .25rem;
  border: 1px solid var(--dropdown-btn-border-color);
  color: var(--dropdown-btn-color);
  font-weight: 500;
  min-width: 2.5rem;
  overflow: hidden;
  padding: 0.5625rem 2rem 0.5625rem 1rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .active & {
    background-color: var(--dropdown-btn-active-bg);
    border-color: var(--dropdown-btn-active-border-color);
    font-weight: 700;
  }

  &:hover {
    background-color: var(--dropdown-btn-hover-bg);
    border-color: var(--dropdown-btn-hover-border-color);
    color: var(--dropdown-btn-hover-color);
  }

  .dropup & {
    background-image: var(--caret-up);
  }
}

.dropdown-menu {
  background-color: var(--dropdown-bg);
  border-radius: .25rem;
  color: var(--dropdown-color);
  display: none;
  margin: 0;
  max-height: 50vh;
  min-width: 12rem;
  overflow-y: auto;
  position: absolute;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  z-index: 1000;

  &[open] {
    display: block;
  }

  .dropdown-menu-end {
    & {
      left: auto;
      right: 0;
    }
  }

  > .dropdown-item:first-child,
  > li:first-child .dropdown-item {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  > .dropdown-item:last-child,
  > li:last-child .dropdown-item {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}

.dropdown-header {
  padding: .625rem .75rem;
  border-bottom: 1px solid var(--dropdown-divider-color);
}

.dropdown-divider {
  height: 0;
  overflow: hidden;
  border-top: 1px solid var(--dropdown-divider-color);
  opacity: 1;
}

.dropdown-option {
  background-color: transparent;
  color: var(--dropdown-option-color);
  display: block;
  font-weight: 400;
  overflow: hidden;
  padding: .625rem .75rem;
  text-align: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; // Buttons...

  &:hover,
  &:focus,
  &.active {
    color: var(--dropdown-option-hover-color);
    background-color: var(--dropdown-option-hover-bg);
    outline: 0;
  }

  &.selected {
    color: var(--dropdown-option-selected-color);
    background-color: var(--dropdown-option-selected-bg);
    font-weight: 700;
  }

  &.disabled,
  &:disabled {
    color: var(--dropdown-option-disabled-color);
    pointer-events: none;
    background-color: transparent;
  }
}

.dropdown-default-item {
  font-weight: 500;
}