.form,
.form-rows,
.fieldset:has(>:not([hidden],[type="hidden"])) {
  display: grid;
  gap: 1rem;
}

.fieldset {
  display: none;

  &:not(:first-child) {
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
  }
}

.form-row {
  display: grid;
  gap: .5rem;

  @include media-breakpoint-up(sm) {
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
    max-width: 76rem;
    width: 100%;
  }

  .form-plain & {
    display: block;
  }
}

.form-label {
  @include media-breakpoint-up(sm) {
    text-align: right;

    .form-row:not(.form-checkbox-row):has(.input) & {
      padding: 1px 0;
    }
  }

  .form-plain & {
    display: none;
  }
}

.form-content {
  display: grid;
  gap: .5rem;

  @include media-breakpoint-up(sm) {
    grid-column-start: 2;

    .input[type="checkbox"],
    .input[type="radio"] {
      align-self: center;
    }

    .form-checkbox-row & {
      display: flex;
      gap: 1rem;
    }
  }
}

.form-text {
  @include media-breakpoint-up(sm) {
    padding-inline: 1rem;
  }
}

.form-error {
  display: none;

  .form-group:has([aria-invalid],:user-invalid) & {
    display: block;
    font-size: .75rem;
    color: var(--form-invalid-color);
  }
}

.form-hint {
  font-size: .75rem;
  color: var(--muted-color);
}

.form-buttons {
  &.sticky {
    position: sticky;
    padding: 1rem;
    bottom: 0;
    border-top: 1px solid var(--form-footer-border-color);
    background: var(--card-bg);
    z-index: 2;
  }

  .form-plain & {
    .btn {
      width: 100%;
    }
  }
}

.form-footer {
  font-size: .75rem;
  line-height: 1.125rem;
  color: var(--muted-color);

  .form-buttons.sticky + & {
    margin-top: -1rem;
  }

  a:not(:hover) {
    color: currentColor;
  }
}

.label {
  color: var(--color-label);
  display: inline-block;

  .form-label & {
    font-weight: 700;
  }

  @include media-breakpoint-up(sm) {
    .form-row:not(.form-checkbox-row):has(.input) & {
      padding: 0.5rem 0;
    }
  }

  .form-row:has(:required) .form-label &:after {
    content: " *";
  }
}

[aria-invalid],
.form-group:has([aria-invalid],:user-invalid), {
  --color-label: var(--form-invalid-color);
  --input-bg-color: var(--form-invalid-bg);
  --input-border-color: var(--form-invalid-border);
  --input-color: var(--form-invalid-color);
}