.icon {
  display: grid;
  flex-shrink: 0;
  height: 1lh;
  min-width: 1lh;
  place-items: center;
}

.img-thumbnail {
  aspect-ratio: 5 / 4;
  object-fit: contain;
  object-position: top left;
  width: 8rem;
}

.img-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.img-transparent {
  //noinspection CssUnknownTarget
  background: url(../images/transparent.svg);
}

.fill-body-bg {
  fill: var(--body-bg);
}

.fill-body-color {
  fill: var(--body-color);
}