@use "../shared/breakpoints" as *;

.wrap {
  position: relative;
  transition: translate .3s;

  .has-aside & {
    @include media-breakpoint-down(sm) {
      translate: 14rem 0;
    }
  }
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.main {
  flex: 1;
  min-height: 100dvh;
  max-width: 100%;
}

.container {
  padding-block: 1rem;

  @include media-breakpoint-up(md) {
    padding: 1rem;
  }

  &:not(:last-child,.container-centered) {
    border-bottom: 1px solid var(--border-color);
  }
}

.container-centered {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  justify-content: center;
  max-width: 28rem;
}
