@use "../shared/breakpoints" as *;

.modal {
  flex-direction: column;
  color: var(--modal-color);
  background-color: var(--modal-bg);
  outline: 0;
  text-align: left;
  white-space: normal; // Reset the white-space: nowrap; from parent element
  border-radius: .25rem;

  &[open] {
    display: flex;

    &::backdrop {
      background: var(--modal-backdrop-bg);
    }
  }

  @include media-breakpoint-up(md) {
    width: 28rem;
  }
}

.modal-header {
  --btn-icon-bg: var(--modal-btn-icon-bg, transparent);
  --btn-icon-hover-bg: var(--modal-btn-icon-hover-bg);
  --btn-icon-focus-bg: var(--modal-btn-icon-focus-bg);

  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--modal-header-bg);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.modal-title {
  margin-bottom: 0;
  font-weight: 700;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  background-color: var(--modal-footer-bg, transparent);
  gap: .5rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}