.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.nav-link {
  align-items: center;
  background: var(--nav-link-bg, transparent);
  border: 0;
  color: var(--nav-link-color);
  display: flex;
  min-width: 3rem;
  padding: 0.8125rem 1rem;
  text-decoration: none;
  gap: .5rem;

  &:hover,
  &:focus {
    background: var(--nav-link-hover-bg, transparent);
    color: var(--nav-link-hover-color);
  }

  &.active {
    --badge-bg: var(--nav-link-active-badge-bg);
    --badge-color: var(--nav-link-active-badge-color);
    background: var(--nav-link-active-bg);
    color: var(--nav-link-active-color);
  }

  &:focus-visible {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}

.nav-pills {
  --nav-link-active-bg: var(--nav-pills-link-active-bg);
  --nav-link-active-color: var(--nav-pills-link-active-color);
  --nav-link-bg: var(--nav-pills-link-bg, transparent);
  --nav-link-hover-bg: var(--nav-pills-link-hover-bg);
  --nav-link-hover-color: var(--nav-pills-link-hover-color);

  gap: .5rem;

  .nav-link {
    border-radius: .25rem .25rem 0 0;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}