@use "../shared/svg" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background: var(--navbar-bg);
}

.navbar-container {
  display: grid;
  grid-template-areas: "toggler right" "left left";

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.navbar-nav {
  --nav-link-color: var(--navbar-link-color);
  --nav-link-hover-bg: var(--navbar-link-hover-bg);
  --nav-link-hover-color: var(--navbar-link-hover-color);
  --nav-link-active-color: var(--navbar-link-active-color);
  --nav-link-active-bg: var(--navbar-link-active-bg);
}

.navbar-left {
  display: none;
  grid-area: left;

  &.collapsed {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.navbar-right {
  grid-area: right;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.navbar-toggler {
  align-self: center;
  width: 3rem;
  aspect-ratio: 1 / 1;
  background: #{svg-url("<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 30 30'><path stroke='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")} no-repeat center;
  border: 0;
  grid-area: toggler;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navbar-i18n-dropdown {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.navbar-logout {
  --nav-link-hover-bg: var(--btn-danger-bg);
}

//noinspection ALL
.i18n-icon {
  width: 1lh;
  aspect-ratio: 1;
  background: no-repeat;
  background-size: contain;
  vertical-align: middle;

  &.de {
    background-image: url(../images/flags/de.png);
  }

  &.en-US {
    background-image: url(../images/flags/en-US.png);
  }

  &.fr {
    background-image: url(../images/flags/fr.png);
  }

  &.pt {
    background-image: url(../images/flags/pt.png);
  }

  &.zh-CN {
    background-image: url(../images/flags/zh-CN.png);
  }

  &.zh-TW {
    background-image: url(../images/flags/zh-TW.png);
  }
}

.i18n-dropdown-link {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 0.8125rem 1rem;
}