@use "../shared/breakpoints" as *;
@use "../shared/svg" as *;

.navbar {
  display: flex;
  gap: .5rem;
  background: var(--body-bg);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.i18n-icon {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 1lh;

  .btn:has(&) {
    background: transparent;
    padding-inline: 0.75rem;
  }

  &.de {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/de.png);
  }

  &.en-US {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/en-US.png);
  }

  &.fr {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/fr.png);
  }

  &.pt {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/pt.png);
  }

  &.zh-CN {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/zh-CN.png);
  }

  &.zh-TW {
    //noinspection CssUnknownTarget
    background-image: url(../images/flags/zh-TW.png);
  }
}

.i18n-dropdown-option {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 0.8125rem 1rem;
}