.nav {
  display: flex;
  gap: 0.125rem;
}

.nav-link {
  --link-color: var(--nav-link-color);

  align-items: center;
  background: var(--nav-link-bg);
  border: 1px solid var(--nav-link-border-color);
  border-radius: .25rem;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .0625em;
  min-width: 3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  gap: .5rem;
  width: 100%;

  &:hover,
  &:focus {
    --nav-link-bg: var(--nav-link-hover-bg);
    --nav-link-border-color: var(--nav-link-hover-border-color);
    --link-color: var(--nav-link-hover-color);
  }

  &.active {
    --badge-bg: var(--nav-link-active-badge-bg);
    --badge-color: var(--nav-link-active-badge-color);
    --nav-link-bg: var(--nav-link-active-bg);
    --nav-link-border-color: var(--nav-link-active-border-color, var(--nav-link-bg));
    --link-color: var(--nav-link-active-color);
  }

  &:focus-visible {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}

.subnav {
  display: none;

  &.active, .nav-item:has(.active) > & {
    display: flex;
    flex-flow: column;
    padding: 0.125rem 0 .5rem 2rem;
  }

  .nav-link {
    padding: .25rem .5rem;
  }
}

.tabs {
  padding: 1rem;
  gap: .5rem;
  overflow-y: auto;
  scrollbar-width: none;
}