//@import "../../../../node_modules/bootstrap/scss/pagination";

.pagination {
  display: flex;
  margin-block: 1rem;
  justify-content: center;
  gap: .5rem;
}

.page-link {
  display: block;
  padding: 0.5625rem 1rem;
  color: var(--page-link-color);
  background: var(--page-link-bg);
  border-radius: .25rem;

  &:hover,
  &:focus {
    color: var(--page-link-hover-color);
    background-color: var(--page-link-hover-bg);
    border-color: var(--page-link-hover-border-color);
  }

  &.active,
  .active > & {
    color: var(--page-link-active-color);
    background-color: var(--page-link-active-bg);
    border-color: var(--page-link-active-border-color);
    z-index: 3;
  }

  &.disabled,
  .disabled > & {
    opacity: .5;
    pointer-events: none;
  }
}

.page-item {
  @include media-breakpoint-down(sm) {
    &:not(.active,.prev,.next) {
      display: none;
    }
  }
}
