.table {
  width: 100%;
  vertical-align: top;

  tbody {
    vertical-align: inherit;
  }

  th, td {
    padding: 1rem;
    background: var(--table-bg);
    border-bottom: 1px solid var(--table-td-border-color);
  }

  th, tr:last-child td {
    border-bottom-color: var(--table-th-border-color);
  }
}

.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    --table-bg: var(--table-striped-bg);
  }
}

.table-hover {
  > tbody > tr:hover > * {
    color: var(--table-hover-color);
    --table-bg: var(--table-hover-bg);
  }
}

.table-wrap {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  tr.is-selected {
    --table-bg: var(--table-selected-bg);
    --table-hover-color: var(--table-selected-hover-color);
    --table-hover-bg: var(--table-selected-hover-bg);
    --table-striped-bg: var(--table-selected-bg);

    .badge {
      --badge-bg: var(--badge-active-bg);
      --badge-color: var(--badge-active-color);
    }
  }

  th > a, th > a:hover {
    display: block;
    font-weight: bold;
    white-space: nowrap;
  }

  tr.disabled {
    opacity: .3;
  }
}

a.asc, a.desc {
  text-decoration: underline;
}

a.asc:after, a.desc:after {
  display: inline-block;
  margin: 0 0 0.2em 0.5em;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid #000;
  content: "";
}

a.desc:after {
  border-top: 0.4em solid #000;
  border-bottom: 0;
}