@use "../shared/breakpoints" as *;
@use "images" as *;

:root {
  --color-red-50: #FFEDEE;
  --color-red-200: #FFBEC2;
  --color-red-400: #E97F81;
  --color-red-450: #E5575C;
  --color-red-500: #FB2C36;
  --color-red-600: #FA141F;
  --color-red-650: #D93F45;
  --color-red-900: #82181A;
  --color-red-950: #3F1F22;

  --color-yellow-100: #FEF9C2;
  --color-yellow-300: #F0E08A;
  --color-yellow-400: #EDE36B;
  --color-yellow-500: #F0B100;
  --color-yellow-600: #D08700;
  --color-yellow-950: #3A3417;

  --color-green-50: #EDF6EE;
  --color-green-200: #BEDEC2;
  --color-green-500: #00C950;
  --color-green-900: #2A4534;
  --color-green-950: #1F3A28;

  --color-blue-50: #F5F9FF;
  --color-blue-100: #E3F1F4;
  --color-blue-200: #D2E8EF;
  --color-blue-400: #75BCD2;
  --color-blue-600: #67A5B6;

  --color-slate-400: #B7C5D8;

  --color-gray-50: #F9F9F9;
  --color-gray-100: #F3F3F3;
  --color-gray-200: #EAEAEA;
  --color-gray-300: #D8D8D8;
  --color-gray-400: #A0A0A0;
  --color-gray-500: #666666;
  --color-gray-600: #4A4A4A;
  --color-gray-700: #3D3D3D;
  --color-gray-750: #333333;
  --color-gray-800: #2A2A2A;
  --color-gray-900: #212121;
  --color-gray-950: #1A1A1A;

  --color-indigo-100: #C9C7FF;
  --color-indigo-300: #7B77FF;
  --color-indigo-400: #625DFF;
  --color-indigo-500: #504BFF;
  --color-indigo-800: #383690;
  --color-indigo-950: #2A2949;

  --color-cyan-300: #6BE6ED;

  --color-black: #000;
  --color-white: #FFF;

  color-scheme: light;

  --body-bg: var(--color-white);
  --body-color: var(--color-black);
  --scroll-padding: 4rem;

  --border-color: var(--color-gray-200);

  --link-color: var(--color-gray-900);
  --link-hover-color: var(--color-blue-600);

  --highlight-bg: var(--color-blue-200);
  --highlight-color: var(--color-black);
  --muted-color: var(--color-gray-500);

  // Alert
  --alert-success-bg: var(--color-green-50);
  --alert-success-border-color: var(--alert-success-bg);
  --alert-success-color: var(--color-green-900);
  --alert-success-link-color: var(--color-green-500);
  --alert-success-link-hover-color: var(--color-green-900);

  --alert-info-bg: var(--color-blue-50);
  --alert-info-border-color: var(--alert-info-bg);
  --alert-info-color: var(--color-black);
  --alert-info-link-color: var(--color-blue-400);
  --alert-info-link-hover-color: var(--color-blue-600);

  --alert-warning-bg: var(--color-yellow-100);
  --alert-warning-border-color: var(--alert-warning-bg);
  --alert-warning-color: var(--color-black);
  --alert-warning-link-color: var(--color-yellow-500);
  --alert-warning-link-hover-color: var(--color-yellow-600);

  --alert-danger-bg: var(--color-red-50);
  --alert-danger-border-color: var(--alert-danger-bg);
  --alert-danger-color: var(--color-red-900);
  --alert-danger-link-color: var(--color-red-500);
  --alert-danger-link-hover-color: var(--color-red-900);

  // Badge
  --badge-active-bg: var(--badge-bg);
  --badge-active-color: var(--color-white);
  --badge-bg: var(--color-slate-400);
  --badge-color: var(--color-white);
  --badge-error-bg: var(--color-red-50);
  --badge-error-color: var(--color-red-900);
  --badge-info-bg: var(--color-blue-50);
  --badge-info-color: var(--color-black);
  --badge-success-bg: var(--color-green-50);
  --badge-success-color: var(--color-green-900);
  --badge-warning-bg: var(--color-yellow-100);
  --badge-warning-color: var(--color-black);

  // Button
  --btn-primary-bg: var(--color-gray-800);
  --btn-primary-border-color: var(--btn-primary-bg);
  --btn-primary-color: var(--color-white);
  --btn-primary-hover-bg: var(--color-black);
  --btn-primary-hover-border-color: var(--color-black);
  --btn-primary-hover-color: var(--color-white);

  --btn-secondary-bg: var(--color-slate-400);
  --btn-secondary-border-color: var(--btn-secondary-bg);
  --btn-secondary-color: var(--color-white);
  --btn-secondary-hover-bg: var(--color-gray-800);
  --btn-secondary-hover-border-color: var(--btn-secondary-hover-bg);
  --btn-secondary-hover-color: var(--color-white);

  --btn-accent-bg: var(--color-yellow-400);
  --btn-accent-border-color: var(--btn-accent-bg);
  --btn-accent-color: var(--color-black);
  --btn-accent-hover-bg: var(--btn-primary-hover-bg);
  --btn-accent-hover-border-color: var(--btn-primary-hover-border-color);
  --btn-accent-hover-color: var(--btn-primary-hover-color);

  --btn-danger-bg: var(--color-red-400);
  --btn-danger-border-color: var(--btn-danger-bg);
  --btn-danger-color: var(--color-white);
  --btn-danger-hover-bg: var(--color-red-600);
  --btn-danger-hover-border-color: var(--btn-danger-hover-bg);
  --btn-danger-hover-color: var(--color-white);

  // Breadcrumb
  --breadcrumb-bg: transparent;
  --breadcrumb-divider-color: var(--body-color);
  --breadcrumb-link-color: var(--link-color);
  --breadcrumb-link-hover-color: var(--link-hover-color);

  // Card
  --card-border-color: transparent;
  --card-bg: var(--color-white);
  --card-color: var(--color-black);
  --card-header-bg: transparent;
  --card-header-color: var(--color-black);
  --card-danger-header-bg: var(--color-red-200);
  --card-danger-header-color: var(--color-white);
  --card-centered-border-color: var(--border-color);

  // Dropdown
  --dropdown-bg: var(--color-white);
  --dropdown-border-color: var(--border-color);
  --dropdown-color: var(--color-black);
  --dropdown-divider-color: var(--border-color);

  --dropdown-btn-active-bg: var(--color-slate-400);
  --dropdown-btn-active-border-color: transparent;
  --dropdown-btn-active-color: var(--color-white);
  --dropdown-btn-bg-color: var(--color-gray-100);
  --dropdown-btn-border-color: transparent;
  --dropdown-btn-color: var(--color-gray-900);
  --dropdown-btn-hover-bg: var(--color-gray-200);
  --dropdown-btn-hover-border-color: transparent;
  --dropdown-btn-hover-color: var(--color-black);

  --dropdown-option-selected-bg: var(--color-blue-50);
  --dropdown-option-selected-color: inherit;
  --dropdown-option-color: var(--color-black);
  --dropdown-option-disabled-color: var(--color-gray-300);
  --dropdown-option-hover-bg: var(--color-gray-50);
  --dropdown-option-hover-color: inherit;

  --dropdown-caret: #{caret('#000')};
  --dropdown-active-caret: #{caret('#FFF')};
  --dropup-caret: #{dropup-caret('#000')};
  --dropup--active-caret: #{dropup-caret('#FFF')};

  // Form
  --form-footer-border-color: transparent;
  --form-footer-sticky-border-color: var(--border-color);

  --form-invalid-bg: var(--color-white);
  --form-invalid-border: var(--color-red-900);
  --form-invalid-color: var(--color-red-900);

  --input-bg-color: var(--color-white);
  --input-border-color: var(--border-color);
  --input-color: var(--color-black);
  --input-focus-bg-color: var(--color-gray-50);
  --input-focus-border-color: var(--btn-primary-bg);
  --input-focus-color: var(--color-black);

  --input-disabled-bg-color: var(--color-gray-100);
  --input-disabled-border-color: var(--border-color);
  --input-disabled-color: var(--color-gray-800);

  --input-group-bg: var(--color-gray-100);
  --input-group-btn-hover-bg: var(--color-gray-200);

  --input-caret: #{caret('#EAEAEA')};
  --input-caret-hover: #{caret('#000')};

  --checkbox-bg: var(--color-white);
  --checkbox-checked-bg: var(--color-white) #{checkmark('#000')} no-repeat center;

  --radio-bg: var(--color-white);
  --radio-checked-bg: var(--color-white) #{radio-dot('#000')} no-repeat center;

  // Grid
  --grid-footer-border-color: var(--table-th-border-color);
  --grid-footer-sticky-border-color: var(--border-color);

  // Modal
  --modal-backdrop-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
  --busy-backdrop-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
  --modal-bg: var(--color-white);
  --modal-border-color: transparent;
  --modal-btn-icon-focus-bg: var(--color-gray-100);
  --modal-btn-icon-hover-bg: var(--color-gray-100);
  --modal-header-bg: var(--color-white);

  // Nav
  --nav-link-bg: transparent;
  --nav-link-border-color: var(--border-color);
  --nav-link-color: var(--color-black);
  --nav-link-active-badge-bg: var(--nav-link-active-color);
  --nav-link-active-badge-color: var(--nav-link-active-bg);
  --nav-link-active-bg: var(--color-blue-400);
  --nav-link-active-border-color: var(--nav-link-active-bg);
  --nav-link-active-color: var(--color-white);
  --nav-link-hover-bg: var(--color-blue-50);
  --nav-link-hover-border-color: var(--nav-link-hover-bg);
  --nav-link-hover-color: var(--color-black);

  // Aside
  --aside-bg: var(--body-bg);
  --aside-link-active-bg: var(--color-blue-400);
  --aside-link-active-color: var(--color-white);
  --aside-link-bg: transparent;
  --aside-link-color: var(--color-black);
  --aside-link-hover-bg: var(--color-blue-50);
  --aside-link-hover-color: var(--color-black);
  --aside-backdrop-bg: color-mix(in srgb, var(--color-black) 20%, transparent);

  --aside-tree-line: #{aside-tree-line('#000')};
  --aside-tree-start: #{aside-tree-start('#000')};
  --aside-tree-active: #{aside-tree-active('#000')};
  --aside-tree-hover: #{aside-tree-hover('#75BCD2')};
  --aside-tree-hover-after: #{aside-tree-hover-after('#75BCD2')};

  // Pagination
  --page-link-bg: var(--color-gray-100);
  --page-link-border-color: var(--color-gray-100);
  --page-link-color: var(--color-black);
  --page-link-hover-bg: var(--color-gray-200);
  --page-link-hover-border-color: var(--color-gray-200);
  --page-link-hover-color: var(--color-black);
  --page-link-active-bg: var(--color-gray-800);
  --page-link-active-border-color: var(--color-gray-800);
  --page-link-active-color: var(--color-white);

  // Progress
  --progress-bg: var(--color-blue-50);
  --progress-bar-bg: var(--color-black);

  // Stack
  --stack-link-bg: var(--color-gray-100);
  --stack-link-color: var(--color-black);
  --stack-link-hover-bg: var(--color-gray-200);
  --stack-link-hover-color: var(--stack-link-color);

  // Submenu
  --submenu-border-color: var(--color-gray-800);

  // Table
  --table-bg: var(--color-white);
  --table-color: var(--color-gray-900);
  --table-striped-bg: var(--color-gray-50);
  --table-hover-bg: var(--color-gray-100);
  --table-striped-color: var(--color-black);
  --table-hover-color: var(--color-black);

  --table-selected-bg: var(--color-blue-100);
  --table-selected-hover-bg: var(--color-blue-200);
  --table-selected-td-border-color: var(--color-white);

  --table-td-border-color: transparent;
  --table-sort-color: var(--color-black);
  --table-th-border-color: transparent;

  // Trail
  --trail-table-bg: repeating-linear-gradient(-45deg, var(--table-hover-bg), var(--table-hover-bg) 0.5em, transparent 0.5em, transparent 1em);
  --trail-delete-bg: var(--color-red-50);
  --trail-delete-color: var(--color-red-200);
  --trail-insert-bg: var(--color-green-50);
  --trail-insert-color: var(--color-green-200);
  ----trail-property-bg: transparent;

  // Tooltip
  --tooltip-bg: var(--color-gray-800);
  --tooltip-color: var(--color-white);
}
