@use "../shared/svg" as *;

:root {
  // Colors
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-200: oklch(88.5% 0.062 18.334);
  --color-red-300: oklch(0.769 0.137 20.73);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);
  --color-red-900: oklch(39.6% 0.141 25.723);
  --color-red-950: oklch(25.8% 0.092 26.042);

  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-200: oklch(90.1% 0.076 70.697);
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-orange-800: oklch(47% 0.157 37.304);
  --color-orange-900: oklch(40.8% 0.123 38.172);
  --color-orange-950: oklch(26.6% 0.079 36.259);

  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-200: oklch(94.5% 0.129 101.54);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-yellow-950: oklch(28.6% 0.066 53.813);

  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-300: oklch(87.1% 0.15 154.449);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-green-800: oklch(44.8% 0.119 151.328);
  --color-green-900: oklch(39.3% 0.095 152.535);
  --color-green-950: oklch(26.6% 0.065 152.934);

  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);
  --color-blue-900: oklch(37.9% 0.146 265.522);
  --color-blue-950: oklch(28.2% 0.091 267.935);

  --color-violet-50: oklch(96.9% 0.016 293.756);
  --color-violet-100: oklch(94.3% 0.029 294.588);
  --color-violet-200: oklch(89.4% 0.057 293.283);
  --color-violet-300: oklch(81.1% 0.111 293.571);
  --color-violet-400: oklch(70.2% 0.183 293.541);
  --color-violet-500: oklch(60.6% 0.25 292.717);
  --color-violet-600: oklch(54.1% 0.281 293.009);
  --color-violet-700: oklch(49.1% 0.27 292.581);
  --color-violet-800: oklch(43.2% 0.232 292.759);
  --color-violet-900: oklch(38% 0.189 293.745);
  --color-violet-950: oklch(28.3% 0.141 291.089);

  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-100: oklch(94.1% 0.03 12.58);
  --color-rose-200: oklch(89.2% 0.058 10.001);
  --color-rose-300: oklch(81% 0.117 11.638);
  --color-rose-400: oklch(71.2% 0.194 13.428);
  --color-rose-500: oklch(64.5% 0.246 16.439);
  --color-rose-600: oklch(58.6% 0.253 17.585);
  --color-rose-700: oklch(51.4% 0.222 16.935);
  --color-rose-800: oklch(45.5% 0.188 13.697);
  --color-rose-900: oklch(41% 0.159 10.272);
  --color-rose-950: oklch(27.1% 0.105 12.094);

  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);

  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);

  --color-black: #000;
  --color-white: #fff;

  --body-bg: var(--color-gray-50);
  --body-color: var(--color-black);
  --scroll-padding: 4rem;

  --border-color: var(--color-gray-200);

  --link-color: var(--color-gray-900);
  --link-hover-color: var(--color-black);

  --highlight-bg: var(--color-blue-100);
  --highlight-color: var(--color-black);
  --muted-color: var(--color-gray-500);

  // Text
  --text-h1: 1.5rem;
  --text-h2: 1.125rem;
  --text-h3: 1rem;
  --text-h4: .875rem;

  // Alert
  --alert-success-bg: var(--color-green-100);
  --alert-success-border-color: var(--alert-success-bg);
  --alert-success-color: var(--color-green-900);
  --alert-success-link-color: var(--color-green-500);
  --alert-success-link-hover-color: var(--color-green-600);

  --alert-info-bg: var(--color-blue-50);
  --alert-info-border-color: var(--alert-info-bg);
  --alert-info-color: inherit;
  --alert-info-link-color: var(--color-blue-500);
  --alert-info-link-hover-color: var(--color-blue-600);

  --alert-warning-bg: var(--color-yellow-100);
  --alert-warning-border-color: var(--alert-warning-bg);
  --alert-warning-color: var(--color-yellow-900);
  --alert-warning-link-color: var(--color-yellow-500);
  --alert-warning-link-hover-color: var(--color-yellow-600);

  --alert-danger-bg: var(--color-red-100);
  --alert-danger-border-color: var(--alert-danger-bg);
  --alert-danger-color: var(--color-red-900);
  --alert-danger-link-color: var(--color-red-500);
  --alert-danger-link-hover-color: var(--color-red-600);

  // Badge
  --badge-color: var(--color-white);
  --badge-bg: var(--color-slate-400);
  --badge-active-bg: var(--color-gray-700);
  --badge-active-color: var(--color-white);
  --badge-info-bg: var(--color-blue-50);
  --badge-info-color: var(--color-blue-900);
  --badge-error-bg: var(--color-red-100);
  --badge-error-color: var(--color-red-900);
  --badge-warning-bg: var(--color-yellow-100);
  --badge-warning-color: var(--color-yellow-900);

  // Button
  --btn-focus-border-color: var(--color-black);

  --btn-primary-bg: var(--color-gray-700);
  --btn-primary-border-color: var(--btn-primary-bg);
  --btn-primary-color: var(--color-white);
  --btn-primary-hover-bg: var(--color-black);
  --btn-primary-hover-border-color: var(--color-black);
  --btn-primary-hover-color: var(--color-white);

  --btn-secondary-bg: var(--color-slate-400);
  --btn-secondary-border-color: var(--btn-secondary-bg);
  --btn-secondary-color: var(--color-white);
  --btn-secondary-hover-bg: var(--color-gray-800);
  --btn-secondary-hover-border-color: var(--btn-secondary-hover-bg);
  --btn-secondary-hover-color: var(--color-white);

  --btn-danger-bg: var(--color-red-400);
  --btn-danger-border-color: var(--btn-danger-bg);
  --btn-danger-color: var(--color-white);
  --btn-danger-hover-bg: var(--color-red-600);
  --btn-danger-hover-border-color: var(--btn-danger-hover-bg);
  --btn-danger-hover-color: var(--color-white);

  // Breadcrumb
  --breadcrumb-bg: transparent;
  --breadcrumb-divider-color: var(--body-color);
  --breadcrumb-link-color: var(--link-color);
  --breadcrumb-link-hover-color: var(--link-hover-color);

  // Card
  --card-border-color: transparent;
  --card-bg: var(--color-white);
  --card-color: var(--color-black);
  --card-header-bg: var(--color-slate-500);
  --card-header-color: var(--color-white);
  --card-danger-header-bg: var(--color-red-300);
  --card-danger-header-color: var(--color-white);
  --card-stack-link-bg: var(--color-gray-100);
  --card-stack-link-hover-bg: var(--color-gray-200);

  // Dropdown
  --dropdown-bg: var(--color-white);
  --dropdown-border-color: var(--border-color);
  --dropdown-color: var(--color-black);
  --dropdown-divider-color: var(--border-color);

  --dropdown-btn-active-bg: var(--color-gray-200);
  --dropdown-btn-active-border-color: var(--color-gray-200);
  --dropdown-btn-bg-color: var(--color-gray-100);
  --dropdown-btn-border-color: var(--color-gray-100);
  --dropdown-btn-color: var(--color-black);
  --dropdown-btn-hover-bg: var(--color-gray-200);
  --dropdown-btn-hover-border-color: var(--color-gray-300);

  --dropdown-option-selected-bg: var(--color-gray-100);
  --dropdown-option-selected-color: inherit;
  --dropdown-option-color: var(--color-black);
  --dropdown-option-disabled-color: var(--color-gray-300);
  --dropdown-option-hover-bg: var(--color-gray-50);
  --dropdown-option-hover-color: inherit;

  // Form
  --form-footer-border-color: var(--color-gray-700);

  --form-invalid-bg: var(--color-white);
  --form-invalid-border: var(--color-red-900);
  --form-invalid-color: var(--color-red-900);

  --input-bg-color: var(--color-white);
  --input-border-color: var(--border-color);
  --input-color: var(--color-black);
  --input-focus-bg-color: var(--color-gray-50);
  --input-focus-border-color: var(--color-black);
  --input-focus-color: var(--color-black);

  --input-disabled-bg-color: var(--color-gray-100);
  --input-disabled-border-color: var(--border-color);
  --input-disabled-color: var(--color-gray-700);

  --input-group-bg: var(--color-gray-100);

  --caret-down: #{svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/></svg>')};
  --caret-up: #{svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 11 6-6 6 6"/></svg>')};

  --input-caret: #{svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="#ddd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/></svg>')};
  --input-caret-hover: var(--caret-down);

  --checkbox-bg: var(--color-white);
  --checkbox-checked-bg: var(--color-white) #{svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m6 10 3 3 6-6"/></svg>')} no-repeat center;

  --radio-bg: var(--color-white);
  --radio-checked-bg: var(--color-white) #{svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="2" fill="#000"/></svg>')} no-repeat center;


  // Modal
  --modal-backdrop-bg: rgba(0, 0, 0, .4);
  --modal-bg: var(--color-white);
  --modal-border-color: transparent;
  --modal-btn-icon-focus-bg: var(--color-gray-100);
  --modal-btn-icon-hover-bg: var(--color-gray-100);
  --modal-header-bg: var(--color-white);

  // Nav
  --nav-link-active-badge-bg: var(--color-white);
  --nav-link-active-badge-color: var(--color-black);
  --nav-link-active-bg: var(--color-white);
  --nav-link-active-color: var(--color-white);
  --nav-link-color: var(--link-color);
  --nav-link-disabled-color: var(--color-gray-300);
  --nav-link-hover-color: var(--link-hover-color);

  --nav-pills-link-active-bg: var(--color-gray-700);
  --nav-pills-link-active-color: var(--color-white);
  --nav-pills-link-hover-bg: var(--color-gray-200);
  --nav-pills-link-hover-color: var(--color-black);

  // Navbar
  --navbar-bg: var(--color-gray-700);
  --navbar-link-active-bg: var(--color-gray-900);
  --navbar-link-active-color: var(--color-white);
  --navbar-link-color: var(--color-white);
  --navbar-link-hover-bg: var(--color-gray-800);
  --navbar-link-hover-color: var(--color-white);

  // Pagination
  --page-link-bg: var(--color-gray-100);
  --page-link-border-color: var(--color-gray-100);
  --page-link-color: var(--color-black);
  --page-link-hover-bg: var(--color-gray-200);
  --page-link-hover-border-color: var(--color-gray-200);
  --page-link-hover-color: var(--color-black);
  --page-link-active-bg: var(--color-gray-700);
  --page-link-active-border-color: var(--color-gray-700);
  --page-link-active-color: var(--color-white);

  // Progress
  --progress-bg: var(--color-blue-50);
  --progress-bar-bg: var(--color-black);

  // Stack
  --stack-link-bg: var(--color-white);
  --stack-link-hover-bg: var(--color-gray-100);

  // Submenu
  --submenu-border-color: var(--color-gray-700);

  // Table
  --table-bg: var(--color-white);
  --table-striped-bg: var(--color-gray-50);
  --table-hover-bg: var(--color-gray-100);
  --table-striped-color: var(--color-black);
  --table-hover-color: var(--color-black);

  --table-selected-bg: var(--color-blue-50);
  --table-selected-hover-bg: var(--color-blue-100);

  --table-td-border-color: var(--border-color);
  --table-th-border-color: var(--color-gray-700);

  // Tooltip
  --tooltip-bg: var(--color-gray-700);
  --tooltip-color: var(--color-white);

  @include media-breakpoint-down(md) {
    --form-padding-y: .4375rem;
    --form-font-size: #{1rem};
  }

  @include media-breakpoint-up(lg) {
    --text-h1: 2rem;
  }
}