@use "../shared/breakpoints" as *;

// Todo !!!!

$trail-del-bg: #e43c3c !default;
$trail-ins-bg: #a3cba3 !default;
$trail-cell-padding: 0.5rem !default;

$diff-bg-color: #fff !default;
$diff-text-color: invert($diff-bg-color) !default;

$diff-bg-color-ins-base: $trail-ins-bg !default;
$diff-bg-color-del-base: $trail-del-bg !default;
$diff-bg-color-rep-base: #fbdb65 !default;

$diff-op-highlight-ratio: 90% !default;
$diff-op-normal-ratio: 25% !default;

// emphasized colors for detailed inline difference
$diff-bg-color-ins-highlight: mix($diff-bg-color-ins-base, $diff-bg-color, $diff-op-highlight-ratio) !default;
$diff-bg-color-del-highlight: mix($diff-bg-color-del-base, $diff-bg-color, $diff-op-highlight-ratio) !default;

// colors for operation rows
$diff-bg-color-ins: mix($diff-bg-color-ins-base, $diff-bg-color, $diff-op-normal-ratio) !default;
$diff-bg-color-del: mix($diff-bg-color-del-base, $diff-bg-color, $diff-op-normal-ratio) !default;
$diff-bg-color-rep: mix($diff-bg-color-rep-base, $diff-bg-color, $diff-op-normal-ratio) !default;

$diff-table-head-color: mix($diff-bg-color, $diff-text-color, 65%) !default;
$diff-table-sidebar-color: mix($diff-bg-color, $diff-text-color, 80%) !default;
$diff-border-color: $diff-text-color !default;

// color for the nonexistent block
// for example, there are a deleted line that has no corresponding one
$diff-bg-color-none-block: mix($diff-bg-color, $diff-table-sidebar-color, 80%) !default;
$diff-bg-color-none-block-alternative: mix($diff-bg-color, $diff-table-sidebar-color, 55%) !default;

.trail-table {
  --table-td-border-color: var(--card-bg);
  --table-th-border-color: transparent;
}

.trail-delete {
  --table-bg: var(--trail-delete-bg) !important;
}

.trail-update {
  --table-td-border-color: var(--table-bg);

  & > tbody > tr > td:last-child {
    padding: 0;
  }
}

.trail-diff-table {
  --table-bg: var(--trail-table-bg);

  empty-cells: show;
  word-break: break-all;
  white-space: pre-wrap;

  td {
    width: 50%;

    &:empty:after {
      content: " ";
      visibility: hidden;
    }
  }

  del {
    background-color: var(--trail-delete-color);
    text-decoration: none;
  }

  ins {
    background-color: var(--trail-insert-color);
    text-decoration: none;
  }

  .old {
    --table-bg: var(--trail-delete-bg);
  }

  .new {
    --table-bg: var(--trail-insert-bg);
  }

  .old,
  .new {
    &.none {
      background: transparent;
      cursor: not-allowed;
    }
  }
}

.trail-model-col {
  min-width: 12rem;
}

.trail-property-col {
  width: 10rem;
  text-align: right;
  hyphens: auto;
}

.trail-value-col {
  .trail-insert & {
    --table-bg: var(--trail-insert-bg);
  }
}