//@import "../../../../node_modules/bootstrap/scss/type";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5,
h6 {
  margin-bottom: .5em;
  font-weight: 400;
  line-height: 1.2;
  color: var(--heading-color);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4, h5, h6 {
  font-size: var(--text-h4);
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.small, .text-xs {
  font-size: .75rem;
  line-height: 1.125rem;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  vertical-align: top; // Fixes 0.5px margin issue in links
  gap: .5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-muted {
  color: var(--muted-color);

  a:not(:hover) {
    color: inherit;
  }
}

.text-invalid {
  text-decoration: line-through;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}