@use "../shared/breakpoints" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  color: var(--heading-color);
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4, h5, h6 {
  font-size: .875rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.small, .text-xs {
  font-size: .75rem;
  line-height: 1.125rem;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  vertical-align: top; // Fixes 0.5px margin issue in links
  gap: .5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-muted {
  color: var(--muted-color);

  a:not(:hover) {
    color: inherit;
  }
}

.text-invalid {
  text-decoration: line-through;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap;
}