/**
 * CKEditor config.
 */
.cke_editable{
	padding:$input-padding-y $input-padding-x;
	font-size:$font-size-base;
	line-height:$line-height-base;
	color:$input-color;
	background-color:$input-bg;

	a{
		text-decoration:underline;
	}

	table{
		margin-bottom:1em;
		width:100%;
	}

	td{
		vertical-align:top;
		padding:.5em;
	}
}