.alert {
  --link-color: var(--alert-link-color);
  --link-hover-color: var(--alert-link-hover-color);

  align-items: flex-start;
  @include border-radius($alert-border-radius);
  background: var(--alert-bg);
  border: $alert-border-width solid var(--alert-border-color);
  color: var(--alert-color);
  display: flex;
  gap: $alert-gap;
  padding: $alert-padding-x $alert-padding-y;
  position: relative;

  a {
    font-weight: $alert-link-font-weight;
    text-decoration: $alert-link-text-decoration;
  }

  ul {
    padding-left: $alert-ul-padding-left;
    list-style-type: $alert-ul-list-style-type;
  }

  li {
    padding-top: .25rem;
    font-weight: normal;
  }
}

.alert-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: $alert-buttons-gap;
  justify-content: flex-end;
}

.alert-heading {
  margin-bottom: $alert-heading-margin-bottom;
  font-weight: $alert-heading-font-weight;
}

.alert-success {
  --alert-bg: var(--alert-success-bg);
  --alert-border-color: var(--alert-success-border-color);
  --alert-color: var(--alert-success-color);
  --alert-link-color: var(--alert-success-link-color);
  --alert-link-hover-color: var(--alert-success-link-hover-color);
}

.alert-info {
  --alert-bg: var(--alert-info-bg);
  --alert-border-color: var(--alert-info-border-color);
  --alert-color: var(--alert-info-color);
  --alert-link-color: var(--alert-info-link-color);
  --alert-link-hover-color: var(--alert-info-link-hover-color);
}

.alert-warning {
  --alert-bg: var(--alert-warning-bg);
  --alert-border-color: var(--alert-warning-border-color);
  --alert-color: var(--alert-warning-color);
  --alert-link-color: var(--alert-warning-link-color);
  --alert-link-hover-color: var(--alert-warning-link-hover-color);
}

.alert-danger {
  --alert-bg: var(--alert-danger-bg);
  --alert-border-color: var(--alert-danger-border-color);
  --alert-color: var(--alert-danger-color);
  --alert-link-color: var(--alert-danger-link-color);
  --alert-link-hover-color: var(--alert-danger-link-hover-color);
}