.alert {
  position: relative;
  padding: $alert-padding-x $alert-padding-y;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);

  a {
    font-weight: $alert-link-font-weight;
    text-decoration: $alert-link-text-decoration;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-top: .25rem;
    font-weight: normal;
  }
}

.alert-dismissible {
  padding-right: $alert-dismissible-padding-r;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $stretched-link-z-index + 1;
    padding: $alert-padding-y * 1.25 $alert-padding-x;
  }
}

.alert-heading {
  margin-bottom: $alert-heading-margin-bottom;
  font-weight: $alert-heading-font-weight;
}

.alert-success {
  background: var(--#{$prefix}success-bg);
  border-color: var(--#{$prefix}success-border);
  color: var(--#{$prefix}success-color);
}

.alert-info {
  background: var(--#{$prefix}info-bg);
  border-color: var(--#{$prefix}info-border);
  color: var(--#{$prefix}info-color);
}

.alert-warning {
  background: var(--#{$prefix}warning-bg);
  border-color: var(--#{$prefix}warning-border);
  color: var(--#{$prefix}warning-color);
}

.alert-danger {
  background: var(--#{$prefix}danger-bg);
  border-color: var(--#{$prefix}danger-border);
  color: var(--#{$prefix}danger-color);
}