.alert {
  position: relative;
  padding: $alert-padding-x $alert-padding-y;
  margin-bottom: $alert-margin-bottom;
  color: var(--#{$prefix}alert-color, inherit);
  background-color: var(--#{$prefix}alert-bg, transparent);
  border: $alert-border-width solid var(--#{$prefix}alert-border-color, transparent);
  @include border-radius($alert-border-radius);

  a {
    font-weight: $alert-link-font-weight;
    text-decoration: $alert-link-text-decoration;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-top: .25rem;
    font-weight: normal;
  }
}

.alert-dismissible {
  padding-right: $alert-dismissible-padding-r;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $stretched-link-z-index + 1;
    padding: $alert-padding-y * 1.25 $alert-padding-x;
  }
}

.alert-heading {
  margin-bottom: $alert-heading-margin-bottom;
  font-weight: $alert-heading-font-weight;
}

@each $state in map-keys($theme-colors) {
  .alert-#{$state} {
    --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
    --#{$prefix}alert-bg: var(--#{$prefix}#{$state}-bg-subtle);
    --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-border-subtle);
    --#{$prefix}link-color: var(--#{$prefix}#{$state}-text-emphasis);
  }
}
