//@import "../../../../node_modules/bootstrap/scss/badge";

.badge {
  --#{$prefix}badge-bg: #{$app-badge-bg};
  --#{$prefix}badge-color: #{$badge-color};

  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  background: var(--#{$prefix}badge-bg);
  color: var(--#{$prefix}badge-color);
  text-decoration: none !important;

  &:empty {
    display: none;
  }

  .active & {
    --#{$prefix}badge-bg: #{$badge-active-bg};
    --#{$prefix}badge-color: #{$badge-active-color};
  }
}