//@import "../../../../node_modules/bootstrap/scss/badge";

.badge {
  display: inline-block;
  padding: 0.25rem .5rem;
  font-size: .75rem ;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background: var(--badge-bg);
  color: var(--badge-color);
  text-decoration: none !important;
  transition: background .2s, color .2s;

  &:empty {
    display: none;
  }
}

a.badge:hover {
  --badge-bg: var(--badge-active-bg);
  --link-hover-color: var(--badge-active-color);
}

.badge-info {
  --badge-bg: var(--badge-info-bg);
  --badge-color: var(--badge-info-color);
}

.badge-error {
  --badge-bg: var(--badge-error-bg);
  --badge-color: var(--badge-error-color);
}

.badge-warning {
  --badge-bg: var(--badge-warning-bg);
  --badge-color: var(--badge-warning-color);
}