//@import "../../../../node_modules/bootstrap/scss/badge";

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  background: $badge-bg;
  color: $badge-color;
  text-decoration: none !important;
  transition: background .2s, color .2s;

  &:empty {
    display: none;
  }
}

a.badge:hover {
  background: $badge-active-bg;
  color: $badge-active-color;
}