.breadcrumb {
  background-color: var(--breadcrumb-bg);
  display: flex;
  font-size: $breadcrumb-font-size;
  gap: $breadcrumb-gap-x;
  line-height: $breadcrumb-line-height;
  list-style: none;
  margin: $breadcrumb-margin;
  overflow-x: auto;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  display: flex;
  gap: $breadcrumb-gap-x;
  max-width: $breadcrumb-item-min-width;

  &:last-child {
    max-width: $breadcrumb-item-max-width;
  }

  &:not(:first-child)::before {
    color: $breadcrumb-divider-color;
    content: escape-svg($breadcrumb-divider);
  }
}

.breadcrumb-link {
  @extend .text-truncate;
  --link-color: var(--breadcrumb-link-color);
  --link-hover-color: var(--breadcrumb-link-hover-color);
  display: block;
}