.breadcrumb {
  background-color: var(--breadcrumb-bg);
  display: flex;
  gap: .5rem;
  list-style: none;
  overflow-x: auto;
}

.breadcrumb-item {
  display: flex;
  gap: .5rem;
  max-width: 10em;

  &:last-child {
    max-width: 30em;
  }

  &:not(:first-child)::before {
    color: var(--breadcrumb-divider-color);
    content: "/"
  }
}

.breadcrumb-link {
  @extend .text-truncate;
  --link-color: var(--breadcrumb-link-color);
  --link-hover-color: var(--breadcrumb-link-hover-color);
  display: block;
}