//@import "../../../../node_modules/bootstrap/scss/breadcrumb";

.breadcrumb {
  display: flex;
  margin: $breadcrumb-margin;
  padding: $breadcrumb-padding;
  gap: $breadcrumb-gap-x;
  list-style: none;
  overflow-x: auto;
  background-color: $breadcrumb-bg-color;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  display: flex;
  gap: $breadcrumb-gap-x;
  max-width: $breadcrumb-item-min-width;

  &:last-child {
    max-width: $breadcrumb-item-max-width;
  }

  &:not(:first-child)::before {
    color: $breadcrumb-divider-color;
    content: escape-svg($breadcrumb-divider);
  }
}

.breadcrumb-link {
  display: block;
  @extend .text-truncate;
}