.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  @include font-size($btn-font-size);
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: var(--btn-color, var(--body-color));
  background: var(--btn-bg, transparent);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $btn-border-width solid var(--btn-border, transparent);
  min-width: $btn-min-width;

  @include border-radius($btn-border-radius);
  @include transition($btn-transition);

  &.active {
    background: var(--btn-active-bg, transparent);
    border-color: var(--btn-active-border, transparent);
  }

  &:hover {
    color: var(--btn-hover-color, inherit);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border, inherit);
  }

  &:focus-visible {
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-border, inherit);
    outline: 0;
  }

  .btn-check:focus-visible + & {
    border-color: var(--btn-hover-border, inherit);
    outline: 0;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
  }
}

.btn-primary {
  --btn-bg: var(--btn-primary-bg);
  --btn-border: var(--btn-primary-border-color);
  --btn-color: var(--btn-primary-color);
  --btn-hover-bg: var(--btn-primary-hover-bg);
  --btn-hover-border: var(--btn-primary-hover-border-color);
  --btn-hover-color: var(--btn-primary-hover-color);
}

.btn-secondary {
  --btn-bg: var(--btn-secondary-bg);
  --btn-border: var(--btn-secondary-border-color);
  --btn-color: var(--btn-secondary-color);
  --btn-hover-bg: var(--btn-secondary-hover-bg);
  --btn-hover-border: var(--btn-secondary-hover-border-color);
  --btn-hover-color: var(--btn-secondary-hover-color);
}

.btn-danger {
  --btn-bg: var(--btn-danger-bg);
  --btn-border: var(--btn-danger-border-color);
  --btn-color: var(--btn-danger-color);
  --btn-hover-bg: var(--btn-danger-hover-bg);
  --btn-hover-border: var(--btn-danger-hover-border-color);
  --btn-hover-color: var(--btn-danger-hover-color);
}

.btn-link {
  background: transparent !important;
  margin: 0;
  padding: 0;
  border: 0 !important;
  min-width: auto;
  text-decoration: $link-decoration;
  line-height: inherit;
  font-weight: inherit;
  vertical-align: inherit;

  &:hover,
  &:focus-visible {
    text-decoration: $link-hover-decoration;
  }

  &:focus-visible {
    color: var(--btn-color);
  }

  &:hover {
    color: var(--btn-hover-color);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  border-radius: $btn-border-radius-sm;
  @include font-size($btn-font-size-sm);
}

.btn-upload {
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }

  ::file-selector-button {
    display: none;
  }
}
