//@import "../../../../node_modules/bootstrap/scss/buttons";

.btn {
  --#{$prefix}btn-color: #{$btn-color};
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border: transparent;
  --#{$prefix}btn-hover-border: transparent;

  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  @include font-size($btn-font-size);
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: var(--#{$prefix}btn-color);
  background: var(--#{$prefix}btn-bg);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $btn-border-width solid var(--#{$prefix}btn-border);
  min-width: $btn-min-width;

  @include border-radius($btn-border-radius);
  @include transition($btn-transition);

  &:hover {
    color: var(--#{$prefix}btn-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--#{$prefix}btn-hover-bg);
    border-color: var(--#{$prefix}btn-hover-border);
  }

  &:focus-visible {
    color: var(--#{$prefix}btn-hover-color);
    border-color: var(--#{$prefix}btn-hover-border);
    outline: 0;
  }

  .btn-check:focus-visible + & {
    border-color: var(--#{$prefix}btn-hover-border);
    outline: 0;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
  }
}

.btn-primary {
  --#{$prefix}btn-bg: #{$btn-primary-bg};
  --#{$prefix}btn-border: #{$btn-primary-border-color};
  --#{$prefix}btn-color: #{$btn-primary-color};
  --#{$prefix}btn-hover-bg: #{$btn-primary-hover-bg};
  --#{$prefix}btn-hover-border: #{$btn-primary-hover-border-color};
  --#{$prefix}btn-hover-color: #{$btn-primary-hover-color};
}

.btn-secondary {
  --#{$prefix}btn-bg: #{$btn-secondary-bg};
  --#{$prefix}btn-border: #{$btn-secondary-border-color};
  --#{$prefix}btn-color: #{$btn-secondary-color};
  --#{$prefix}btn-hover-bg: #{$btn-secondary-hover-bg};
  --#{$prefix}btn-hover-border: #{$btn-secondary-hover-border-color};
  --#{$prefix}btn-hover-color: #{$btn-secondary-hover-color};
}

.btn-danger {
  --#{$prefix}btn-bg: #{$btn-danger-bg};
  --#{$prefix}btn-border: #{$btn-danger-border-color};
  --#{$prefix}btn-color: #{$btn-danger-color};
  --#{$prefix}btn-hover-bg: #{$btn-danger-hover-bg};
  --#{$prefix}btn-hover-border: #{$btn-danger-hover-border-color};
  --#{$prefix}btn-hover-color: #{$btn-danger-hover-color};
}

.btn-link {
  background: transparent !important;
  margin: 0;
  padding: 0;
  border: 0 !important;
  min-width: auto;
  text-decoration: $link-decoration;
  line-height: inherit;
  font-weight: inherit;
  vertical-align: inherit;

  &:hover,
  &:focus-visible {
    text-decoration: $link-hover-decoration;
  }

  &:focus-visible {
    color: var(--#{$prefix}btn-color);
  }

  &:hover {
    color: var(--#{$prefix}btn-hover-color);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  border-radius: $btn-border-radius-sm;
  @include font-size($btn-font-size-sm);
}