//@import "../../../../node_modules/bootstrap/scss/card";

.card {
  position: relative;
  color: var(--card-color);
  background: var(--card-bg);
  border: $card-border-width solid var(--card-border-color);
  word-wrap: break-word;
  @include border-radius($card-border-radius);

  &:not(:last-child) {
    margin-bottom: $card-margin-bottom;
  }

  //> .list-group {
  //  border-top: inherit;
  //  border-bottom: inherit;
  //
  //  &:first-child {
  //    border-top-width: 0;
  //    @include border-top-radius($card-inner-border-radius);
  //  }
  //
  //  &:last-child {
  //    border-bottom-width: 0;
  //    @include border-bottom-radius($card-inner-border-radius);
  //  }
  //}
}

.card-body {
  padding: $card-spacer-y $card-spacer-x;

  .collapsed > & {
    display: none;
  }

  &:has(.grid-view-footer:last-child) {
    padding-bottom: 0;
  }
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $card-title-color;
  font-weight: $card-title-font-weight;
}

.card-header {
  padding: $card-cap-padding-y $card-cap-padding-x;
  margin-bottom: 0;
  color: $card-cap-color;
  background: $card-cap-bg;
  border-bottom: $card-border-width solid var(--card-border-color);
}

@if ($card-inner-border-radius) {
  .card-header, .card-body {
    &:first-child {
      @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  }

  .card-body {
    &:last-child {
      @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
    }
  }

  .card.collapsed {
    .card-header {
      @include border-radius($card-inner-border-radius);
    }
  }
}

.card-danger {
  border-color: $card-danger-border-color;

  .card-header {
    background: $card-danger-bg;
    color: $card-danger-color;
  }
}

.card-title {
  &:last-child {
    margin-bottom: 0;
  }
}