
.card {
  --list-group-action-bg: var(--card-list-group-action-bg);
  --list-group-action-color: var(--card-list-group-action-color);
  --list-group-action-hover-bg: var(--card-list-group-action-hover-bg);
  --list-group-action-hover-color: var(--card-list-group-action-hover-color);

  background: var(--card-bg);
  border-radius: .25rem;
  border: 1px solid var(--card-border-color);
  color: var(--card-color);
  position: relative;
  word-wrap: break-word;
}

.card-header {
  --btn-color: var(--card-header-color);
  padding: .75rem 1rem;
  color: var(--card-header-color);
  background: var(--card-header-bg);
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--card-title-color, inherit);
  font-weight: 700;
}


.card-body {
  padding: 1rem;

  .collapsed > & {
    display: none;
  }

  &:has(.grid-view-footer:last-child) {
    padding-bottom: 0;
  }
}

.card-header, .card-body {
  &:first-child {
    border-radius: .25rem .25rem 0 0;
  }
}

.card-body {
  &:last-child {
    border-radius: 0 0 .25rem .25rem;
  }
}

.card.collapsed {
  .card-header {
    border-radius: .25rem;
  }
}

.card-danger {
  --card-border-color: var(--card-danger-border-color, var(--card-border-color));
  --card-header-bg: var(--card-danger-header-bg, transparent);
  --card-header-color: var(--card-danger-header-color, inherit);
}

.card-title {
  &:last-child {
    margin-bottom: 0;
  }
}