
.card {
  --list-group-action-bg: var(--card-list-group-action-bg);
  --list-group-action-color: var(--card-list-group-action-color);
  --list-group-action-hover-bg: var(--card-list-group-action-hover-bg);
  --list-group-action-hover-color: var(--card-list-group-action-hover-color);

  background: var(--card-bg);
  border-radius: $card-border-radius;
  border: $card-border-width solid var(--card-border-color);
  color: var(--card-color);
  position: relative;
  word-wrap: break-word;
}

.card-header {
  padding: $card-header-padding-y $card-header-padding-x;
  color: var(--card-header-color);
  background: var(--card-header-bg);
  border-bottom: $card-header-border-bottom;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--card-title-color, inherit);
  font-weight: $card-title-font-weight;
}


.card-body {
  padding: $card-spacer-y $card-spacer-x;

  .collapsed > & {
    display: none;
  }

  &:has(.grid-view-footer:last-child) {
    padding-bottom: 0;
  }
}

@if ($card-inner-border-radius) {
  .card-header, .card-body {
    &:first-child {
      @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  }

  .card-body {
    &:last-child {
      @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
    }
  }

  .card.collapsed {
    .card-header {
      @include border-radius($card-inner-border-radius);
    }
  }
}

.card-danger {
  border-color: var(--card-danger-border-color, var(--card-border-color));

  .card-header {
    background: var(--card-danger-bg, transparent);
    color: var(--card-danger-color, inherit);
  }

  .card-title {
    color: var(--card-title-danger-color, inherit);
  }
}

.card-title {
  &:last-child {
    margin-bottom: 0;
  }
}