.btn-close {
  @include border-radius($btn-close-border-radius);
  aspect-ratio: 1;
  text-align: center;
  border: 0;
  background: transparent;
  flex-shrink: 0;
  padding: $btn-close-padding-y $btn-close-padding-x;
  width: $btn-close-width;

  // Override <a>'s hover style
  &:hover {
    color: var(--btn-close-color);
    text-decoration: none;
    opacity: $btn-close-hover-opacity;
  }

  &:focus {
    outline: 0;
    opacity: $btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: $btn-close-disabled-opacity;
  }
}

.btn-collapse {
  @extend .btn-close;
  background: var(--arrow-down-active-bg);
  transition: rotate 0.2s;

  .collapsed & {
    rotate: -90deg;
  }
}