//@import "../../../../node_modules/bootstrap/scss/close";

.btn-close {
  --btn-close-color: #{$btn-close-color};
  --btn-close-bg: #{ escape-svg($btn-close-bg) };
  --btn-close-opacity: #{$btn-close-opacity};
  --btn-close-hover-opacity: #{$btn-close-hover-opacity};
  --btn-close-focus-opacity: #{$btn-close-focus-opacity};
  --btn-close-disabled-opacity: #{$btn-close-disabled-opacity};

  width: $btn-close-width;
  height: $btn-close-height;
  padding: $btn-close-padding-y $btn-close-padding-x;
  color: var(--btn-close-color);
  background: transparent var(--btn-close-bg) center / $btn-close-width auto no-repeat;
  border: 0;
  @include border-radius();
  opacity: var(--btn-close-opacity);

  // Override <a>'s hover style
  &:hover {
    color: var(--btn-close-color);
    text-decoration: none;
    opacity: var(--btn-close-hover-opacity);
  }

  &:focus {
    outline: 0;
    opacity: var(--btn-close-focus-opacity);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: var(--btn-close-disabled-opacity);
  }
}

.btn-collapse {
  @extend .btn-close;
  background: var(--arrow-down-active-bg);
  transition: rotate 0.2s;

  .collapsed & {
    rotate: -90deg;
  }
}