.container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: min(100%, 100rem);
}

.container-centered {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  justify-content: center;
  max-width: 28rem;
}