.dropdown {
  position: relative;

  .grid-view-header & {
    width: 100%;
  }
}

.dropdown-toggle {
  white-space: nowrap;
  @include caret();
}

.dropdown-menu {
  background-color: var(--dropdown-bg);
  border-radius: $dropdown-border-radius;
  border: $dropdown-border-width solid var(--dropdown-border-color);
  color: var(--dropdown-color);
  display: none;
  font-size: $dropdown-font-size;
  line-height: $dropdown-line-height;
  margin: 0;
  max-height: $dropdown-max-height;
  min-width: $dropdown-min-width;
  overflow-y: auto;
  padding: $dropdown-padding-y $dropdown-padding-x;
  position: absolute;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  z-index: 1000;

  &[open] {
    display: block;
  }

  .dropdown-menu-end {
    & {
      left: auto;
      right: 0;
    }
  }

  & > ul {
    @extend .list-unstyled;
  }

  > .dropdown-item:first-child,
  > li:first-child .dropdown-item {
    @include border-top-radius($dropdown-inner-border-radius);
  }

  > .dropdown-item:last-child,
  > li:last-child .dropdown-item {
    @include border-bottom-radius($dropdown-inner-border-radius);
  }
}

.dropup {
  .dropdown-toggle {
    @include caret(up);
  }
}

.dropdown-header {
  padding: $dropdown-header-padding-y $dropdown-header-padding-x;
  border-bottom: $dropdown-header-border-width solid var(--dropdown-divider-color);
}

.dropdown-divider {
  height: 0;
  margin: $dropdown-divider-margin-y 0;
  overflow: hidden;
  border-top: $dropdown-divider-border-width solid var(--dropdown-divider-color);
  opacity: 1;
}

.dropdown-item {
  display: block;
  width: 100%; // Buttons...
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  font-weight: $font-weight-normal;
  color: var(--dropdown-link-color);
  text-align: inherit;
  background-color: transparent;
  border: 0;
  @extend .text-truncate;

  &:hover,
  &:focus {
    color: var(--dropdown-link-hover-color);
    background-color: var(--dropdown-link-hover-bg);
    outline: 0;
  }

  &.active {
    color: var(--dropdown-link-active-color);
    background-color: var(--dropdown-link-active-bg);
    font-weight: $dropdown-button-active-font-weight;
  }

  &.disabled,
  &:disabled {
    color: var(--dropdown-link-disabled-color);
    pointer-events: none;
    background-color: transparent;
  }
}

.dropdown-default-item {
  font-weight: $dropdown-item-default-font-weight;
}

.dropdown-toggle {
  --btn-bg: var(--dropdown-btn-bg);
  --btn-color: var(--dropdown-btn-color);
  --btn-border-color: var(--dropdown-btn-border-color);
  --btn-active-bg: var(--dropdown-btn-active-bg);
  --btn-active-border-color: var(--dropdown-btn-active-border-color);
  --btn-active-color: var(--dropdown-btn-active-color, inherit);
  --btn-hover-bg: var(--dropdown-btn-hover-bg);
  --btn-hover-border-color: var(--dropdown-btn-hover-border-color);

  width: 100%;
  @extend .text-truncate;

  .active > & {
    font-weight: $dropdown-button-active-font-weight;
  }
}
