.dropdown {
  position: relative;

  .grid-view-header & {
    width: 100%;
  }
}

.dropdown-toggle {
  background-image: var(--caret-down);
  background-repeat: no-repeat;
  background-position: right $btn-padding-x center;
  background-size: 12px;
  text-align: left;
  padding-right: 2rem;
  white-space: nowrap;

  .dropup {
    // todo
  }
}


.dropdown-menu {
  background-color: var(--dropdown-bg);
  border-radius: .25rem;
  color: var(--dropdown-color);
  display: none;
  margin: 0;
  max-height: 50vh;
  min-width: 12rem;
  overflow-y: auto;
  position: absolute;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  z-index: 1000;

  &[open] {
    display: block;
  }

  .dropdown-menu-end {
    & {
      left: auto;
      right: 0;
    }
  }

  > .dropdown-item:first-child,
  > li:first-child .dropdown-item {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  > .dropdown-item:last-child,
  > li:last-child .dropdown-item {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}

.dropdown-header {
  padding: .625rem .75rem;
  border-bottom: 1px solid var(--dropdown-divider-color);
}

.dropdown-divider {
  height: 0;
  overflow: hidden;
  border-top: 1px solid var(--dropdown-divider-color);
  opacity: 1;
}

.dropdown-link {
  background-color: transparent;
  border: 0;
  color: var(--dropdown-link-color);
  display: block;
  font-weight: 400;
  padding: .625rem .75rem;
  text-align: inherit;
  width: 100%; // Buttons...

  @extend .text-truncate;

  &:hover,
  &:focus {
    color: var(--dropdown-link-hover-color);
    background-color: var(--dropdown-link-hover-bg);
    outline: 0;
  }

  &.active {
    color: var(--dropdown-link-active-color);
    background-color: var(--dropdown-link-active-bg);
    font-weight: 500;
  }

  &.disabled,
  &:disabled {
    color: var(--dropdown-link-disabled-color);
    pointer-events: none;
    background-color: transparent;
  }
}

.dropdown-default-item {
  font-weight: 500;
}

.dropdown-toggle {
  --btn-bg: var(--dropdown-btn-bg);
  --btn-color: var(--dropdown-btn-color);
  --btn-border-color: var(--dropdown-btn-border-color);
  --btn-active-bg: var(--dropdown-btn-active-bg);
  --btn-active-border-color: var(--dropdown-btn-active-border-color);
  --btn-active-color: var(--dropdown-btn-active-color, inherit);
  --btn-hover-bg: var(--dropdown-btn-hover-bg);
  --btn-hover-border-color: var(--dropdown-btn-hover-border-color);

  width: 100%;
  @extend .text-truncate;

  .active > & {
    font-weight: 500;
  }
}
