.dropdown {
  position: relative;

  .grid-view-header & {
    width: 100%;
  }
}

.dropdown-toggle {
  white-space: nowrap;
  @include caret();
}

.dropdown-menu {
  position: absolute;
  display: none;
  min-width: $dropdown-min-width;
  max-height: $dropdown-max-height;
  padding: $dropdown-padding-y $dropdown-padding-x;
  margin: 0;
  overflow-y: auto;
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;

  @if ($dropdown-border-width) {
    border: $dropdown-border-width solid $dropdown-border-color;
  }

  z-index: 1000;
  @include border-radius($dropdown-border-radius);

  &[open] {
    display: block;
  }

  .dropdown-menu-end {
    & {
      left: auto;
      right: 0;
    }
  }

  & > ul {
    @extend .list-unstyled;
  }

    > .dropdown-item:first-child,
    > li:first-child .dropdown-item {
      @include border-top-radius($dropdown-inner-border-radius);
    }

    > .dropdown-item:last-child,
    > li:last-child .dropdown-item {
      @include border-bottom-radius($dropdown-inner-border-radius);
    }
}

.dropup {
  .dropdown-toggle {
    @include caret(up);
  }
}

.dropdown-header {
  padding: $dropdown-header-padding-y $dropdown-header-padding-x;
  border-bottom: 1px solid $dropdown-divider-bg;
}

.dropdown-divider {
  height: 0;
  margin: $dropdown-divider-margin-y 0;
  overflow: hidden;
  border-top: 1px solid $dropdown-divider-bg;
  opacity: 1;
}

.dropdown-item {
  display: block;
  width: 100%; // Buttons...
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  @extend .text-truncate;

  &.active {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
    font-weight: $dropdown-button-active-font-weight;
  }

  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    pointer-events: none;
    background-color: transparent;
  }
}

.dropdown-toggle {
  --btn-bg: #{$dropdown-button-bg};
  --btn-color: #{$dropdown-button-color};
  --btn-border-color: #{$dropdown-button-border-color};
  --btn-active-bg: #{$dropdown-button-active-bg};
  --btn-active-border-color: #{$dropdown-button-active-border-color};
  --btn-hover-bg: #{$dropdown-button-hover-bg};
  --btn-hover-border-color: #{$dropdown-button-hover-border-color};

  width: 100%;
  @extend .text-truncate;

  .active > & {
    font-weight: $dropdown-button-active-font-weight;
  }
}
