

.grid-view {

  .alert:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.grid-view-header {
  margin-bottom: .5rem;

  .row {
    padding-bottom: .5rem;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    & > * {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 25%;
      }
    }
  }

  &:empty {
    display: none;
  }
}

.grid-view-footer {
  position: sticky;
  bottom: 0;
  background: var(--card-bg);
  padding-bottom: .5rem;
  z-index: 100;

  &:not(:first-child) {
    margin-top: -1px;
    padding-top: .5rem;
    border-top: 1px solid var(--table-th-border-color);
  }

  .row {
    padding-top: .5em;
  }
}