//@import "../../../../node_modules/bootstrap/scss/grid";

.row {
  display: flex;
  margin: calc(-.5 * $grid-spacer);

  > * {
    //flex-shrink: 0;
    //width: 100%;
    //max-width: 100%;
    padding: calc(.5 * $grid-spacer);
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-view-header {
  margin-bottom: $grid-view-spacer;
  border-bottom: $grid-view-header-border;

  .row {
    padding-bottom: $grid-view-spacer;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    & > * {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(lg) {
        max-width: 25%;
      }
    }
  }

  &:empty {
    display: none;
  }
}

.grid-view-footer {
  position: sticky;
  bottom: 0;
  background-color: $card-bg;
  padding-bottom: $spacer-y;
  z-index: 100;

  &:not(:first-child) {
    margin-top: $grid-view-spacer;
    padding-top: $grid-view-spacer;
    border-top: $grid-view-footer-border;
  }

  .row {
    padding-top: $grid-view-spacer;
  }
}