.page-header {
  margin: $header-margin;
  padding-bottom: $header-padding-bottom;
  text-align: $header-text-align;
  border-bottom: $header-border-bottom;
  line-height: $header-line-height;
}

.submenu {
  margin: $submenu-margin;
  justify-content: $submenu-justify-content;
}