.ms-auto {
  margin-left: auto;
}

.justify-center {
  justify-content: center;
}

// Currently needed for yii2-datetime extension
.col-6 {
  width: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}