.ms-auto {
  margin-left: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.empty-hidden:empty {
  display: none;
}

// Currently needed for yii2-datetime extension
.col-6 {
  width: 50%;
}
