.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;

  .navbar ~ & {
    padding-top: var(--scroll-padding);
  }
}

.page-header {
  margin: $header-margin;
  text-align: $header-text-align;
  line-height: $header-line-height;
}

.submenu {
  border-bottom: $submenu-border-bottom-width solid var(--submenu-border-color);
  margin: $submenu-margin;
  justify-content: $submenu-justify-content;
}