//@import "../../../../node_modules/bootstrap/scss/list-group";

.list-group {
  font-size: $list-group-font-size;
  font-weight: $list-group-font-weight;
  line-height: $list-group-line-height;
  margin: 0;
  padding: 0;
}

.list-group-item {
  position: relative;
  display: block;
  border: $list-group-border-width solid var(--list-group-border-color, transparent);
  overflow: hidden;

  & + .list-group-item {
    border-top: 0;
  }

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($list-group-border-radius);
  }
}

.list-group-link {
  display: flex;
  width: 100%;
  padding: $list-group-action-padding-y $list-group-action-padding-x;
  background: var(--list-group-action-bg, inherit);
  color: var(--list-group-action-color, inherit);
  gap: $icon-gap-x;
  text-align: inherit;

  &:hover,
  &:focus {
    background: var(--list-group-action-hover-bg, inherit);
    color: var(--list-group-action-hover-color, inherit);
    text-decoration: none;
  }
}