.list-group-item {
  position: relative;
  display: block;
  border: 1px solid var(--list-group-border-color, transparent);
  overflow: hidden;

  & + .list-group-item {
    border-top: 0;
  }

  &:first-child {
    border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  }

  &:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}

.list-group-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  text-align: inherit;

  &:hover,
  &:focus {
    background: var(--list-group-action-hover-bg, inherit);
    color: var(--list-group-action-hover-color, inherit);
    text-decoration: none;
  }
}