//@import "../../../../node_modules/bootstrap/scss/list-group";

.list-group {
  display: flex;
  flex-direction: column;

  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  text-decoration: if($link-decoration == none, null, none);
  border: $list-group-border-width solid $list-group-border-color;
  overflow: hidden;

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($list-group-border-radius);
  }

  & + .list-group-item {
    border-top-width: 0;
  }
}

.list-group-item-action {
  display: block;
  width: 100%;
  padding: $list-group-action-padding-y $list-group-action-padding-x;
  color: $list-group-action-color;
  background: $list-group-action-bg;
  text-align: inherit;

  &:hover,
  &:focus {
    background: $list-group-action-hover-bg;
    color: $list-group-action-hover-color;
    text-decoration: none;
  }
}