//@import "../../../../node_modules/bootstrap/scss/modal";

.modal {
  --#{$prefix}modal-color: #{$modal-content-color};
  --#{$prefix}modal-bg: #{$modal-content-bg};
  --#{$prefix}modal-border-color: #{$modal-content-border-color};
  --#{$prefix}modal-header-bg: #{$modal-header-bg};
  --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
  --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
  --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};

  flex-direction: column;
  padding: 0;
  border: 0;
  color: var(--#{$prefix}modal-color);
  background-color: var(--#{$prefix}modal-bg);
  border: $modal-content-border-width solid var(--#{$prefix}modal-border-color);
  outline: 0;
  text-align: left;
  white-space: normal; // Reset the white-space: nowrap; from parent element
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow-xs);

  &[open] {
    display: flex;

    &::backdrop {
      background: $modal-backdrop-bg
    }
  }

  @include media-breakpoint-up(md) {
      width: $container-centered-max-width;
  }
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: $modal-header-padding-y $modal-header-padding-x;
  gap: $modal-header-padding-x;
  border-bottom: $modal-header-border-width solid var(--#{$prefix}modal-header-border-color);
  background-color: var(--#{$prefix}modal-header-bg);
  @include border-top-radius($modal-content-inner-border-radius);
}

.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
  font-weight: $modal-title-font-weight;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-header-padding-y $modal-header-padding-x;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: $modal-header-padding-y $modal-header-padding-x;
  background-color: var(--#{$prefix}modal-footer-bg);
  border-top: $modal-footer-border-width solid var(--#{$prefix}modal-footer-border-color);
  gap: $modal-footer-margin-between;
  @include border-bottom-radius($modal-content-inner-border-radius);
}