//@import "../../../../node_modules/bootstrap/scss/nav";

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.nav-link {
  align-items: center;
  background: var(--nav-link-bg, transparent);
  border: 0;
  color: var(--nav-link-color);
  display: flex;
  height: 3rem;
  min-width: $nav-link-min-width;
  padding: $nav-link-padding;
  text-decoration: none;
  gap: $icon-gap-x;
  transition: $nav-link-transition;

  &:hover,
  &:focus {
    background: var(--nav-link-hover-bg, transparent);
    color: var(--nav-link-hover-color);
  }

  &.active {
    --badge-bg: var(--nav-link-active-badge-bg);
    --badge-color: var(--nav-link-active-badge-color);
    background: var(--nav-link-active-bg);
    color: var(--nav-link-active-color);
  }

  &:focus-visible {
    outline: 0;
  }

  // Disabled state lightens text
  &.disabled,
  &:disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}

.nav-pills {
  --nav-link-active-bg: var(--nav-pills-link-active-bg);
  --nav-link-active-color: var(--nav-pills-link-active-color);
  --nav-link-bg: var(--nav-pills-link-bg, transparent);
  --nav-link-hover-bg: var(--nav-pills-link-hover-bg);
  --nav-link-hover-color: var(--nav-pills-link-hover-color);

  gap: $nav-pills-gap;

  .nav-link {
    border-radius: $nav-pills-border-radius;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}