//@import "../../../../node_modules/bootstrap/scss/navbar";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background: var(--navbar-bg);
}

.navbar-container {
  display: grid;
  padding: $navbar-padding-y $navbar-padding-x;
  grid-template-areas: "toggler right" "left left";

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    display: flex;
  }
}

.navbar-nav {
  --nav-link-color: var(--navbar-link-color);
  --nav-link-hover-bg: var(--navbar-link-hover-bg);
  --nav-link-hover-color: var(--navbar-link-hover-color);
  --nav-link-active-color: var(--navbar-link-active-color);
  --nav-link-active-bg: var(--navbar-link-active-bg);

  margin: 0;
  list-style: none;
}

.navbar-left {
  display: none;
  grid-area: left;

  &.collapsed {
    display: block;
  }

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.navbar-right {
  grid-area: right;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.navbar-toggler {
  align-self: center;
  width: $navbar-toggler-width;
  height: $navbar-toggler-height;
  background: #{escape-svg($navbar-toggler-bg)} no-repeat center;
  border: 0;
  grid-area: toggler;
  border-radius: $navbar-toggler-border-radius;

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    display: none;
  }
}

.navbar-i18n-dropdown {
  display: none;

  @include media-breakpoint-up($navbar-expand-breakpoint) {
    display: block;
  }
}

.navbar-logout {
  --nav-link-hover-bg: var(--btn-danger-bg);
}

//noinspection ALL
.i18n-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat;
  background-size: contain;
  vertical-align: middle;

  &.de {
    background-image: url(../images/flags/de.png);
  }

  &.en-US {
    background-image: url(../images/flags/en-US.png);
  }

  &.fr {
    background-image: url(../images/flags/fr.png);
  }

  &.pt {
    background-image: url(../images/flags/pt.png);
  }

  &.zh-CN {
    background-image: url(../images/flags/zh-CN.png);
  }

  &.zh-TW {
    background-image: url(../images/flags/zh-TW.png);
  }
}

.i18n-label {
  margin-left: .5em;
}