//@import "../../../../node_modules/bootstrap/scss/pagination";

.pagination {
  display: flex;
  margin: $pagination-margin;
  padding: $pagination-padding;
  justify-content: $pagination-justify-content;
  gap: $pagination-gap;

  @include list-unstyled();
}

.page-link {
  display: block;
  padding: $page-link-padding-y $page-link-padding-x;
  font-size: $page-link-font-size;
  color: var(--page-link-color);
  background: var(--page-link-bg);
  border: $page-link-border-width solid var(--page-link-border-color);
  border-radius: $page-link-border-radius;
  line-height: $page-link-line-height;
  @include transition($page-link-transition);

  &:hover,
  &:focus {
    color: var(--page-link-hover-color);
    background-color: var(--page-link-hover-bg);
    border-color: var(--page-link-hover-border-color);
  }

  &.active,
  .active > & {
    color: var(--page-link-active-color);
    background-color: var(--page-link-active-bg);
    border-color: var(--page-link-active-border-color);
    z-index: 3;
  }

  &.disabled,
  .disabled > & {
    opacity: $page-link-disabled-opacity;
    pointer-events: none;
  }
}

.page-item {
  @include media-breakpoint-down(sm) {
    &:not(.active,.prev,.next) {
      display: none;
    }
  }
}
