.progress {
  position: fixed;
  top: 3rem;
  left: 0;
  height: 0.5rem;
  width: 100%;
  background-color: var(--progress-bg);
  appearance: none;
}

::-moz-progress-bar {
  background-color: var(--progress-bar-bg);
}

::-webkit-progress-bar {
  background-color: var(--progress-bg);
}

::-webkit-progress-value {
  background-color: var(--progress-bar-bg);
}