*,
::after,
::before,
::backdrop {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html,
:host {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.4;
  tab-size: 4;
}

html:has(.navbar) {
  scroll-padding-top: var(--scroll-padding);
}

body {
  line-height: inherit;
  min-width: 20rem;
  min-height: 100svh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: .875rem;
  font-weight: 400;
  color: var(--body-color);
  background: var(--body-bg);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

dialog {
  margin: auto;
  outline: none;
}

hr {
  margin-block: 1rem;
  border-top: 1px solid var(--border-color);
  opacity: 1;
}

ol,
ul,
menu {
  list-style: none;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: .5rem;
}

b,
strong,
.strong {
  font-weight: 500;
}

mark, .mark {
  color: var(--highlight-color);
  background-color: var(--highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: .75rem;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
  }
}


pre,
code {
  display: block;
  font-family: "Courier New", monospace;
  font-size: $code-font-size;
  overflow: auto;

  code {
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: $code-font-size;
  color: var(--code-color);
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: $kbd-padding-y $kbd-padding-x;
  font-size: $kbd-font-size;
  color: $kbd-color;
  background-color: $kbd-bg;
}

figure {
  margin: 0 0 1rem;
}

img,
svg,
video,
audio,
iframe {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: $table-cell-padding-y;
  padding-bottom: $table-cell-padding-y;
  color: var(--table-caption-color, inherit);
  text-align: left;
}

th {
  font-weight: $table-th-font-weight;
  text-align: inherit;
}

address,
button,
input,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

button,
select {
  text-transform: none;
}

::placeholder {
  opacity: 1;
  color: color-mix(in oklab, currentColor 50%, transparent);
}


// See https://stackoverflow.com/a/54997118
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[role="button"],
button:not(:disabled) {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

// See https://github.com/twbs/bootstrap/issues/18842
//::-webkit-datetime-edit-fields-wrapper,
//::-webkit-datetime-edit-text,
//::-webkit-datetime-edit-minute,
//::-webkit-datetime-edit-hour-field,
//::-webkit-datetime-edit-day-field,
//::-webkit-datetime-edit-month-field,
//::-webkit-datetime-edit-year-field,
//::-webkit-color-swatch-wrapper {
//  padding: 0;
//}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}
