:root {

  // Colors
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-200: oklch(88.5% 0.062 18.334);
  --color-red-300: oklch(80.8% 0.114 19.571);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);
  --color-red-900: oklch(39.6% 0.141 25.723);
  --color-red-950: oklch(25.8% 0.092 26.042);

  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-200: oklch(90.1% 0.076 70.697);
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-orange-800: oklch(47% 0.157 37.304);
  --color-orange-900: oklch(40.8% 0.123 38.172);
  --color-orange-950: oklch(26.6% 0.079 36.259);

  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-200: oklch(94.5% 0.129 101.54);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-yellow-950: oklch(28.6% 0.066 53.813);

  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-300: oklch(87.1% 0.15 154.449);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-green-800: oklch(44.8% 0.119 151.328);
  --color-green-900: oklch(39.3% 0.095 152.535);
  --color-green-950: oklch(26.6% 0.065 152.934);

  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);
  --color-blue-900: oklch(37.9% 0.146 265.522);
  --color-blue-950: oklch(28.2% 0.091 267.935);

  --color-violet-50: oklch(96.9% 0.016 293.756);
  --color-violet-100: oklch(94.3% 0.029 294.588);
  --color-violet-200: oklch(89.4% 0.057 293.283);
  --color-violet-300: oklch(81.1% 0.111 293.571);
  --color-violet-400: oklch(70.2% 0.183 293.541);
  --color-violet-500: oklch(60.6% 0.25 292.717);
  --color-violet-600: oklch(54.1% 0.281 293.009);
  --color-violet-700: oklch(49.1% 0.27 292.581);
  --color-violet-800: oklch(43.2% 0.232 292.759);
  --color-violet-900: oklch(38% 0.189 293.745);
  --color-violet-950: oklch(28.3% 0.141 291.089);

  --color-rose-50: oklch(96.9% 0.015 12.422);
  --color-rose-100: oklch(94.1% 0.03 12.58);
  --color-rose-200: oklch(89.2% 0.058 10.001);
  --color-rose-300: oklch(81% 0.117 11.638);
  --color-rose-400: oklch(71.2% 0.194 13.428);
  --color-rose-500: oklch(64.5% 0.246 16.439);
  --color-rose-600: oklch(58.6% 0.253 17.585);
  --color-rose-700: oklch(51.4% 0.222 16.935);
  --color-rose-800: oklch(45.5% 0.188 13.697);
  --color-rose-900: oklch(41% 0.159 10.272);
  --color-rose-950: oklch(27.1% 0.105 12.094);

  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);

  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);

  --color-black: #000;
  --color-white: #fff;

  --primary: #000;
  --primary-bg: #333;
  --primary-border: #000;
  --primary-color: #333;

  --secondary: #8386ad;
  --secondary-bg: #b6b9e0;
  --secondary-border: #dbdce;
  --secondary-color: #a4a8d8;

  --tertiary: #c5c5c5;
  --tertiary-bg: #e4e4e4;
  --tertiary-border: #f1f1f1;
  --tertiary-color: #585858;

  --success: #a3cba3;
  --success-bg: #d9f6d9;
  --success-border: #daeada;
  --success-color: #212921;

  --info: #798fc3;
  --info-bg: #e4e9f3;
  --info-border: #c9d2e7;
  --info-color: #30394e;

  --warning: #ffc107;
  --warning-bg: #fff3cd;
  --warning-border: #ffe69c;
  --warning-color: #664d03;

  --danger: #e43c3c;
  --danger-bg: #d89090;
  --danger-border: #f0cfcf;
  --danger-color: #da8888;

  --light: #f9f9f9;
  --light-bg: #fff;
  --light-border: #f5f5f5;
  --light-color: #fff;

  --dark: #ddd;
  --dark-bg: #e4e4e4;
  --dark-border: #ccc;
  --dark-color: #555;

  --body-bg: var(--color-gray-50);
  --body-color: var(--color-black);
  --border-color: var(--color-gray-200);

  --link-color: var(--color-black);
  --link-hover-color: var(--color-gray-900);

  --highlight-bg: var(--success);
  --highlight-color: var(--color-black);

  // Text
  --text-h1: 1.5rem;
  --text-h2: 1.125rem;
  --text-h3: 1rem;
  --text-h4: .875rem;

  // Badge.
  --badge-color: var(--color-black);
  --badge-bg: var(--color-gray-50);
  --badge-active-bg: var(--color-gray-700);
  --badge-active-color: var(--color-white);

  // Button
  --btn-focus-border-color: var(--color-black);

  --btn-primary-bg: var(--primary-color);
  --btn-primary-border-color: var(--primary-color);
  --btn-primary-color: var(--color-white);
  --btn-primary-hover-bg: var(--primary);
  --btn-primary-hover-border-color: var(--primary);
  --btn-primary-hover-color: var(--color-white);

  --btn-secondary-bg: var(--secondary-color);
  --btn-secondary-border-color: var(--secondary-color);
  --btn-secondary-color: var(--color-white);
  --btn-secondary-hover-bg: var(--secondary);
  --btn-secondary-hover-border-color: var(--secondary);
  --btn-secondary-hover-color: var(--color-white);

  --btn-danger-bg: var(--color-red-400);
  --btn-danger-border-color: var(--btn-danger-bg);
  --btn-danger-color: var(--color-white);
  --btn-danger-hover-bg: var(--color-red-600);
  --btn-danger-hover-border-color: var(--btn-danger-hover-bg);
  --btn-danger-hover-color: var(--color-white);

  // Breadcrumb
  --breadcrumb-bg: transparent;
  --breadcrumb-divider-color: var(--secondary-border);
  --breadcrumb-link-color: var(--link-color);
  --breadcrumb-link-hover-color: var(--link-hover-color);

  // Card
  --card-border-color: transparent;
  --card-bg: var(--color-white);
  --card-color: var(--color-black);
  --card-header-bg: var(--color-slate-400);
  --card-header-color: var(--color-white);
  --card-danger-bg: var(--color-red-300);
  --card-danger-color: var(--color-white);
  --card-list-group-action-bg: var(--color-gray-100);
  --card-list-group-action-hover-bg: var(--color-gray-200);

  // Dropdown
  --dropdown-bg: var(--color-gray-100);
  --dropdown-border-color: var(--border-color);
  --dropdown-color: var(--color-black);
  --dropdown-divider-bg: var(--border-color);
  --dropdown-link-active-bg: var(--dark-bg);
  --dropdown-link-active-color: inherit;
  --dropdown-link-color: var(--color-black);
  --dropdown-link-disabled-color: var(--tertiary-color);
  --dropdown-link-hover-bg: var(--light);
  --dropdown-link-hover-color: var(--color-black);
  --dropdown-btn-bg: var(--color-gray-100);
  --dropdown-btn-color: var(--color-black);
  --dropdown-btn-border-color: var(--border-color);
  --dropdown-btn-active-bg: var(--color-gray-300);
  --dropdown-btn-active-border-color: var(--color-gray-300);
  --dropdown-btn-hover-bg: var(--color-gray-200);
  --dropdown-btn-hover-border-color: var(--color-gray-200);

  // Form
  --form-padding-x: #{$form-padding-x};
  --form-padding-y: #{$form-padding-y};
  --form-font-size: #{$form-font-size};
  --form-line-height: #{$form-line-height};

  --form-invalid-bg: var(--light);
  --form-invalid-border: var(--danger-border);
  --form-invalid-color: var(--danger-color);

  --input-bg: var(--color-white);
  --input-border: var(--border-color);
  --input-color: var(--color-black);

  // List
  --list-group-action-bg: var(--color-white);
  --list-group-action-hover-bg: var(--color-gray-300);


  // Modal
  --modal-border-color: transparent;
  --modal-bg: var(--color-white);
  --modal-header-bg: var(--color-gray-200);
  --modal-backdrop-bg: rgba(0, 0, 0, .4);

  // Nav
  --nav-link-active-badge-bg: var(--color-white);
  --nav-link-active-badge-color: var(--color-black);
  --nav-link-active-bg: var(--color-white);
  --nav-link-active-color: var(--color-white);
  --nav-link-color: var(--link-color);
  --nav-link-disabled-color: var(--color-gray-300);
  --nav-link-hover-color: var(--link-hover-color);

  --nav-pills-link-active-bg: var(--color-gray-700);
  --nav-pills-link-active-color: var(--color-white);
  --nav-pills-link-hover-bg: var(--color-gray-200);
  --nav-pills-link-hover-color: var(--color-black);

  // Navbar
  --navbar-bg: var(--color-gray-700);
  --navbar-link-active-bg: var(--color-gray-900);
  --navbar-link-active-color: var(--color-white);
  --navbar-link-color: var(--color-white);
  --navbar-link-hover-bg: var(--color-gray-800);
  --navbar-link-hover-color: var(--color-white);

  --submenu-border-color: var(--color-gray-700);

  --arrow-down-bg: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#ddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>"))};
  --arrow-down-active-bg: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>"))};


  @include media-breakpoint-down(md) {
    --form-padding-y: #{$form-padding-y-sm};
    --form-font-size: #{$font-size-base};
    --form-line-height: #{$line-height-base};
  }

  @include media-breakpoint-up(lg) {
    --text-h1: 2rem;
  }
}