//@import "../../../../node_modules/bootstrap/scss/root";

:root {
  --primary: #000;
  --primary-bg: #333;
  --primary-border: #000;
  --primary-color: #333;

  --secondary: #8386ad;
  --secondary-bg: #b6b9e0;
  --secondary-border: #dbdce;
  --secondary-color: #a4a8d8;

  --tertiary: #c5c5c5;
  --tertiary-bg: #e4e4e4;
  --tertiary-border: #f1f1f1;
  --tertiary-color: #585858;

  --success: #a3cba3;
  --success-bg: #d9f6d9;
  --success-border: #daeada;
  --success-color: #212921;

  --info: #798fc3;
  --info-bg: #e4e9f3;
  --info-border: #c9d2e7;
  --info-color: #30394e;

  --warning: #ffc107;
  --warning-bg: #fff3cd;
  --warning-border: #ffe69c;
  --warning-color: #664d03;

  --danger: #e43c3c;
  --danger-bg: #d89090;
  --danger-border: #f0cfcf;
  --danger-color: #da8888;

  --light: #f9f9f9;
  --light-bg: #fff;
  --light-border: #f5f5f5;
  --light-color: #fff;

  --dark: #ddd;
  --dark-bg: #e4e4e4;
  --dark-border: #ccc;
  --dark-color: #555;

  --body-bg: var(--light-bg);
  --body-color: var(--primary);
  --border-color: var(--dark);

  --link-color: var(--primary);
  --link-hover-color: var(--secondary);

  --highlight-bg: var(--success);
  --highlight-color: var(--body-color);

  // Breadcrumb
  --breadcrumb-bg: transparent;
  --breadcrumb-divider-color: var(--secondary-border);


  --form-padding-x: 0.75rem;
  --form-padding-y: 0.5625rem;
  --form-font-size: #{$font-size-sm};
  --form-line-height: calc(1.25 / .875);

  --input-bg: var(--light-bg);
  --input-border: var(--border-color);
  --input-color: var(--body-color);

  --form-invalid-bg: var(--light);
  --form-invalid-border: var(--danger-border);
  --form-invalid-color: var(--danger-color);

  --arrow-down-bg: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#ddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>"))};
  --arrow-down-active-bg: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>"))};

  @include media-breakpoint-down(md) {
    --form-padding-y: 0.4375rem;
    --form-font-size: #{$font-size-base};
    --form-line-height: #{$line-height-base};
  }
}