.table {
  width: 100%;
  vertical-align: top;
  border-color: var(--table-border-color, transparent);

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  th, td {
    padding: 1rem;
    background: var(--table-bg);
    border-bottom: 1px solid var(--table-td-border-color);
  }

  th, tr:last-child td {
    border-bottom-color: var(--table-th-border-color);
  }
}

.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    --table-bg: var(--table-striped-bg);
  }
}

.table-hover {
  > tbody > tr:hover > * {
    color: var(--table-hover-color);
    --table-bg: var(--table-hover-bg);
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

tr.is-selected {
  --table-color: var(--table-selected-color);
  --table-bg: var(--table-selected-bg);
  --table-hover-color: var(--table-selected-hover-color);
  --table-hover-bg: var(--table-selected-hover-bg);
  --table-striped-bg: var(--table-selected-bg);

  .badge {
    --badge-bg: var(--badge-active-bg);
    --badge-color: var(--badge-active-color);
  }
}


th > a, th > a:hover {
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

th > a.asc, th > a.desc {
  position: relative;
  text-decoration: underline;
}

.is-selected .is-selected-hidden, tr:not(.is-selected) .is-selected-block {
  display: none;
}

tr.disabled {
  opacity: .3;
}

tr.invalid {
  text-decoration: line-through;
}

tr:first-child {
  td:first-child {
    border-top-left-radius: .25rem;
  }

  td:last-child {
    border-top-right-radius: .25rem;
  }
}

tr:last-child {
  td:first-child {
    border-bottom-left-radius: .25rem-radius;
  }

  td:last-child {
    border-bottom-right-radius: .25rem;
  }
}

a.asc:after, a.desc:after {
  display: inline-block;
  margin: 0 0 0.2em 0.5em;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid #000;
  content: "";
}

a.desc:after {
  border-top: 0.4em solid #000;
  border-bottom: 0;
}