//@import "../../../../node_modules/bootstrap/scss/tooltip";


.tooltip {
  width: max-content;
  position: absolute;
  word-wrap: break-word;
  z-index: $tooltip-z-index;
}

.tooltip-arrow {
  position: absolute;
  width: $tooltip-arrow-width;
  height: $tooltip-arrow-height;
  background-color: $tooltip-bg;
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.tooltip-inner {
  position: relative;
  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  background-color: $tooltip-bg;
  color: $tooltip-color;
  text-align: center;
  font-weight: normal;
  @include font-size($tooltip-font-size);
  @include border-radius($tooltip-border-radius);
}
