//@import "../../../../node_modules/bootstrap/scss/tooltip";


.tooltip {
  position: absolute;
  width: max-content;
  word-wrap: break-word;
  z-index: 1080;
}

.tooltip-arrow {
  position: absolute;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--tooltip-bg);
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.tooltip-inner {
  border-radius: .25rem;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-size: 75rem;
  font-weight: normal;
  line-height: 1.125rem;
  max-width: 12rem;
  padding: .25rem .5rem;
  position: relative;
  text-align: center;
}
