//@import "../../../../node_modules/bootstrap/scss/tooltip";


.tooltip {
  position: absolute;
  width: max-content;
  word-wrap: break-word;
  z-index: $tooltip-z-index;
}

.tooltip-arrow {
  position: absolute;
  width: $tooltip-arrow-width;
  height: $tooltip-arrow-height;
  background-color: var(--tooltip-bg);
  transform: rotate(45deg);

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.tooltip-inner {
  border-radius: $tooltip-border-radius;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-size: $tooltip-font-size;
  font-weight: normal;
  line-height: $tooltip-line-height;
  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  position: relative;
  text-align: center;
}
