//@import "../../../../node_modules/bootstrap/scss/type";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5,
h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: var(--heading-color, inherit);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4, h5, h6 {
  font-size: var(--text-h4);
}

p:not(:last-child) {
    margin-bottom: $paragraph-margin-bottom;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

.small, .text-xs {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.strong {
  @extend strong;
}

.mark {
  @extend mark;
}

.list-unstyled {
  @include list-unstyled();

  &:last-child {
    margin-bottom: 0;
  }
}

.list-inline {
  @include list-unstyled();
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

.icon-text {
  display: inline-flex;
  align-items: center;
  vertical-align: top; // Fixes 0.5px margin issue in links
  gap: $icon-gap-x;
}

.text-muted {
  color: var(--muted-color) !important;

  a:not(:hover) {
    color: inherit;
  }
}

.text-invalid {
  text-decoration: line-through;
}

// Deprecated, use .text-end instead
.text-right {
  text-align: right;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}