$prefix: '';

$white: #fff !default;
$gray-100: #f9f9f9 !default;
$gray-200: #f5f5f5 !default;
$gray-300: #eee !default;
$gray-400: #ddd !default;
$gray-500: #ccc !default;
$gray-600: #9d9d9d !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #da8888 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #a3cba3 !default;
$teal: #20c997 !default;
$cyan: #798fc3 !default;

$primary: $gray-800 !default;
$secondary: #a4a8d8 !default; //$gray-600 !default;
$tertiary: $gray-400 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $black !default;

$primary-text-emphasis: $black !default; //shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 20%) !default;
$tertiary-color-text-emphasis: shade-color($tertiary, 60%) !default;
$success-text-emphasis: shade-color($success, 80%) !default;
$info-text-emphasis: shade-color($info, 60%) !default;
$warning-text-emphasis: shade-color($warning, 60%) !default;
$danger-text-emphasis: shade-color($danger, 20%) !default;
$light-text-emphasis: $white !default;
$dark-text-emphasis: $gray-700 !default;

$primary-bg-subtle: $black !default;
$secondary-bg-subtle: tint-color($secondary, 20%) !default;
$tertiary-bg-subtle: tint-color($tertiary, 20%) !default;
$success-bg-subtle: tint-color($success, 80%) !default;
$info-bg-subtle: tint-color($info, 80%) !default;
$warning-bg-subtle: tint-color($warning, 80%) !default;
$danger-bg-subtle: tint-color($danger, 20%) !default;
$light-bg-subtle: $white !default;
$dark-bg-subtle: $gray-300 !default;

$primary-border-subtle: tint-color($primary, 60%) !default;
$secondary-border-subtle: tint-color($secondary, 60%) !default;
$tertiary-border-subtle: tint-color($tertiary, 60%) !default;
$success-border-subtle: tint-color($success, 60%) !default;
$info-border-subtle: tint-color($info, 60%) !default;
$warning-border-subtle: tint-color($warning, 60%) !default;
$danger-border-subtle: tint-color($danger, 60%) !default;
$light-border-subtle: $gray-200 !default;
$dark-border-subtle: $gray-500 !default;

//$body-secondary-color: var() !default;
//$body-secondary-bg: $gray-200 !default;
//$body-tertiary-color: rgba($body-color, .5) !default;
//$body-tertiary-bg: $gray-100 !default;
//$body-emphasis-color: $black !default;

$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "light": $light,
        "dark": $dark,
) !default;

$theme-colors: (
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
) !default;

$theme-colors-text: (
        "primary": $primary-text-emphasis,
        "secondary": $secondary-text-emphasis,
        "tertiary": $tertiary-color-text-emphasis,
        "success": $success-text-emphasis,
        "info": $info-text-emphasis,
        "warning": $warning-text-emphasis,
        "danger": $danger-text-emphasis,
        "light": $light-text-emphasis,
        "dark": $dark-text-emphasis,
) !default;

$theme-colors-bg-subtle: (
        "primary": $primary-bg-subtle,
        "secondary": $secondary-bg-subtle,
        "tertiary": $tertiary-bg-subtle,
        "success": $success-bg-subtle,
        "info": $info-bg-subtle,
        "warning": $warning-bg-subtle,
        "danger": $danger-bg-subtle,
        "light": $light-bg-subtle,
        "dark": $dark-bg-subtle,
) !default;

$theme-colors-border-subtle: (
        "primary": $primary-border-subtle,
        "secondary": $secondary-border-subtle,
        "tertiary": $tertiary-border-subtle,
        "success": $success-border-subtle,
        "info": $info-border-subtle,
        "warning": $warning-border-subtle,
        "danger": $danger-border-subtle,
        "light": $light-border-subtle,
        "dark": $dark-border-subtle,
) !default;

$body-color: $black !default;
$body-bg: var(--#{$prefix}light) !default;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base: var(--#{$prefix}font-sans-serif) !default;
//$font-family-code: var(--#{$prefix}font-monospace) !default;

$font-size-base: .875rem !default;
$font-size-sm: 0.75rem !default;
$font-size-lg: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;


$h1-font-size: 2.25em !default;
$h2-font-size: 1.125em !default;
//$h3-font-size: $font-size-base * 1.75 !default;
//$h4-font-size: $font-size-base * 1.5 !default;
//$h5-font-size: $font-size-base * 1.25 !default;
//$h6-font-size: $font-size-base !default;

$small-font-size: $font-size-sm;

// Links
$link-color: $body-color !default;
$link-hover-color: $primary !default;
$link-decoration: none !default;
//$link-shade-percentage:                   20% !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;
$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

$text-muted: $gray-600 !default;

$mark-bg: var(--#{$prefix}success) !default;
$mark-padding: 0 !default;
$caret-width: 0.25rem !default;
$caret-spacing: 0.5rem !default;

$hr-border-color: var(--#{$prefix}border-color) !default;
$hr-opacity: 1;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 36rem,
        md: 48rem,
        lg: 64rem,
        xl: 80rem
) !default;

// Grid containers
$container-max-widths: (
        xs: 100rem
) !default;

$container-padding-x: .5rem !default;
$app-container-centered-max-width: 28rem !default;

$border-width: 1px !default;
$border-radius: 0.25rem !default;
$border-color: $gray-400 !default;

$spacer: 1rem !default;

$app-margin-y: 2rem !default;
$app-spacer-y: $spacer !default;
$app-spacer-x: $spacer !default;

// Layout
$app-html-scroll-padding: 5rem !default;
$app-body-padding: $app-html-scroll-padding 0 1rem !default;

$component-active-bg: $gray-400 !default;
$component-active-color: $white !default;

// Mixins
$app-arrow-down-bg-color: $gray-800 !default;
$app-arrow-down-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$app-arrow-down-bg-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

// Alert
$alert-padding-y: $spacer !default;
$alert-padding-x: $spacer !default;
$alert-margin-bottom: $spacer !default;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: normal !default;
$alert-link-text-decoration: underline !default;
$alert-border-width: $border-width !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side

// Nav
$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 0.75rem !default;
$nav-link-height: 3rem !default;

$app-nav-pills-gap: .5rem !default;
$app-nav-pills-link-hover-bg: var(--#{$prefix}secondary) !default;
$app-nav-pills-link-hover-color: $dark !default;
$nav-pills-link-active-color: $white !default;
$nav-pills-link-active-bg: $dark !default;
$nav-pills-border-radius: $border-radius !default;

// Navbar
$app-navbar-expand-breakpoint: md !default;
$app-navbar-light-bg: $dark !default;

$app-navbar-light-hover-bg: #090909 !default;
$app-navbar-light-active-bg: $app-navbar-light-hover-bg !default;

$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-light-color: $gray-400 !default;
$navbar-light-hover-color: $white !default;
$navbar-light-active-color: var(--#{$prefix}tertiary-color) !default;
$navbar-light-disabled-color: $gray-600 !default;

$navbar-border: 1px solid $app-navbar-light-active-bg !default;

$app-navbar-toggler-margin-y: .75rem !default;
$navbar-toggler-padding-y: .25rem !default;
$navbar-toggler-padding-x: .5rem !default;
$navbar-light-toggler-border-color: $white !default;
$navbar-light-icon-color: $white;

// Breadcrumbs
$breadcrumb-padding-y: $app-spacer-y !default;
$breadcrumb-padding-x: $app-spacer-x !default;
$breadcrumb-margin-bottom: $app-margin-y !default;
$breadcrumb-item-padding-x: 0.5rem !default;
$breadcrumb-bg: var(--#{$prefix}light-bg) !default;
$breadcrumb-divider-color: var(--#{$prefix}secondary-border-color) !default;
$breadcrumb-active-color: var(--#{$prefix}tertiary-color) !default;
$breadcrumb-border-radius: $border-radius !default;

// Header
$app-header-margin: $app-margin-y 0 !default;
$app-header-padding-bottom: $app-spacer-y !default;
$app-header-text-align: center !default;
$app-header-border-bottom: 1px solid var(--#{$prefix}secondary) !default;
$app-header-line-height: 1.5 !default;

$app-submenu-link-margin: 0 0.125rem $app-spacer-x !default;
$app-submenu-margin: 0 0 $app-margin-y !default;
$app-submenu-justify-content: center !default;

// Alert
$alert-heading-font-weight: bold !default;
$alert-heading-margin-bottom: .5rem !default;

// Card
$card-bg: $white !default;
$card-color: var(--#{$prefix}body-color) !default;
$card-spacer-y: $app-spacer-y !default;
$card-spacer-x: $app-spacer-x !default;
$card-cap-padding-y: $app-spacer-y !default;
$card-cap-color: null !default;
$card-cap-bg: var(--#{$prefix}secondary) !default;
$card-border-width: 0 !default;
$card-border-color: $border-color !default;
$card-inner-border-radius: $border-radius !default;
$app-card-margin-bottom: $app-margin-y !default;

$app-card-danger-bg: var(--#{$prefix}danger-bg) !default;
$app-card-danger-border-color: var(--#{$prefix}danger-border) !default;
$app-card-danger-color: var(--#{$prefix}light-text) !default;
$app-card-title-font-weight: bold !default;

// Grid
$grid-gutter-width: $spacer !default;

$app-grid-view-footer-position: sticky !default;
$app-grid-view-header-border: none !default;
$app-grid-view-header-spacer-y: 0 !default;
$app-grid-view-footer-border: 1px solid $primary !default;
$app-grid-view-footer-spacer-y: $app-spacer-y !default;
$app-grid-view-buttons-top: 0.5rem !default;

// Forms
$app-form-sticky-position: sticky !default;
$app-form-sticky-border: $border-width solid $primary !default;

$input-font-size: 1rem !default;
$input-line-height: 1.5 !default;
$input-padding-y: 0.5rem !default;
$input-padding-x: 0.75rem !default;
$input-border-radius: $border-radius !default;
$input-btn-padding-y: 0.59375rem !default;
$input-btn-padding-x: .75rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-border-width: $border-width !default;
$input-bg: $white !default;
$input-focus-color: $body-color;
$input-focus-bg: $white !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow: none !default;
$input-placeholder-color: var(--#{$prefix}body-color) !default;
$input-transition: border-color .15s ease-in-out, color .15s ease-in-out !default;
$app-input-placeholder-opacity: 0.6 !default;
$form-select-focus-box-shadow: none !default;
$form-select-indicator-color: $primary !default;
$form-label-color: var(--#{$prefix}body-color) !default;
$form-label-font-weight: bold !default;
$app-form-label-text-align-md: right !default;

$form-check-input-border-radius: $border-radius !default;
$form-check-input-width: 1.25rem !default;
$form-check-min-height: 1.25rem !default;
$form-check-padding-start: 0 !default;
$form-check-margin-bottom: 0 !default;
$form-check-input-focus-box-shadow: none !default;
$form-check-input-checked-bg-color: $primary !default;
$form-check-label-color: var(--#{$prefix}body-color) !default;
$app-form-check-gap: 0.75rem !default;

$app-form-invalid-bg: $white !default;
$form-invalid-border-color: $danger !default;
$form-invalid-color: $danger !default;

$input-group-addon-color: var(--#{$prefix}body-color) !default;
$input-group-addon-bg: var(--#{$prefix}secondary-bg) !default;

// Buttons
$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: $input-btn-padding-x !default;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $input-btn-font-size !default;
$btn-line-height: $input-btn-line-height !default;
$btn-font-weight: $font-weight-normal !default;
$btn-white-space: null !default;
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.375rem !default;
$btn-border-radius: $border-radius !default;
$btn-border-radius-sm: $border-radius !default;
$btn-white-space: nowrap !default;
$btn-border-width: $input-btn-border-width !default;
$app-btn-min-width: 2.625rem !default;
$btn-transition: color .15s, background-color .15s, border-color .15s;
$btn-disabled-opacity:        .5 !default;

$app-btn-primary-bg: var(--#{$prefix}primary) !default;
$app-btn-primary-border-color: var(--#{$prefix}primary) !default;
$app-btn-primary-color: var(--#{$prefix}light-text) !default;
$app-btn-primary-hover-bg: var(--#{$prefix}primary-bg) !default;
$app-btn-primary-hover-border-color: var(--#{$prefix}primary-bg) !default;
$app-btn-primary-hover-color: var(--#{$prefix}light-text) !default;

$app-btn-secondary-bg: var(--#{$prefix}secondary) !default;
$app-btn-secondary-border-color: var(--#{$prefix}secondary) !default;
$app-btn-secondary-color: var(--#{$prefix}light-text) !default;
$app-btn-secondary-hover-bg: var(--#{$prefix}secondary-text) !default;
$app-btn-secondary-hover-border-color: var(--#{$prefix}secondary-text) !default;
$app-btn-secondary-hover-color: var(--#{$prefix}light-text) !default;

$app-btn-danger-bg: var(--#{$prefix}danger) !default;
$app-btn-danger-border-color: var(--#{$prefix}danger) !default;
$app-btn-danger-color: var(--#{$prefix}light-text) !default;
$app-btn-danger-hover-bg: var(--#{$prefix}danger-text) !default;
$app-btn-danger-hover-border-color: var(--#{$prefix}danger-text) !default;
$app-btn-danger-hover-color: var(--#{$prefix}light-text) !default;

$app-btn-toolbar-spacer: .5rem !default;

$btn-close-width: 1rem !default;
$btn-close-height: $btn-close-width !default;
$btn-close-padding-x: 0 !default;
$btn-close-padding-y: $btn-close-padding-x !default;


// List group
$list-group-border-color: $white !default;
$list-group-item-padding-y: $app-spacer-y !default;
$list-group-item-padding-x: $app-spacer-x !default;
$list-group-border-radius: $border-radius !default;
$list-group-bg: $gray-200 !default;
$list-group-hover-bg: var(--#{$prefix}secondary) !default;

// Tables
$table-bg: $white !default;
$table-color: $body-color !default;
$table-border-width: 1px !default;
$table-border-color: transparent !default;
$table-accent-bg: $white !default;
$table-hover-bg: var(--#{$prefix}dark-bg) !default;
$table-striped-bg: var(--#{$prefix}light) !default;
$table-striped-color: $body-color !default;
$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;

$app-table-margin-bottom: 0 !default;
$app-table-th-active-font-style: normal !default;
$app-table-th-active-text-decoration: underline !default;
$app-table-th-border-width: 1px !default;
$app-table-th-border-color: $table-border-color !default;

$app-table-border-radius: $border-radius !default;
$app-table-selected-color: $body-color !default;
$app-table-selected-bg: $success-bg-subtle !default;
$app-table-selected-border-color: $white !default;
$app-table-selected-hover-color: $body-color !default;
$app-table-selected-hover-bg: darken($success-bg-subtle, 10%) !default;
$app-table-selected-hover-border-color: $white !default;

// Pagination
$app-pagination-justify-content: center !default;
$app-pagination-margin: $spacer 0 !default;
$app-pagination-padding: 0 !default;
$app-pagination-border-top: 0 !default;

$pagination-padding-y: $input-btn-padding-y !default;
$pagination-padding-x: 1rem !default;

$pagination-border-color: $border-color !default;
$pagination-active-bg: $primary !default;
$pagination-active-color: $white !default;
$pagination-active-border-color: $primary !default;
$pagination-hover-bg: $gray-200 !default;
$pagination-hover-border-color: $primary !default;

$pagination-focus-box-shadow: none !default;

// Dropdown
$dropdown-min-width: 12rem !default;
$dropdown-padding-y: 0 !default;
$dropdown-spacer: 2px !default;
$dropdown-bg: $white !default;
$dropdown-border-color: $border-color !default;
$dropdown-divider-bg: $border-color !default;
$dropdown-divider-margin-y: 0 !default;
$dropdown-item-padding-y: .6563rem !default;
$dropdown-link-hover-bg: var(--#{$prefix}secondary-bg) !default;
$dropdown-link-active-bg: var(--#{$prefix}tertiary-bg) !default;

$app-dropdown-button-bg: var(--#{$prefix}tertiary-bg) !default;
$app-dropdown-button-color: $body-color !default;
$app-dropdown-button-border-color: $border-color !default;
$app-dropdown-button-active-bg: $gray-200 !default;
$app-dropdown-button-active-border-color: $dark !default;
$app-dropdown-button-active-font-weight: bold !default;
$app-dropdown-button-hover-bg: $gray-200 !default;
$app-dropdown-button-hover-border-color: $dark !default;

$dropdown-item-padding-y: $input-btn-padding-y !default;
$dropdown-item-padding-x: $input-btn-padding-x !default;
$dropdown-link-color: $link-color !default;
$dropdown-link-hover-color: $link-color !default;
$dropdown-link-active-color: inherit !default;
$dropdown-link-active-bg: $body-tertiary-bg !default;

$dropdown-header-padding-y: $dropdown-item-padding-y !default;
$dropdown-header-padding-x: $dropdown-item-padding-x !default;

$app-dropdown-header-padding-y: $dropdown-item-padding-y !default;
$app-dropdown-header-padding-x: $dropdown-item-padding-x !default;

// Badge
$badge-font-size: 0.75rem !default;
$badge-color: var(--#{$prefix}light) !default;
$app-badge-bg: var(--#{$prefix}tertiary) !default;
$badge-active-bg: var(--#{$prefix}light) !default;
$badge-active-color: var(--#{$prefix}dark) !important !default;
$badge-font-weight: normal !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.5rem !default;
$badge-border-radius: 0.5rem !default;

// Modal
$modal-footer-margin-between: .5rem !default;

$modal-dialog-margin: .5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-content-color: null !default;
$modal-content-bg: $card-bg !default;
$modal-content-border-color: var(--#{$prefix}border-color) !default;
$modal-content-border-width: 0 !default;
$modal-content-border-radius: $border-radius !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;

$modal-backdrop-bg: rgba(0, 0, 0, .4) !default;
$modal-backdrop-opacity: .5 !default;

$modal-header-border-color: var(--#{$prefix}border-color) !default;
$modal-header-border-width: $modal-content-border-width !default;
$app-modal-header-bg: $card-cap-bg !default;
$app-modal-title-font-weight: bold !default;

$modal-footer-bg: null !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-footer-border-width: $modal-header-border-width !default;


// Tooltip
$tooltip-max-width: 12rem !default;
$tooltip-arrow-width: 0.5rem !default;
$tooltip-arrow-height: $tooltip-arrow-width !default;


//
///**
//Thumbnail.
// */
//$thumbnail-padding: $app-spacer-y !default;
//$thumbnail-caption-padding: $app-spacer-x !default;
//

// Icon
$app-icon-gap-x: .5rem !default;
//
///*
//Upload.
// */
//$app-upload-progress-top: 51px !default;
//$app-upload-progress-height: 10px !default;
//$app-upload-progress-bg: $success !default;
//
///*


// Trail
$trail-del-bg: $danger !default;
$trail-ins-bg: $success !default;
$trail-cell-padding: 0.5rem !default;

@import "../../../../node_modules/bootstrap/scss/variables";
