$prefix: '';

$primary: #000 !default;
$primary-bg: #333 !default;
$primary-border-color: #000 !default;
$primary-color: #333 !default;

$secondary: #8386ad !default; //#9d9d9d
$secondary-bg: #b6b9e0 !default;
$secondary-border-color: #dbdcef !default;
$secondary-color: #a4a8d8 !default;

$tertiary: #c5c5c5 !default;
$tertiary-bg: #e4e4e4 !default;
$tertiary-border-color: #f1f1f1 !default;
$tertiary-color: #585858 !default;

$success: #a3cba3 !default;
$success-bg: #edf5ed !default;
$success-border-color: #daeada !default;
$success-color: #212921 !default;

$info: #798fc3 !default;
$info-bg: #e4e9f3 !default;
$info-border-color: #c9d2e7 !default;
$info-color: #30394e !default;

$warning: #ffc107 !default;
$warning-bg: #fff3cd !default;
$warning-border-color: #ffe69c !default;
$warning-color: #664d03 !default;

$danger: #e43c3c !default;
$danger-bg: #d89090 !default;
$danger-border-color: #f0cfcf !default;
$danger-color: #da8888 !default;

$light: #f9f9f9 !default;
$light-bg: #fff !default;
$light-border-color: #f5f5f5 !default;
$light-color: #fff !default;

$dark: #ddd !default;
$dark-bg: #e4e4e4 !default;
$dark-border-color: #ccc !default;
$dark-color: #555 !default;

$body-color: #000 !default;
$body-bg: var(--#{$prefix}light) !default;
$border-color: #ddd !default;
$body-text-align: null !default;

// Global

$spacer: 1rem !default;

$enable-caret: true !default;
$enable-important-utilities: true !default;
$enable-reduced-motion: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-transitions: true !default;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-monospace: "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;

$font-size-base: .875rem !default;
$font-size-sm: 0.75rem !default;
$font-size-lg: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: 2.25em !default;
$h2-font-size: 1.125em !default;
$h3-font-size: 1em !default;
$h4-font-size: 0.875em !default;
$headings-margin-bottom: .5rem !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$paragraph-margin-bottom: 1rem !default;
$dt-font-weight: $font-weight-bold !default;
$list-inline-padding: .5rem !default;
$lead-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: 300 !default;
$small-font-size: $font-size-sm;
$sub-sup-font-size: .75em !default;

// Links
$link-color: var(--body-color) !default;
$link-hover-color: $primary !default;
$link-decoration: none !default;
//$link-shade-percentage:                   20% !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;
$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

$text-muted: var(--#{$prefix}light-color) !default;

$mark-bg: var(--#{$prefix}success) !default;
$mark-color: var(--#{$prefix}body-color) !default;
$mark-padding: 0 !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 36rem,
        md: 48rem,
        lg: 64rem,
        xl: 80rem
) !default;

// Grid containers
$container-max-widths: (
        xs: 100rem
) !default;

$container-padding-x: .5rem !default;
$container-centered-max-width: 28rem !default;

$margin-y: 2rem !default;
$spacer-y: $spacer !default;
$spacer-x: $spacer !default;

$border-width: 1px !default;
$border-radius: 0.25rem !default;

$caret-width: 0.25rem !default;
$caret-spacing: 0.5rem !default;
$caret-vertical-align: $caret-width * .85 !default;

$hr-margin-y: $spacer !default;
$hr-border-width: $border-width;
$hr-color: var(--#{$prefix}border-color) !default;
$hr-opacity: 1;

$legend-margin-bottom: .5rem !default;
$legend-font-size: 1.5rem !default;
$legend-font-weight: null !default;

// Layout
$html-scroll-padding: 5rem !default;
$body-padding: $html-scroll-padding 0 1rem !default;

$component-active-bg: var(--#{$prefix}light-bg) !default;
$component-active-color: var(--#{$prefix}light-color) !default;

// Mixins
$arrow-down-bg-color: $body-color !default;
$arrow-down-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$arrow-down-bg-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

// Alert
$alert-padding-y: $spacer !default;
$alert-padding-x: $spacer !default;
$alert-margin-bottom: $spacer !default;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: normal !default;
$alert-link-text-decoration: underline !default;
$alert-border-width: $border-width !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side

// Nav
$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 0.75rem !default;
$nav-link-height: 3rem !default;
$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-color: var(--#{$prefix}link-color) !default;
$nav-link-hover-color: var(--#{$prefix}link-hover-color) !default;
$nav-link-transition: color .15s, background-color .15s, border-color .15s !default;
$nav-link-disabled-color: var(--#{$prefix}secondary-color) !default;
$nav-link-focus-box-shadow: none !default;

$nav-pills-gap: .5rem !default;
$nav-pills-link-hover-bg: var(--#{$prefix}primary-bg) !default;
$nav-pills-link-hover-color: var(--#{$prefix}light-color) !default;
$nav-pills-link-active-bg: var(--#{$prefix}primary) !default;
$nav-pills-link-active-color: var(--#{$prefix}light-color) !default;
$nav-pills-border-radius: $border-radius !default;

// Navbar
$navbar-expand-breakpoint: md !default;
$navbar-light-bg: var(--#{$prefix}primary-bg) !default;

$navbar-light-hover-bg: var(--#{$prefix}primary) !default;
$navbar-light-active-bg: $navbar-light-hover-bg !default;

$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-light-color: var(--#{$prefix}light-color) !default;
$navbar-light-active-color: var(--#{$prefix}light-color) !default;
$navbar-light-disabled-color: var(--#{$prefix}light-color) !default;
$navbar-light-hover-color: var(--#{$prefix}light-color) !default;

$navbar-border: 1px solid $navbar-light-active-bg !default;

$navbar-toggler-margin-y: .75rem !default;
$navbar-toggler-padding-y: .25rem !default;
$navbar-toggler-padding-x: .5rem !default;
$navbar-toggler-border-radius: $border-radius !default;
$navbar-light-toggler-border-color: var(--#{$prefix}light) !default;
$navbar-light-icon-color: var(--#{$prefix}light) !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;


// Breadcrumbs
$breadcrumb-padding-y: $spacer-y !default;
$breadcrumb-padding-x: $spacer-x !default;
$breadcrumb-margin-bottom: $margin-y !default;
$breadcrumb-item-padding-x: 0.5rem !default;
$breadcrumb-bg: var(--#{$prefix}light-bg) !default;
$breadcrumb-divider-color: var(--#{$prefix}secondary-border-color) !default;
$breadcrumb-active-color: var(--#{$prefix}tertiary-color) !default;
$breadcrumb-border-radius: $border-radius !default;
$breadcrumb-divider: quote("/") !default;

// Header
$header-margin: $margin-y 0 !default;
$header-padding-bottom: $spacer-y !default;
$header-text-align: center !default;
$header-border-bottom: 1px solid var(--#{$prefix}secondary) !default;
$header-line-height: 1.5 !default;

$submenu-link-margin: 0 0.125rem $spacer-x !default;
$submenu-margin: 0 0 $margin-y !default;
$submenu-justify-content: center !default;

// Alert
$alert-heading-font-weight: bold !default;
$alert-heading-margin-bottom: .5rem !default;

// Card
$card-bg: var(--#{$prefix}light-bg) !default;
$card-color: var(--#{$prefix}body-color) !default;
$card-spacer-y: $spacer-y !default;
$card-spacer-x: $spacer-x !default;
$card-cap-padding-y: $spacer-y !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-color: null !default;
$card-cap-bg: var(--#{$prefix}dark-bg) !default;
$card-title-color: null !default;
$card-border-width: 0 !default;
$card-border-color: $border-color !default;
$card-border-radius: $border-radius !default;
$card-inner-border-radius: $border-radius !default;
$card-margin-bottom: $margin-y !default;

$card-danger-bg: var(--#{$prefix}danger-bg) !default;
$card-danger-border-color: var(--#{$prefix}danger-border) !default;
$card-danger-color: var(--#{$prefix}light-color) !default;
$card-title-font-weight: bold !default;

// Grid
$grid-gutter-width: $spacer !default;

$grid-view-footer-position: sticky !default;
$grid-view-header-border: none !default;
$grid-view-header-spacer-y: 0 !default;
$grid-view-footer-border: 1px solid $primary !default;
$grid-view-footer-spacer-y: $spacer-y !default;
$grid-view-buttons-top: 0.5rem !default;

// Forms
$form-sticky-position: sticky !default;
$form-sticky-border: $border-width solid var(--#{$prefix}border) !default;


$input-padding-y: 0.5rem !default;
$input-padding-x: 0.75rem !default;
$input-font-size: 1rem !default;
$input-font-weight: $font-weight-base !default;
$input-line-height: 1.5 !default;
$input-font-family: null !default;
$input-color: var(--#{$prefix}body-color) !default;
$input-border-color: var(--#{$prefix}border) !default;
$input-border-width: $border-width !default;
$input-border-radius: $border-radius !default;
$input-bg: var(--#{$prefix}light-bg) !default;
$input-box-shadow: none !default;

$input-disabled-bg: var(--#{$prefix}secondary-bg) !default;
$input-disabled-color: null !default;
$input-disabled-border-color: null !default;

$input-focus-color: var(--#{$prefix}body-color) !default;
$input-focus-bg: var(--#{$prefix}light) !default;
$input-focus-border-color: var(--#{$prefix}primary) !default;
$input-focus-width: .25rem !default;
$input-focus-box-shadow: none !default;

$input-placeholder-color: var(--#{$prefix}body-color) !default;
$input-placeholder-opacity: 0.6 !default;
$input-plaintext-color: var(--#{$prefix}body-color) !default;
$input-transition: border-color .15s ease-in-out, color .15s ease-in-out !default;

$form-select-padding-y: $input-padding-y !default;
$form-select-padding-x: $input-padding-x !default;
$form-select-font-family: $input-font-family !default;
$form-select-font-size: $input-font-size !default;
$form-select-indicator-padding: $form-select-padding-x * 3 !default; // Extra padding for background-image
$form-select-font-weight: $input-font-weight !default;
$form-select-line-height: $input-line-height !default;
$form-select-color: $input-color !default;
$form-select-bg: $input-bg !default;
$form-select-disabled-color: null !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-select-disabled-border-color: $input-disabled-border-color !default;
$form-select-bg-position: right $form-select-padding-x center !default;
$form-select-bg-size: 16px 12px !default;
$form-select-indicator-color: $border-color !default;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

$form-select-focus-box-shadow: none !default;

$form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 + $form-select-indicator-padding !default;
$form-select-feedback-icon-position: center right $form-select-indicator-padding !default;

$input-height-inner-half: add($input-line-height * .5em, $input-padding-y) !default;
$form-select-feedback-icon-size: $input-height-inner-half $input-height-inner-half !default;

$form-select-border-width: $input-border-width !default;
$form-select-border-color: $input-border-color !default;
$form-select-border-radius: $input-border-radius !default;
$form-select-box-shadow: var(--#{$prefix}box-shadow-inset) !default;

$form-select-focus-border-color: $input-focus-border-color !default;
$form-select-focus-width: $input-focus-width !default;
$form-select-focus-box-shadow: 0 0 0 $form-select-focus-width $input-btn-focus-color !default;

$form-select-transition: $input-transition !default;

$form-label-margin-bottom: .5rem !default;
$form-label-font-size: null !default;
$form-label-font-style: null !default;
$form-label-color: var(--#{$prefix}body-color) !default;
$form-label-font-weight: bold !default;
$form-label-text-align-md: right !default;

$form-check-input-border-radius: $border-radius !default;
$form-check-input-width: 1.25rem !default;
$form-check-min-height: 1.25rem !default;
$form-check-padding-start: 0 !default;
$form-check-margin-bottom: 0 !default;
$form-check-input-focus-box-shadow: none !default;
$form-check-input-checked-bg-color: var(--#{$prefix}light-bg) !default;
$form-check-label-color: var(--#{$prefix}body-color) !default;
$form-check-label-cursor: null !default;
$form-check-transition: null !default;
$form-check-input-active-filter: brightness(90%) !default;
$form-check-gap: 0.75rem !default;

$form-check-input-bg: $input-bg !default;
$form-check-input-border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color) !default;
$form-check-radio-border-radius: 50% !default;
$form-check-input-focus-border: $input-focus-border-color !default;

$form-check-input-checked-color: $component-active-color !default;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;

$form-check-input-indeterminate-color: $component-active-color !default;
$form-check-input-indeterminate-bg-color: $component-active-bg !default;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color !default;
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;

$form-check-input-disabled-opacity: .5 !default;
$form-check-label-disabled-opacity: $form-check-input-disabled-opacity !default;
$form-check-btn-check-disabled-opacity: .5 !default;

$form-check-inline-margin-end: 1rem !default;

$form-invalid-bg: var(--#{$prefix}light) !default;
$form-invalid-border-color: var(--#{$prefix}danger-border) !default;
$form-invalid-color: var(--#{$prefix}danger-color) !default;

$input-group-addon-padding-y: $input-padding-y !default;
$input-group-addon-padding-x: $input-padding-x !default;
$input-group-addon-font-weight: $input-font-weight !default;
$input-group-addon-color: var(--#{$prefix}body-color) !default;
$input-group-addon-bg: var(--#{$prefix}light) !default;
$input-group-addon-border-color: $input-border-color !default;

$form-file-button-color: $input-color !default;
$form-file-button-bg: var(--#{$prefix}tertiary-bg) !default;
$form-file-button-hover-bg: var(--#{$prefix}secondary-bg) !default;

// Buttons
$btn-color: var(--#{$prefix}body-color) !default;
$btn-padding-y: 0.59375rem !default;
$btn-padding-x: 0.75rem !default;
$btn-font-family: null !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-font-weight: $font-weight-normal !default;
$btn-white-space: null !default;

$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.375rem !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-border-radius: $border-radius !default;
$btn-border-radius-sm: $border-radius !default;
$btn-white-space: nowrap !default;
$btn-border-width: $border-width !default;
$btn-min-width: 2.625rem !default;
$btn-transition: color .15s, background-color .15s, border-color .15s;
$btn-disabled-opacity: .5 !default;

$btn-primary-bg: var(--#{$prefix}primary-color) !default;
$btn-primary-border-color: var(--#{$prefix}primary-color) !default;
$btn-primary-color: var(--#{$prefix}light-color) !default;
$btn-primary-hover-bg: var(--#{$prefix}primary) !default;
$btn-primary-hover-border-color: var(--#{$prefix}primary) !default;
$btn-primary-hover-color: var(--#{$prefix}light-color) !default;

$btn-secondary-bg: var(--#{$prefix}secondary-color) !default;
$btn-secondary-border-color: var(--#{$prefix}secondary-color) !default;
$btn-secondary-color: var(--#{$prefix}light-color) !default;
$btn-secondary-hover-bg: var(--#{$prefix}secondary) !default;
$btn-secondary-hover-border-color: var(--#{$prefix}secondary) !default;
$btn-secondary-hover-color: var(--#{$prefix}light-color) !default;

$btn-danger-bg: var(--#{$prefix}danger-color) !default;
$btn-danger-border-color: var(--#{$prefix}danger-color) !default;
$btn-danger-color: var(--#{$prefix}light-color) !default;
$btn-danger-hover-bg: var(--#{$prefix}danger) !default;
$btn-danger-hover-border-color: var(--#{$prefix}danger) !default;
$btn-danger-hover-color: var(--#{$prefix}light-color) !default;

$btn-toolbar-spacer: .5rem !default;

$btn-close-width: 1rem !default;
$btn-close-height: $btn-close-width !default;
$btn-close-color: var(--#{$prefix}body-color) !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") !default;
$btn-close-opacity:          .5 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    1 !default;
$btn-close-disabled-opacity: .25 !default;
$btn-close-padding-x: 0 !default;
$btn-close-padding-y: $btn-close-padding-x !default;


// List group
$list-group-color: var(--#{$prefix}body-color) !default;
$list-group-bg: var(--#{$prefix}light) !default;
$list-group-border-color: var(--#{$prefix}border-color) !default;
$list-group-border-width: $border-width !default;
$list-group-border-radius: $border-radius !default;

$list-group-action-padding-x: $spacer-x !default;
$list-group-action-padding-y: $spacer-y !default;
$list-group-action-color: var(--#{$prefix}secondary-color) !default;
$list-group-action-bg: var(--#{$prefix}light) !default;
$list-group-action-hover-bg: var(--#{$prefix}light-bg) !default;
$list-group-action-hover-color: var(--#{$prefix}body-color) !default;

$list-group-action-active-color: var(--#{$prefix}body-color) !default;
$list-group-action-active-bg: var(--#{$prefix}secondary-bg) !default;


// Tables
$table-bg: var(--#{$prefix}body-bg) !default;
$table-border-width: $border-width !default;
$table-border-color: transparent !default;
$table-striped-bg: var(--#{$prefix}light-bg) !default;
$table-striped-order: odd !default;
$table-striped-color: var(--#{$prefix}body-color) !default;
$table-hover-color: var(--#{$prefix}body-color) !default;
$table-hover-bg: var(--#{$prefix}dark-bg) !default;
$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;
$table-cell-vertical-align: top !default;
$table-th-font-weight: null !default;

$table-margin-bottom: 0 !default;
$table-th-active-font-style: normal !default;
$table-th-active-text-decoration: underline !default;
$table-th-border-width: 1px !default;
$table-th-border-color: $table-border-color !default;

$table-border-radius: $border-radius !default;
$table-selected-color: var(--#{$prefix}body-color) !default;
$table-selected-bg: $success-bg !default;
$table-selected-border-color: var(--#{$prefix}light) !default;
$table-selected-hover-color: var(--#{$prefix}body-color) !default;
$table-selected-hover-bg: darken($success-bg, 10%) !default;
$table-selected-hover-border-color: var(--#{$prefix}light) !default;
$table-group-separator-color: currentcolor !default;
$table-caption-color: var(--#{$prefix}secondary-color) !default;

// Pagination
$pagination-justify-content: center !default;
$pagination-margin: $spacer 0 !default;
$pagination-padding: 0 !default;
$pagination-border-top: 0 !default;

$pagination-padding-y: 0.59375rem !default;
$pagination-padding-x: 1rem !default;

$pagination-border-color: var(--#{$prefix}border) !default;

$pagination-active-color: var(--#{$prefix}light-color) !default;
$pagination-active-border-color: var(--#{$prefix}primary) !default;
$pagination-active-bg: var(--#{$prefix}primary) !default;

$pagination-hover-bg: var(--#{$prefix}dark-bg) !default;
$pagination-hover-border-color: var(--#{$prefix}border) !default;

$pagination-font-size: $font-size-base !default;

$pagination-color: var(--#{$prefix}link-color) !default;
$pagination-bg: var(--#{$prefix}body-bg) !default;
$pagination-border-radius: $border-radius !default;
$pagination-border-width: $border-width !default;
$pagination-margin-start: calc(#{$pagination-border-width} * -1) !default; // stylelint-disable-line function-disallowed-list

$pagination-hover-color: var(--#{$prefix}link-hover-color) !default;
$pagination-hover-border-color: var(--#{$prefix}border-color) !default; // Todo in v6: remove this?

$pagination-disabled-opacity: .5 !default;

$pagination-transition: color .15s, background-color .15s, border-color .15s !default;

// Dropdown
$dropdown-min-width: 12rem !default;
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: 0 !default;
$dropdown-spacer: 2px !default;
$dropdown-bg: var(--#{$prefix}light-bg) !default;
$dropdown-color: var(--#{$prefix}body-color) !default;
$dropdown-border-width: $border-width !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-border-color: var(--#{$prefix}border) !default;
$dropdown-inner-border-radius: calc(#{$dropdown-border-radius} - #{$dropdown-border-width}) !default; // stylelint-disable-line function-disallowed-list
$dropdown-divider-bg: var(--#{$prefix}border) !default;
$dropdown-divider-margin-y: 0 !default;

$dropdown-button-bg: var(--#{$prefix}tertiary-bg) !default;
$dropdown-button-color: var(--#{$prefix}body-color) !default;
$dropdown-button-border-color: $border-color !default;
$dropdown-button-active-bg: var(--#{$prefix}tertiary) !default;
$dropdown-button-active-border-color: var(--#{$prefix}tertiary-border) !default;
$dropdown-button-active-font-weight: bold !default;
$dropdown-button-hover-bg: var(--#{$prefix}tertiary) !default;
$dropdown-button-hover-border-color: var(--#{$prefix}tertiary) !default;

$dropdown-item-padding-y: 0.6565rem !default;
$dropdown-item-padding-x: .75rem !default;
$dropdown-link-color: var(--body-color) !default;
$dropdown-link-hover-bg: var(--#{$prefix}dark-bg) !default;
$dropdown-link-hover-color: var(--body-color) !default;
$dropdown-link-active-color: inherit !default;
$dropdown-link-active-bg: var(--#{$prefix}light) !default;
$dropdown-link-disabled-color: var(--#{$prefix}tertiary-color) !default;

$dropdown-header-padding-y: $dropdown-item-padding-y !default;
$dropdown-header-padding-x: $dropdown-item-padding-x !default;

$dropdown-header-padding-y: $dropdown-item-padding-y !default;
$dropdown-header-padding-x: $dropdown-item-padding-x !default;
$zindex-dropdown: 1000 !default;

// Badge
$badge-font-size: 0.75rem !default;
$badge-color: var(--#{$prefix}light) !default;
$badge-bg: var(--#{$prefix}tertiary) !default;
$badge-active-bg: var(--#{$prefix}light) !default;
$badge-active-color: var(--#{$prefix}dark) !important !default;
$badge-font-weight: normal !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.5rem !default;
$badge-border-radius: 0.5rem !default;

// Modal
$modal-footer-margin-between: .5rem !default;

$modal-inner-padding:               $spacer !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;

$modal-dialog-margin: .5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-content-color: null !default;
$modal-content-bg: $card-bg !default;
$modal-content-border-color: var(--#{$prefix}border-color) !default;
$modal-content-border-width: 0 !default;
$modal-content-border-radius: $border-radius !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;

$modal-backdrop-bg: rgba(0, 0, 0, .4) !default;
$modal-backdrop-opacity: .5 !default;

$modal-header-border-color: var(--#{$prefix}border-color) !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-header-bg: $card-cap-bg !default;
$modal-title-line-height:           $line-height-base !default;
$modal-title-font-weight: bold !default;

$modal-footer-bg: null !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-footer-border-width: $modal-header-border-width !default;


// Tooltip
$tooltip-color:                     var(--#{$prefix}body-bg) !default;
$tooltip-bg:                        var(--#{$prefix}body-color) !default;
$tooltip-border-radius:             $border-radius !default;

$zindex-tooltip:                    1080 !default;

$tooltip-max-width: 12rem !default;
$tooltip-arrow-width: 0.5rem !default;
$tooltip-arrow-height: $tooltip-arrow-width !default;
$tooltip-padding-y:                 $spacer * .25 !default;
$tooltip-padding-x:                 $spacer * .5 !default;
$tooltip-font-size:                 $font-size-sm !default;


//
///**
//Thumbnail.
// */
//$thumbnail-padding: $spacer-y !default;
//$thumbnail-caption-padding: $spacer-x !default;
//

// Icon
$icon-gap-x: .5rem !default;
//
///*
//Upload.
// */
//$upload-progress-top: 51px !default;
//$upload-progress-height: 10px !default;
//$upload-progress-bg: $success !default;
//
///*


// Trail
$trail-del-bg: $danger !default;
$trail-ins-bg: $success !default;
$trail-cell-padding: 0.5rem !default;

//@import "../../../../node_modules/bootstrap/scss/variables";

// Code

$code-font-size: $small-font-size !default;
$code-color: var(--#{$prefix}body-color) !default;

$kbd-padding-y: .1875rem !default;
$kbd-padding-x: .375rem !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: var(--#{$prefix}body-bg) !default;
$kbd-bg: var(--#{$prefix}body-color) !default;
$nested-kbd-font-weight: null !default; // Deprecated in v5.2.0, removing in v6

$pre-color: null !default;


// Characters which are escaped by the escape-svg function
$escaped-characters: (
                ("<", "%3c"),
                (">", "%3e"),
                ("#", "%23"),
                ("(", "%28"),
                (")", "%29"),
) !default;