
$grid-breakpoints: (
        xs: 0,
        sm: 36rem,
        md: 48rem,
        lg: 64rem,
        xl: 80rem
) !default;

$enable-important-utilities: true !default;


$spacer: 1rem !default;
$grid-spacer: .5rem !default;

$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-height: 3rem !default;
$nav-link-line-height: null !default;
$nav-link-min-width: 3rem !default;
$nav-link-padding: 0 1rem !default;
$nav-link-transition: color .15s, background-color .15s, border-color .15s !default;

$nav-pills-gap: .5rem !default;
$nav-pills-border-radius: .25rem .25rem 0 0 !default;

// Navbar
$navbar-expand-breakpoint: md !default;

$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;

$navbar-toggler-padding: $nav-link-padding !default;
$navbar-toggler-width: $nav-link-min-width !default;
$navbar-toggler-height: $nav-link-height !default;
$navbar-toggler-border-radius: 0 !default;
$navbar-icon-hex-color: #fff !default;
$navbar-toggler-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 30 30'><path stroke='#{$navbar-icon-hex-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

// Breadcrumbs
$breadcrumb-border-radius: .25rem !default;
$breadcrumb-divider-color: var(--breadcrumb-divider-color) !default;
$breadcrumb-divider: quote("/") !default;
$breadcrumb-font-size: null !default;
$breadcrumb-font-weight: normal !default;
$breadcrumb-gap-x: 0.5em !default;
$breadcrumb-item-max-width: 30em !default;
$breadcrumb-item-min-width: 10em !default;
$breadcrumb-line-height: null !default;
$breadcrumb-margin: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-padding-y: 0 !default;

// Progress
$progress-height: 0.5rem !default;
$progress-top: 3rem !default;
$progress-bg: var(--progress-bg) !default;
$progress-bar-bg: var(--progress-bar-bg) !default;

// Header
$header-margin: 0 0 $spacer * 2 !default;
$header-text-align: center !default;
$header-line-height: 1.4 !default;

$submenu-border-bottom-width: 2px !default;
$submenu-link-margin: 0 0.125rem $spacer !default;
$submenu-margin: 0 !default;
$submenu-justify-content: center !default;

// Alert
$alert-heading-font-weight: bold !default;
$alert-heading-margin-bottom: .5rem !default;
$alert-gap: $spacer !default;
$alert-buttons-gap: .5rem !default;

// Card
$card-border-radius: .25rem !default;
$card-border-width: 0 !default;
$card-header-border-bottom-width: 0 !default;
$card-header-padding-x: $spacer !default;
$card-header-padding-y: .75rem !default;
$card-inner-border-radius: .25rem !default;
$card-spacer-x: $spacer !default;
$card-spacer-y: $spacer !default;
$card-title-font-weight: 500 !default;

// Grid
$grid-view-font-size: null !default;
$grid-view-line-height: null !default;
$grid-view-header-border: none !default;
$grid-view-spacer: $grid-spacer !default;
$grid-view-footer-margin-top: -1px !default;
$grid-view-footer-border-width: 1px !default;

// Forms
//$form-padding-x: 0.75rem !default;
$form-padding-x: 1rem !default;
$form-padding-y: 0.5625rem !default;
$form-padding-y-sm: 0.4375rem !default;
$form-font-size: .875rem !default;
$form-line-height: 1.4 !default;

$form-sticky-position: sticky !default;
$form-sticky-border-width: 1px !default;

$form-group-gap: .5rem !default;
$form-group-spacer: $spacer !default;

$form-group-horizontal-gap: 1rem !default;
$form-group-horizontal-max-width: 76rem !default;
$form-group-horizontal-template-columns: 1fr 3fr !default;

$form-invalid-bg: var(--form-invalid-bg) !default;
$form-invalid-border-color: var(--form-invalid-border) !default;
$form-invalid-color: var(--form-invalid-color) !default;

// Buttons
$btn-color: var(--color-black) !default;
$btn-padding-x: $form-padding-x !default;
$btn-padding-y: $form-padding-y !default;
$btn-font-family: null !default;
$btn-font-size: .875rem !default;
$btn-line-height: null !default;
$btn-font-weight: 500 !default;
$btn-white-space: null !default;

$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.375rem !default;
$btn-font-size-sm: .75rem !default;
$btn-font-weight-sm: 500 !default;
$btn-line-height-sm: 1.125rem !default;

$btn-border-radius: .25rem !default;
$btn-border-radius-sm: .25rem !default;
$btn-white-space: nowrap !default;
$btn-border-width: 1px !default;
$btn-min-width: 2.625rem !default;
$btn-transition: color .15s, background-color .15s, border-color .15s;
$btn-disabled-opacity: .5 !default;

$btn-toolbar-gap: .5rem !default;

// Inputs
$input-border-color: var(--input-border-color) !default;
$input-border-radius: .25rem !default;
$input-border-width: 1px !default;
$input-color: var(--input-color) !default;
$input-font-family: null !default;
$input-font-size: var(--form-font-size) !default;
$input-font-weight: 400 !default;
$input-height-inner-half: calc(1.5 / #{$input-font-size}) !default; // todo
$input-line-height: var(--form-line-height) !default;
$input-padding-x: var(--form-padding-x) !default;
$input-padding-y: var(--form-padding-y) !default;
$input-transition: border-color .15s ease-in-out, color .15s ease-in-out !default;

$input-focus-width: .25rem !default;

$input-placeholder-color: var(--color-black) !default;
$input-placeholder-opacity: 0.6 !default;
$input-plaintext-color: var(--color-black) !default;

$input-group-addon-font-weight: $input-font-weight !default;
$input-group-addon-padding-x: $input-padding-x !default;
$input-group-addon-padding-y: $input-padding-y !default;

$select-bg-position: right $input-padding-x center !default;
$select-border-radius: $input-border-radius !default;
$select-border-width: $input-border-width !default;
$select-font-family: $input-font-family !default;
$select-font-size: $input-font-size !default;
$select-font-weight: $input-font-weight !default;
$select-indicator-padding: calc($input-padding-x * 3) !default; // Extra padding for background-image
$select-line-height: $input-line-height !default;
$select-padding-x: $input-padding-x !default;
$select-padding-y: $input-padding-y !default;
$select-transition: $input-transition !default;

$form-label-font-size: null !default;
$form-label-line-height: null !default;
$form-label-font-style: null !default;
$form-label-color: var(--color-black) !default;
$form-label-font-weight: 500 !default;
$form-label-padding-y: $btn-padding-y !default;
$form-label-padding-x: 0 !default;

// Checkbox
$checkbox-label-cursor: null !default;
$checkbox-label-font-size: null !default;
$checkbox-label-line-height: 1.4 !default;
$checkbox-transition: null !default;

$checkbox-input-border-radius: .25rem !default;
$checkbox-input-width: 1.25rem !default;
$checkbox-border-width: 1px !default;
$checkbox-input-height: $checkbox-input-width !default;
$checkbox-gap: 0.75rem !default;

$checkbox-radio-border-radius: 50% !default;

$checkbox-input-focus-outline: 0 !default;

$checkbox-input-disabled-opacity: .5 !default;
$checkbox-label-disabled-opacity: $checkbox-input-disabled-opacity !default;
$checkbox-btn-check-disabled-opacity: .5 !default;

$checkbox-inline-margin-end: 1rem !default;

// List group
$list-group-border-radius: .25rem !default;
$list-group-border-width: 1px !default;
$list-group-font-size: null !default;
$list-group-font-weight: 500 !default;
$list-group-line-height: 1.4 !default;

$list-group-action-padding-x: $spacer !default;
$list-group-action-padding-y: $spacer !default;

// Tables
$table-border-width: 1px !default;
$table-striped-order: odd !default;
$table-cell-padding-y: 1rem !default;
$table-cell-padding-x: 1rem !default;
$table-cell-vertical-align: top !default;
$table-th-font-weight: null !default;

$table-margin-bottom: 0 !default;
$table-th-active-font-style: normal !default;
$table-th-active-text-decoration: underline !default;

$table-border-radius: .25rem !default;

// Pagination
$pagination-gap: 0.5rem !default;
$pagination-justify-content: center !default;
$pagination-margin: $spacer 0 !default;
$pagination-padding: 0 !default;

$page-link-border-radius: .25rem !default;
$page-link-border-width: 0 !default;
$page-link-disabled-opacity: .5 !default;
$page-link-font-size: .875rem !default;
$page-link-padding-x: 1rem !default;
$page-link-line-height: 1.4 !default;
$page-link-padding-y: $btn-padding-y !default;
$page-link-transition: color .15s, background-color .15s, border-color .15s !default;

// Dropdown
$dropdown-border-radius: .25rem !default;
$dropdown-border-width: 0 !default;
$dropdown-button-active-font-weight: 500 !default;
$dropdown-divider-border-width: 1px !default;
$dropdown-divider-margin-y: 0 !default;
$dropdown-font-size: null !default;
$dropdown-inner-border-radius: .25rem !default;
$dropdown-line-height: null !default;
$dropdown-max-height: 50vh !default;
$dropdown-min-width: 12rem !default;
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: 0 !default;

$dropdown-header-border-width: 1px !default;
$dropdown-header-padding-x: 0.75rem !default;
$dropdown-header-padding-y: 0.625rem !default;

$dropdown-item-default-font-weight: 500 !default;
$dropdown-item-padding-x: $dropdown-header-padding-x !default;
$dropdown-item-padding-y: $dropdown-header-padding-y !default;

// Badge
$badge-font-size: .75rem !default;
$bade-line-height: 1.125rem !default;
$badge-font-weight: 500 !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.5rem !default;
$badge-border-radius: 0.25rem !default;

// Modal
$modal-dialog-margin: .5rem !default;
$modal-backdrop-opacity: .5 !default;

$modal-header-border-width: 0 !default;
$modal-header-padding-x: $spacer !default;
$modal-header-padding-y: $spacer !default;

$modal-title-font-weight: 500 !default;
$modal-title-line-height: 1.4 !default;

$modal-content-border-radius: .25rem !default;
$modal-content-border-width: 0 !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;

$modal-footer-border-width: 0 !default;
$modal-footer-gap: .5rem !default;

// Tooltip
$tooltip-arrow-height: 0.5rem !default;
$tooltip-arrow-width: 0.5rem !default;
$tooltip-border-radius: .25rem !default;
$tooltip-font-size: .75rem !default;
$tooltip-line-height: 1.125rem !default;
$tooltip-max-width: 12rem !default;
$tooltip-padding-x: $spacer * .5 !default;
$tooltip-padding-y: $spacer * .25 !default;
$tooltip-z-index: 1080 !default;


// Icon
$icon-gap-x: .5rem !default;
//
///*
//Upload.
// */
//$upload-progress-top: 51px !default;
//$upload-progress-height: 10px !default;
//$upload-progress-bg: $success !default;
//
///*


// Trail
$trail-del-bg: #e43c3c !default;
$trail-ins-bg: #a3cba3 !default;
$trail-cell-padding: 0.5rem !default;

$code-font-size: .75rem !default;
$code-color: var(--color-black) !default;


// Keyboard
$kbd-padding-y: .1875rem !default;
$kbd-padding-x: .375rem !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: var(--color-white) !default;
$kbd-bg: var(--color-black) !default;
$nested-kbd-font-weight: null !default; // Deprecated in v5.2.0, removing in v6

$pre-color: null !default;


// Characters which are escaped by the escape-svg function
$escaped-characters: (
                ("<", "%3c"),
                (">", "%3e"),
                ("#", "%23"),
                ("(", "%28"),
                (")", "%29"),
) !default;