//@import "../../../../node_modules/bootstrap/scss/alert";

.alert {
  position: relative;
  padding: $alert-padding-x $alert-padding-y;
  margin-bottom: $alert-margin-bottom;
  color: var(--#{$prefix}alert-color, inherit);
  background-color: var(--#{$prefix}alert-bg, transparent);
  border: $alert-border-width solid var(--#{$prefix}alert-border-color, transparent);
  @include border-radius($alert-border-radius);

  a {
    font-weight: $alert-link-font-weight;
    color: var(--#{$prefix}alert-link-color, inherit);
  }

  ul {
    margin: $alert-padding-y $alert-padding-x 0 0;
    list-style-type: square;
  }

  li {
    padding-bottom: $alert-padding-y;
    font-weight: normal;
  }
}

.alert-dismissible {
  padding-right: $alert-dismissible-padding-r;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $stretched-link-z-index + 1;
    padding: $alert-padding-y * 1.25 $alert-padding-x;
  }
}

@each $state in map-keys($theme-colors) {
  .alert-#{$state} {
    --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
    --#{$prefix}alert-bg: var(--#{$prefix}#{$state}-bg-subtle);
    --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-border-subtle);
    --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-text-emphasis);
  }
}

.alert-heading{
    font-weight: $app-alert-heading-font-weight;
}