@import "shared/fonts";

// Configuration
@import "shared/breakpoints";

// Layout & components
@import "admin/theme";
@import "admin/reboot";

@import "admin/type";

@import "admin/images";
@import "admin/containers";
@import "admin/grid";

@import "admin/card";
@import "admin/tables";
@import "admin/labels";
@import "admin/input";
@import "admin/form-select";
@import "admin/form-check";
@import "admin/input-group";
@import "admin/validation";
@import "admin/buttons";
@import "admin/dropdown";
@import "admin/nav";
@import "admin/navbar";

@import "admin/breadcrumb";
@import "admin/pagination";
@import "admin/progress";
@import "admin/badge";
@import "admin/alert";
@import "admin/stack";
@import "admin/modal";
@import "admin/sortable";
@import "admin/tooltip";

@import "admin/layout";
@import "admin/dashboard";
@import "admin/trail";

@import "admin/utilities";
