.icon {
  display: grid;
  flex-shrink: 0;
  height: 1lh;
  min-width: 1lh;
  place-items: center;
  text-align: center;
}

.img-thumbnail {
  aspect-ratio: 5 / 4;
  object-fit: contain;
  object-position: top left;
}

.img-transparent {
  //noinspection CssUnknownTarget
  background: url(../images/transparent.svg);
}