.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;

  .navbar ~ & {
    padding-top: var(--scroll-padding);
  }
}

.page-header {
  margin: 0 0 2rem;
  text-align: center;
}

.submenu {
  border-bottom: 2px solid var(--submenu-border-color);
  justify-content: center;
}